项目文档/flow/网站监控/mongotoredis.txt
[{"id":"5b6cb201.a4934c","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"mydb","name":""},{"id":"49508493.b6af7c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":181.88888549804688,"y":109.88888549804688,"z":"4841cad.fb7be34","wires":[["619e2078.9e61e"]]},{"id":"619e2078.9e61e","type":"function","name":"readFromMongodb","useRequire":false,"func":"msg.payload={}\nmsg.projection={'栏目对照':1}\nmsg.limit=200\nreturn msg\n","outputs":1,"x":408.8888854980469,"y":174.3888702392578,"z":"4841cad.fb7be34","wires":[["3a0f1c01.c5f0e4"]]},{"id":"3a0f1c01.c5f0e4","type":"mongodb in","mongodb":"5b6cb201.a4934c","name":"","collection":"channelInfo","operation":"find","x":679.3890686035156,"y":161.6388702392578,"z":"4841cad.fb7be34","wires":[["274d1eba.d8b2e2"]]},{"id":"274d1eba.d8b2e2","type":"function","name":"toRedisHash","useRequire":false,"func":"\nvar len=msg.payload.length;\nvar output=[];\nfor(var i=0;i<len;++i)\n{\n\tvar name=msg.payload[i].栏目对照.split('(')[0];\n\tvar channel1=msg.payload[i].栏目对照.split(')')[1];\n\tvar channel2 = channel1.replace(/\\s+/g,\"\");\n\tif(channel2.indexOf('index.html')>0)\n\t{\n\t\tvar channel=channel2.substring(0,channel2.indexOf('index.html'));\n\t}\n\telse\n\t{\n\t\tchannel=channel2;\n\t}\n\toutput.push(['hset','channleName',channel,name]);\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":923.8889465332031,"y":157.88888549804688,"z":"4841cad.fb7be34","wires":[["10f4a16.fef0b5f"]]},{"id":"10f4a16.fef0b5f","type":"yield","x":1070.8889465332031,"y":162.88888549804688,"z":"4841cad.fb7be34","wires":[["9942d45b.66bd28"]]},{"id":"9942d45b.66bd28","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":1255.8889465332031,"y":165.88888359069824,"z":"4841cad.fb7be34","wires":[]},{"id":"e6a6731d.19599","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":192.88888549804688,"y":307.8888854980469,"z":"4841cad.fb7be34","wires":[["a97dfeaf.5682"]]},{"id":"a97dfeaf.5682","type":"function","name":"readFromMongodb","useRequire":false,"func":"msg.payload={}\nmsg.projection={'单位':1,'begin':1,'end':1,'网关':1}\nmsg.limit=1000\nreturn msg\n","outputs":1,"x":376.8888854980469,"y":326.3888702392578,"z":"4841cad.fb7be34","wires":[["412a26b6.bed5d8"]]},{"id":"412a26b6.bed5d8","type":"mongodb in","mongodb":"5b6cb201.a4934c","name":"","collection":"webinfo","operation":"find","x":589.3889770507812,"y":250.6388702392578,"z":"4841cad.fb7be34","wires":[["aaadd051.55523"]]},{"id":"aaadd051.55523","type":"function","name":"toRedis_Hash","useRequire":false,"func":"var len=msg.payload.length;\nvar output=[];\nfor(var i=0;i<len;++i)\n{\n\tvar value=msg.payload[i].单位;\n\tvar begin=parseInt(msg.payload[i].begin);\n\tvar end=parseInt(msg.payload[i].end);\n\tfor(var j=begin;j<=end;++j)\n\t{\n\t\t\n\t\tvar temp=msg.payload[i].网关.split('.');\n\t\tvar key=temp[0]+'.'+temp[1]+'.'+temp[2]+'.'+j;\n\t\toutput.push(['hset','ipBelong_hash',key,value]);\n\t}\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":789.166748046875,"y":343.27779388427734,"z":"4841cad.fb7be34","wires":[["b643170f.49bce8"]]},{"id":"b643170f.49bce8","type":"yield","x":992.166748046875,"y":354.27779388427734,"z":"4841cad.fb7be34","wires":[["d1be5aaa.2e41a8"]]},{"id":"d1be5aaa.2e41a8","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":1194.1666564941406,"y":361.6111068725586,"z":"4841cad.fb7be34","wires":[]}]