项目文档/flow/网站监控/主站频道更新.txt
[{"id":"ddb39176.224c7","type":"function","name":"getOneMonth","useRequire":false,"func":"function getCurrentDate() {\n    var date = new Date();\n    var seperator1 = \"-\";\n    var month = date.getMonth() + 1;\n    var strDate = date.getDate();\n    if (month >= 1 && month <= 9) {\n        month = \"0\" + month;\n    }\n    if (strDate >= 0 && strDate <= 9) {\n        strDate = \"0\" + strDate;\n    }\n    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate;\n    return currentdate;\n}\nfunction getStartDate()\n{\n\tvar date=new Date();\n\tvar seperator1='-';\n\tvar month=date.getMonth()+1;\n\tvar strDate=date.getDate();\n\tif(strDate>=30)\n\t{\n\t\tstrDate-=30;\n\t}else\n\t{\n\t\tmonth-=1;\n\t}\n\tif (month >= 1 && month <= 9) {\n        month = \"0\" + month;\n    }\n    if (strDate >= 0 && strDate <= 9) {\n        strDate = \"0\" + strDate;\n    }\n    var startDate = date.getFullYear() + seperator1 + month + seperator1 + strDate;\n    return startDate;\n}\nvar endTime=getCurrentDate();\nvar startTime=getStartDate();\n\nmsg.url=\"http://192.168.12.24:8080/eportal/ui?moduleId=4de77eebf7b84dffbf2947699874fb60&struts.portlet.action=/portlet/salaryFront!getResult.action&startTime=\"+startTime+\"&endTime=\"+endTime+\"&siteId=91223\";\n//msg.method=\"get\";\nreturn msg;","outputs":1,"x":346.5182189941406,"y":280.5227813720703,"z":"ab053491.54fac8","wires":[["6a69ec60.959614"]]},{"id":"6a69ec60.959614","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":575.5182189941406,"y":284.52281188964844,"z":"ab053491.54fac8","wires":[["2d88a68a.d2775a"]]},{"id":"911b2635.6ee4d8","type":"function","name":"getTwoWeeks","useRequire":false,"func":"function getCurrentDate() {\n    var date = new Date();\n    var seperator1 = \"-\";\n    var month = date.getMonth() + 1;\n    var strDate = date.getDate();\n    if (month >= 1 && month <= 9) {\n        month = \"0\" + month;\n    }\n    if (strDate >= 0 && strDate <= 9) {\n        strDate = \"0\" + strDate;\n    }\n    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate;\n    return currentdate;\n}\nfunction getStartDate()\n{\n\tvar date=new Date();\n\tvar seperator1='-';\n\tvar month=date.getMonth()+1;\n\tvar strDate=date.getDate();\n\tif(strDate>=14)\n\t{\n\t\tstrDate-=14;\n\t}else\n\t{\n\t\tmonth-=1;\n\t}\n\tif (month >= 1 && month <= 9) {\n        month = \"0\" + month;\n    }\n    if (strDate >= 0 && strDate <= 9) {\n        strDate = \"0\" + strDate;\n    }\n    var startDate = date.getFullYear() + seperator1 + month + seperator1 + strDate;\n    return startDate;\n}\nvar endTime=getCurrentDate();\nvar startTime=getStartDate();\n\nmsg.url=\"http://192.168.12.24:8080/eportal/ui?moduleId=4de77eebf7b84dffbf2947699874fb60&struts.portlet.action=/portlet/salaryFront!getResult.action&startTime=\"+startTime+\"&endTime=\"+endTime+\"&siteId=91223\";\n//msg.method=\"get\";\nreturn msg;","outputs":1,"x":355.5182189941406,"y":162.5229034423828,"z":"ab053491.54fac8","wires":[["d8e00114.272"]]},{"id":"d8e00114.272","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":557.5181274414062,"y":162.5229034423828,"z":"ab053491.54fac8","wires":[["f0e913c.f0f16f"]]},{"id":"982bc6c2.67d438","type":"function","name":"getThreeMonth","useRequire":false,"func":"function getCurrentDate() {\n    var date = new Date();\n    var seperator1 = \"-\";\n    var month = date.getMonth() + 1;\n    var strDate = date.getDate();\n    if (month >= 1 && month <= 9) {\n        month = \"0\" + month;\n    }\n    if (strDate >= 0 && strDate <= 9) {\n        strDate = \"0\" + strDate;\n    }\n    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate;\n    return currentdate;\n}\nfunction getStartDate()\n{\n\tvar date=new Date();\n\tvar seperator1='-';\n\tvar month=date.getMonth()+1;\n\tvar strDate=date.getDate();\n\tvar year=date.getFullYear();\n\tif(month>3)\n\t{\n\t\tmonth-=3;\n\t}else\n\t{\n\t\tvar dep=3-month;\n\t\tmonth=12-dep;\n\t\tyear-=1;\n\t}\n\tif (month >= 1 && month <= 9) {\n        month = \"0\" + month;\n    }\n    if (strDate >= 0 && strDate <= 9) {\n        strDate = \"0\" + strDate;\n    }\n    var startDate = year + seperator1 + month + seperator1 + strDate;\n    return startDate;\n}\nvar endTime=getCurrentDate();\nvar startTime=getStartDate();\nmsg.url=\"http://192.168.12.24:8080/eportal/ui?moduleId=4de77eebf7b84dffbf2947699874fb60&struts.portlet.action=/portlet/salaryFront!getResult.action&startTime=\"+startTime+\"&endTime=\"+endTime+\"&siteId=91223\";\n//msg.method=\"get\";\nreturn msg;","outputs":1,"x":347.5182189941406,"y":345.52281188964844,"z":"ab053491.54fac8","wires":[["6024a62d.9fdb58"]]},{"id":"6024a62d.9fdb58","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":677.5181884765625,"y":371.52281188964844,"z":"ab053491.54fac8","wires":[["b5f167c2.4a0e98"]]},{"id":"4af97208.b5068c","type":"function","name":"getOneYear","useRequire":false,"func":"function getCurrentDate() {\n    var date = new Date();\n    var seperator1 = \"-\";\n    var month = date.getMonth() + 1;\n    var strDate = date.getDate();\n    if (month >= 1 && month <= 9) {\n        month = \"0\" + month;\n    }\n    if (strDate >= 0 && strDate <= 9) {\n        strDate = \"0\" + strDate;\n    }\n    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate;\n    return currentdate;\n}\nfunction getStartDate()\n{\n\tvar date=new Date();\n\tvar seperator1='-';\n\tvar month=date.getMonth()+1;\n\tvar strDate=date.getDate();\n\tvar year=date.getFullYear()-1;\n\tif (month >= 1 && month <= 9) {\n        month = \"0\" + month;\n    }\n    if (strDate >= 0 && strDate <= 9) {\n        strDate = \"0\" + strDate;\n    }\n    var startDate = year + seperator1 + month + seperator1 + strDate;\n    return startDate;\n}\nvar endTime=getCurrentDate();\nvar startTime=getStartDate();\nmsg.url=\"http://192.168.12.24:8080/eportal/ui?moduleId=4de77eebf7b84dffbf2947699874fb60&struts.portlet.action=/portlet/salaryFront!getResult.action&startTime=\"+startTime+\"&endTime=\"+endTime+\"&siteId=91223\";\n//msg.method=\"get\";\nreturn msg;","outputs":1,"x":337.5181884765625,"y":439.5228729248047,"z":"ab053491.54fac8","wires":[["635ec87a.9ca138"]]},{"id":"635ec87a.9ca138","type":"http request","name":"","method":"GET","ret":"txt","url":"","x":577.5181579589844,"y":441.5228729248047,"z":"ab053491.54fac8","wires":[["76aea753.895158"]]},{"id":"f0e913c.f0f16f","type":"function","name":"","useRequire":false,"func":"var ob = eval(\"(\" + msg.payload + \")\");\nmsg.payload = ob;\nreturn msg;","outputs":1,"x":732.0286560058594,"y":179.5528564453125,"z":"ab053491.54fac8","wires":[["60ac1460.9f53ec"]]},{"id":"60ac1460.9f53ec","type":"function","name":"two weeks","useRequire":true,"func":"var keywords=['焦点新闻','图片新闻','热点推荐','领导活动','会议','论述','其他','部门要闻','县市要闻','领导活动','时政','经济建设','社会生活'];\nvar updateCount = 0;\nvar pageName=[];\n   var pages = msg.payload;\n   for(var i in pages)\n   {\n      for(var k in keywords)\n      {\n          if(pages[i].pageName.indexOf(keywords[k])>=0)\n          {\n              updateCount+= parseInt(pages[i].publishNum);\n              pageName.push(pages[i].pageId+'#'+pages[i].pageName+'#'+pages[i].url+'#'+pages[i].publishNum);\n              break;\n              \n          }\n      }\n   }\n   var payload = {};\n//   if(pageName.length!=0)\n//   {\n//   \t   var className=pageName[0].pageName;\n//   }\n//   else{\n//   \t   var className=\"新闻类\";\n//   }\n//   \n//   payload.className=className;\n   payload.pageNames=pageName;\n   payload.updateCount = updateCount;\n   payload.setName='_xinwen'\n   msg.payload = payload;\n   return msg;","outputs":1,"x":903.5181579589844,"y":161.06944274902344,"z":"ab053491.54fac8","wires":[["dd4f39df.22b0c8"]]},{"id":"2d88a68a.d2775a","type":"function","name":"","useRequire":false,"func":"var ob = eval(\"(\" + msg.payload + \")\");\nmsg.payload = ob;\nreturn msg;","outputs":1,"x":770.5391540527344,"y":261.5528106689453,"z":"ab053491.54fac8","wires":[["f953057d.06acf8"]]},{"id":"f953057d.06acf8","type":"function","name":"one month","useRequire":true,"func":"var keywords=['罗凉清活动','胡云活动','杨卉活动','施遐活动','余毅活动','白云活动','肖春活动','朱学雷活动','罗凉清图片报道','胡云图片报道','杨卉图片报道','施遐图片报道','余毅图片报道','白云图片报道','肖春图片报道','朱学雷图片报道','建设动态','项目投资情况','进展情况','审计工作要闻','监管动态','专项检查整治','认证许可','案件处理','环境保护','污染源环境监管','环保核查处理','项目环评公告','空气环境质量',\"地表水质\",\"湖库水质\",\"饮用水质\",\"安全生产监管动态\",\"安全许可公示\",\"专项检查整治\",\"伤亡事故情况\",\"事故查处\",\"工作动态\",\"价格监督检查\",\"价格监测分析\",\"工作动态\",\"工作信息\",\"运行情况\",\"坚持依法行政\",\"提高行政效能\",\"加强廉政建设\",\"增强执行落实能力\",\"电子政务\",\"农业现代化\",\"新型工业化\",\"新型城镇化\",\"文化大发展\",\"美丽富饶文明和谐安宁河谷建设\",\"11个国家扶贫开发重点县扶贫攻坚\",\"西昌经济圈\",\"两会增长极\",\"政府机构改革\",\"集体林权制度改革\",\"基层医药卫生体制综合改革\",\"加快科技进步与创新\",\"加大品牌建设力度\",\"结构调整与优化\",\"发展民营经济\",\"加强对外开放合作\",\"加强招商引资\",\"就业促进实施进展\",\"民族地区帮扶实施进展\",\"扶贫解困实施进展\",\"社会保障实施进展\",\"教育助学实施进展\",\"百姓安居实施进展\",\"医疗卫生实施进展\",\"生态环境实施进展\",\"基础设施实施进展\",\"文化体育实施进展\", \"移民工作动态\", \"就业社保\",\"教育\",\"医疗卫生\", \"文化体育实施进展\", \"人口计生\", \"城乡规划\", \"城乡建设\",\"综合治理\", \"综合扶贫\", \"产业化扶贫工程\", \"基础设施扶贫工程\",\"教育扶贫工程\",\"卫生扶贫工程\", \"社保扶贫工程\",\"劳务扶贫工程\", \"生态扶贫工程\",\"新村建设扶贫工程\", \"最新动态\",\"新闻动态\", \"最新动态\",\"新闻动态\", \"最新动态\", \"最新动态\",\"最新动态\",\"最新动态\",\"最新动态\", \"图片新闻\",\"投资动态\",\"投资统计\", \"发展型经济\", \"企业在线\",\"旅游资讯\"];\nvar updateCount = 0;\nvar pageName=[];\n   var pages = msg.payload;\n   for(var i in pages)\n   {\n      for(var k in keywords)\n      {\n          if(pages[i].pageName.indexOf(keywords[k])>=0)\n          {\n              updateCount+= parseInt(pages[i].publishNum);\n              pageName.push(pages[i].pageId+'#'+pages[i].pageName+'#'+pages[i].url+'#'+pages[i].publishNum);\n              break;\n              \n          }\n      }\n   }\n   var payload = {};\n//   if(pageName.length!=0)\n//   {\n//   \t   var updateName=pageName[0];\n//   }\n//   else{\n//   \t   var updateName=\"信息公开类\";\n//   }\n   payload.pageNames=pageName;\n   payload.updateCount = updateCount;\n   payload.setName='_xinxi'\n   msg.payload = payload;\n   return msg;","outputs":1,"x":930.0286560058594,"y":236.0695343017578,"z":"ab053491.54fac8","wires":[["3d13e26b.c2ec1e"]]},{"id":"b937a7a7.46c858","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132.51821899414062,"y":316.52288818359375,"z":"ab053491.54fac8","wires":[["ddb39176.224c7","982bc6c2.67d438","4af97208.b5068c","911b2635.6ee4d8"]]},{"id":"dd4f39df.22b0c8","type":"function","name":"","useRequire":false,"func":"var ob  = msg.payload;\nvar setName=ob.setName;\nvar tempstr = ob.pageNames;\nmsg.payload = ['zincrby',setName,ob.updateCount, tempstr];\nreturn msg;","outputs":1,"x":1069.5181579589844,"y":105.52290344238281,"z":"ab053491.54fac8","wires":[["e4e68b0a.1b1978"]]},{"id":"e4e68b0a.1b1978","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"web_channel_static","x":1360.5181579589844,"y":184.5229034423828,"z":"ab053491.54fac8","wires":[]},{"id":"2b2dabc5.d4d254","type":"function","name":"","useRequire":false,"func":"msg.payload=['del','_renshi','_zhengce','_xinxi','_xinwen']\nreturn msg;","outputs":1,"x":695.5181579589844,"y":535.5228881835938,"z":"ab053491.54fac8","wires":[["fd5fb47a.02a048"]]},{"id":"fd5fb47a.02a048","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"del redis","x":871.5181579589844,"y":521.5228805541992,"z":"ab053491.54fac8","wires":[]},{"id":"e4b206ef.1b4df8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":491.5181579589844,"y":530.8562138875326,"z":"ab053491.54fac8","wires":[["2b2dabc5.d4d254"]]},{"id":"3630add6.c9cf52","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"_xinwen","key":"_xinwen","structtype":"zset","x":459.51812744140625,"y":635.7120666503906,"z":"ab053491.54fac8","wires":[["6962fe24.969d"]]},{"id":"6962fe24.969d","type":"function","name":"","useRequire":false,"func":"var value=msg.payload[0].split(',');\nvar payload=[]\npayload.push([\"频道ID\",\"频道名称\",\"频道URL\",\"更新次数\"])\nfor(var i=0;i<value.length;i++)\n{\n\tvar temp=value[i].split('#');\n\tvar pageId=temp[0];\n\tvar pageName=temp[1];\n\tvar pageURL=temp[2];\n\tvar publishNum=parseInt(temp[3]);\n\tpayload.push([pageId,pageName,pageURL,publishNum]);\n}\npayload ={'value':payload}\nmsg.payload ={'MsgID':'lszwebpush_table_xinwen','username':'lszweb','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\nreturn msg;","outputs":1,"x":659.5181274414062,"y":604.8231506347656,"z":"ab053491.54fac8","wires":[["e63cef35.19c31"]]},{"id":"3d13e26b.c2ec1e","type":"function","name":"","useRequire":false,"func":"var ob  = msg.payload;\nvar setName=ob.setName;\nvar tempstr = ob.pageNames;\nmsg.payload = ['zincrby',setName,ob.updateCount, tempstr];\nreturn msg;","outputs":1,"x":1055.5181579589844,"y":195.5229034423828,"z":"ab053491.54fac8","wires":[["e4e68b0a.1b1978"]]},{"id":"8d289d3f.72d76","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"_xinxi","key":"_xinxi","structtype":"zset","x":459.51812744140625,"y":724.8231658935547,"z":"ab053491.54fac8","wires":[["a7fd6e90.58029"]]},{"id":"a7fd6e90.58029","type":"function","name":"","useRequire":false,"func":"var value=msg.payload[0].split(',');\nvar payload=[]\npayload.push([\"频道ID\",\"频道名称\",\"频道URL\",\"更新次数\"])\nfor(var i=0;i<value.length;i++)\n{\n\tvar temp=value[i].split('#');\n\tvar pageId=temp[0];\n\tvar pageName=temp[1];\n\tvar pageURL=temp[2];\n\tvar publishNum=parseInt(temp[3]);\n\tpayload.push([pageId,pageName,pageURL,publishNum]);\n}\npayload ={'value':payload}\nmsg.payload ={'MsgID':'lszwebpush_table_xinxi','username':'lszweb','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\nreturn msg;","outputs":1,"x":654.5181579589844,"y":726.9342498779297,"z":"ab053491.54fac8","wires":[["63e9301b.9c16d"]]},{"id":"b5f167c2.4a0e98","type":"function","name":"","useRequire":false,"func":"var ob = eval(\"(\" + msg.payload + \")\");\nmsg.payload = ob;\nreturn msg;","outputs":1,"x":813.5181579589844,"y":356.52284240722656,"z":"ab053491.54fac8","wires":[["37be12d9.c841ee"]]},{"id":"37be12d9.c841ee","type":"function","name":"three month","useRequire":true,"func":"var keywords=[\"州政府发文\",\"州政府人事任免\",\"州政府函\",\"州政府办公室发文\",\"州政府办公室函\",\"工作通报\",\"其他文件\",\"国家政策法规解读\",\"四川省政策法规解读\",\"凉山州政策法规解读\",\"政策法规\",\"政策解读\",\"基本地价\",\"补偿标准\",\"教育收费\",\"医疗收费\",\"电价\",\"自来水价\",\"药品价格\",\"成品油价格\",\"交通运输价格\",\"其它价格\",\"价格文件\",\"政策法规\",\"政策解读\",\"政务公告\",\"干部任前公示\",\"资质、资格、自学考试公告\",\"其它\",\"工作进展\",\"项目情况\",\"房源信息\",\"分配信息\",\"实施情况\",\"相关政策文件\",\"城乡居民收入\",\"地区生产总值\",\"规模以上工业生产、销售、经济效益\",\"居民消费价格指数\",\"主要工业品价格指数\",\"财政\",\"金融\",\"固定资产投资\",\"商业\",\"对外经济\",\"政策措施\",\"采购招标公告\",\"采购中标结果\",\"征求意见公告\",\"更正公告\",\"招投标公告\",\"比选公告\",\"招投标核准\",\"政策法规\",\"就业促进政策法规\",\"民族地区帮扶政策法规\",\"扶贫解困政策法规\",\"社会保障政策法规\",\"教育助学政策法规\",\"百姓安居政策法规\",\"医疗卫生政策法规\",\"生态环境政策法规\",\"基础设施政策法规\",\"文化体育政策法规\",\"投资政策\",\"捐赠救助\",\"移民政策\",\"政策法规\",\"政策法规\",\"政策法规\",\"政策法规\",\"政策法规\",\"政策法规\",\"政策法规\",\"政策法规\",\"政策法规\",\"招商项目\",\"投资政策\"];\nvar updateCount = 0;\nvar pageName=[];\n   var pages = msg.payload;\n   for(var i in pages)\n   {\n      for(var k in keywords)\n      {\n          if(pages[i].pageName.indexOf(keywords[k])>=0)\n          {\n              updateCount+= parseInt(pages[i].publishNum);\n              pageName.push(pages[i].pageId+'#'+pages[i].pageName+'#'+pages[i].url+'#'+pages[i].publishNum);\n              break;\n              \n          }\n      }\n   }\n   var payload = {};\n//   if(pageName.length!=0)\n//   {\n//   \t   var updateName=pageName[0];\n//   }\n//   else{\n//   \t   var updateName=\"信息公开类\";\n//   }\n   payload.pageNames=pageName;\n   payload.updateCount = updateCount;\n   payload.setName='_zhengce'\n   msg.payload = payload;\n   return msg;","outputs":1,"x":955.0076599121094,"y":347.03953552246094,"z":"ab053491.54fac8","wires":[["19b20589.e64dfa"]]},{"id":"19b20589.e64dfa","type":"function","name":"","useRequire":false,"func":"var ob  = msg.payload;\nvar setName=ob.setName;\nvar tempstr = ob.pageNames;\nmsg.payload = ['zincrby',setName,ob.updateCount, tempstr];\nreturn msg;","outputs":1,"x":1073.4971618652344,"y":281.49290466308594,"z":"ab053491.54fac8","wires":[["e4e68b0a.1b1978"]]},{"id":"734d00aa.8cb3","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"_zhengce","key":"_zhengce","structtype":"zset","x":453.5181579589844,"y":844.9733734130859,"z":"ab053491.54fac8","wires":[["cf821bc8.307de8"]]},{"id":"cf821bc8.307de8","type":"function","name":"","useRequire":false,"func":"var value=msg.payload[0].split(',');\nvar payload=[]\npayload.push([\"频道ID\",\"频道名称\",\"频道URL\",\"更新次数\"])\nfor(var i=0;i<value.length;i++)\n{\n\tvar temp=value[i].split('#');\n\tvar pageId=temp[0];\n\tvar pageName=temp[1];\n\tvar pageURL=temp[2];\n\tvar publishNum=parseInt(temp[3]);\n\tpayload.push([pageId,pageName,pageURL,publishNum]);\n}\npayload ={'value':payload}\nmsg.payload ={'MsgID':'lszwebpush_table_zhengce','username':'lszweb','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\nreturn msg;","outputs":1,"x":648.5181884765625,"y":847.0844573974609,"z":"ab053491.54fac8","wires":[["e3757203.1c8a9"]]},{"id":"d594e568.2a6b18","type":"inject","name":"3s","topic":"3s","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":155.51821899414062,"y":733.9733581542969,"z":"ab053491.54fac8","wires":[["734d00aa.8cb3","8d289d3f.72d76","3630add6.c9cf52","68b2c964.974d38"]]},{"id":"76aea753.895158","type":"function","name":"","useRequire":false,"func":"var ob = eval(\"(\" + msg.payload + \")\");\nmsg.payload = ob;\nreturn msg;","outputs":1,"x":798.5181579589844,"y":439.52288818359375,"z":"ab053491.54fac8","wires":[["cd86d273.32793"]]},{"id":"cd86d273.32793","type":"function","name":"one year","useRequire":true,"func":"var keywords=[\"国民经济和社会发展规划\",\"专项规划\",\"国民经济和社会发展计划执行情况\",\"财政预算执行情况\",\"政府工作报告\",\"政府工作报告\",\"公务员考录\",\"事业单位人员考录\",\"州人大常委会人事任免\",\"州政府人事任免\",\"国民经济和社会发展统计公报\",\"经济普查公报\",\"审计工作报告\",\"年度重点审计项目计划\",\"审计工作成果\",\"综合审计结果\",\"财政预决算报告\",\"财政资金使用情况\",\"财政预决算公开\",\"专项资金使用公开\",\"集中采购目录\",\"限额标准\",\"科技计划\",\"科技专项\",\"项目经费\",\"中介机构目录\",\"收费事项目录\",\"慈善组织目录\",\"主要财务指标\",\"业绩考核\"];\nvar updateCount = 0;\nvar pageName=[];\n   var pages = msg.payload;\n   for(var i in pages)\n   {\n      for(var k in keywords)\n      {\n          if(pages[i].pageName.indexOf(keywords[k])>=0)\n          {\n              updateCount+= parseInt(pages[i].publishNum);\n              pageName.push(pages[i].pageId+'#'+pages[i].pageName+'#'+pages[i].url+'#'+pages[i].publishNum);\n              break;\n              \n          }\n      }\n   }\n   var payload = {};\n//   if(pageName.length!=0)\n//   {\n//   \t   var updateName=pageName[0];\n//   }\n//   else{\n//   \t   var updateName=\"信息公开类\";\n//   }\n   payload.pageNames=pageName;\n   payload.updateCount = updateCount;\n   payload.setName='_renshi'\n   msg.payload = payload;\n   return msg;","outputs":1,"x":959.0076293945312,"y":390.03956604003906,"z":"ab053491.54fac8","wires":[["143a5f8e.ebc5a"]]},{"id":"143a5f8e.ebc5a","type":"function","name":"","useRequire":false,"func":"var ob  = msg.payload;\nvar setName=ob.setName;\nvar tempstr = ob.pageNames;\nmsg.payload = ['zincrby',setName,ob.updateCount, tempstr];\nreturn msg;","outputs":1,"x":1154.4971618652344,"y":339.492919921875,"z":"ab053491.54fac8","wires":[["e4e68b0a.1b1978"]]},{"id":"68b2c964.974d38","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"_renshi","key":"_renshi","structtype":"zset","x":463.5181579589844,"y":965.9733734130859,"z":"ab053491.54fac8","wires":[["decf26b5.2130d8"]]},{"id":"decf26b5.2130d8","type":"function","name":"","useRequire":false,"func":"var value=msg.payload[0].split(',');\nvar payload=[]\npayload.push([\"频道ID\",\"频道名称\",\"频道URL\",\"更新次数\"])\nfor(var i=0;i<value.length;i++)\n{\n\tvar temp=value[i].split('#');\n\tvar pageId=temp[0];\n\tvar pageName=temp[1];\n\tvar pageURL=temp[2];\n\tvar publishNum=parseInt(temp[3]);\n\tpayload.push([pageId,pageName,pageURL,publishNum]);\n}\npayload ={'value':payload}\nmsg.payload ={'MsgID':'lszwebpush_table_renshi','username':'lszweb','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\nreturn msg;","outputs":1,"x":658.5181884765625,"y":968.0844573974609,"z":"ab053491.54fac8","wires":[["d5c28e5e.2a3d7"]]},{"id":"e63cef35.19c31","type":"redisPub","name":"lszwebpush_table_xinwen","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_table_xinwen","x":1002.5181274414062,"y":610.1234588623047,"z":"ab053491.54fac8","wires":[]},{"id":"63e9301b.9c16d","type":"redisPub","name":"lszwebpush_table_xinxi","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_table_xinxi","x":976.1847534179688,"y":722.1234588623047,"z":"ab053491.54fac8","wires":[]},{"id":"e3757203.1c8a9","type":"redisPub","name":"lszwebpush_table_zhengce","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_table_zhengce","x":1006.1847534179688,"y":806.1235198974609,"z":"ab053491.54fac8","wires":[]},{"id":"d5c28e5e.2a3d7","type":"redisPub","name":"lszwebpush_table_renshi","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_table_renshi","x":1008.2405395507812,"y":892.4631805419922,"z":"ab053491.54fac8","wires":[]}]