项目文档/flow/网站监控/子站频道更新.txt
[{"id":"f735e699.08ca18","type":"redisSub","name":"siteupdateinfo_channel","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"siteupdateinfo_channel","x":126,"y":316.52284240722656,"z":"4c9678b.fb36988","wires":[["c69f139e.3960f"]]},{"id":"c69f139e.3960f","type":"function","name":"","useRequire":false,"func":"var ob = eval(\"(\" + msg.payload + \")\");\nmsg.payload = ob;\nreturn msg;","outputs":1,"x":338.68487548828125,"y":315.5227813720703,"z":"4c9678b.fb36988","wires":[["8b893f12.7476c","4ef26f6e.b10d9","976838eb.6897c8","f493ce22.0b6c3","16546de3.e9ab92"]]},{"id":"16546de3.e9ab92","type":"function","name":"two weeks","useRequire":true,"func":"var keywords=['木里要闻','会东要闻','宁南要闻','最新动态','昭觉要闻','喜德要闻','综合报道','财政要闻','工作动态','州卫计委动态','最新资讯','安监要闻','扶贫移民要闻','法制要闻','防震减灾要闻']\nvar updateCount = 0;\nvar pageName=[];\nif(msg.payload.period == 'two-weeks')\n{\n   var pages = msg.payload.msg;\n   for(var i in pages)\n   {\n      for(var k in keywords)\n      {\n          if(pages[i].pageName.indexOf(keywords[k])>=0)\n          {\n//              updateCount+= parseInt(pages[i].publishNum);\n//              pageName.push(pages[i].pageName);\n              pageName.push(pages[i].pageId+'#'+pages[i].pageName+'#'+pages[i].url+'#'+pages[i].publishNum);\n              break;\n          }\n      }\n   }\n   var payload = {};\n//   if(pageName.length!=0)\n//   {\n//   \t   var updateName=pageName[0];\n//   }\n//   else{\n//   \t   var updateName=\"新闻类\";\n//   }\n//   payload.pageName=updateName;\n   payload.pageNames=pageName;\n   payload.siteid = msg.payload.siteid;\n   payload.period = msg.payload.period;\n//   payload.updateCount = updateCount;\n   payload.setName=msg.payload.period+'_xinwen'\n   msg.payload = payload;\n   return msg;\n}","outputs":1,"x":588.3697204589844,"y":169.04583740234375,"z":"4c9678b.fb36988","wires":[["c6bdcd2c.39423"]]},{"id":"c6bdcd2c.39423","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"dept.hash","hashkey":"siteid","x":744.3697204589844,"y":167.04580688476562,"z":"4c9678b.fb36988","wires":[["195a2508.e6a5db"]]},{"id":"195a2508.e6a5db","type":"function","name":"toRedis","useRequire":false,"func":"var ob=msg.payload;\nvar pageNames=ob.pageNames;\nvar siteidName=ob.siteidName;\nvar siteid=ob.siteid;\nvar output=[];\nfor(var i=0;i<pageNames.length;i++)\n{\n\tvar temp=siteid+'#'+siteidName+'#'+pageNames[i];\n\toutput.push(['zincrby','xinwen_twoweeks',1, temp]);\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":912.3697204589844,"y":165.04583740234375,"z":"4c9678b.fb36988","wires":[["b7592405.48a6d8"]]},{"id":"b7592405.48a6d8","type":"yield","x":1089.3697204589844,"y":170.04583740234375,"z":"4c9678b.fb36988","wires":[["a1ed40cc.5e12c"]]},{"id":"2537aaf1.dac856","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":412.3697814941406,"y":543.8296051025391,"z":"4c9678b.fb36988","wires":[["30673aa7.cf98c6"]]},{"id":"30673aa7.cf98c6","type":"function","name":"","useRequire":false,"func":"msg.payload=['del','xinwen_twoweeks','gonggao_halfyear','fagui_halfyear','guihua_oneyear','renshi_oneyear']\nreturn msg;","outputs":1,"x":685.3697204589844,"y":554.4962615966797,"z":"4c9678b.fb36988","wires":[["2319947c.dce66c"]]},{"id":"2319947c.dce66c","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"del redis","x":946.3697204589844,"y":579.496265411377,"z":"4c9678b.fb36988","wires":[]},{"id":"a1ed40cc.5e12c","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"web_channel_static","x":1317.5181579589844,"y":303.5226593017578,"z":"4c9678b.fb36988","wires":[]},{"id":"f493ce22.0b6c3","type":"function","name":"halfyear(通知公告)","useRequire":true,"func":"var keywords=['通知公告','政务公告','公告公示'];\nvar updateCount = 0;\nvar pageName=[];\nif(msg.payload.period == 'halfyear')\n{\n   var pages = msg.payload.msg;\n   for(var i in pages)\n   {\n      for(var k in keywords)\n      {\n          if(pages[i].pageName.indexOf(keywords[k])>=0)\n          {\n//              updateCount+= parseInt(pages[i].publishNum);\n//              pageName.push(pages[i].pageName);\n              pageName.push(pages[i].pageId+'#'+pages[i].pageName+'#'+pages[i].url+'#'+pages[i].publishNum);\n              break;\n          }\n      }\n   }\n   var payload = {};\n//   if(pageName.length!=0)\n//   {\n//   \t   var updateName=pageName[0];\n//   }\n//   else{\n//   \t   var updateName=\"新闻类\";\n//   }\n//   payload.pageName=updateName;\n   payload.pageNames=pageName;\n   payload.siteid = msg.payload.siteid;\n   payload.period = msg.payload.period;\n//   payload.updateCount = updateCount;\n   payload.setName=msg.payload.period+'_gonggao'\n   msg.payload = payload;\n   return msg;\n}","outputs":1,"x":570.5181579589844,"y":260.52288818359375,"z":"4c9678b.fb36988","wires":[["7459c758.8ba638"]]},{"id":"7459c758.8ba638","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"dept.hash","hashkey":"siteid","x":747.5181884765625,"y":246.5228729248047,"z":"4c9678b.fb36988","wires":[["9787b75f.687848"]]},{"id":"9787b75f.687848","type":"function","name":"toRedis","useRequire":false,"func":"var ob=msg.payload;\nvar pageNames=ob.pageNames;\nvar siteidName=ob.siteidName;\nvar siteid=ob.siteid;\nvar output=[];\nfor(var i=0;i<pageNames.length;i++)\n{\n\tvar temp=siteid+'#'+siteidName+'#'+pageNames[i];\n\toutput.push(['zincrby','gonggao_halfyear',1, temp]);\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":902.5181884765625,"y":249.5229034423828,"z":"4c9678b.fb36988","wires":[["2604166a.d9fbea"]]},{"id":"2604166a.d9fbea","type":"yield","x":1058.5181884765625,"y":254.5229034423828,"z":"4c9678b.fb36988","wires":[["a1ed40cc.5e12c"]]},{"id":"976838eb.6897c8","type":"function","name":"halfyear(政策文件类)","useRequire":true,"func":"var keywords=['县政府文件','县政府办文件','部门文件','政策解读','县政府发文','县政府函','县政府办发','县政府办函','法规公文','政策文件','政府文件','政府办文件','政策法规','规范性文件','政策及解读','国家政策法规','四川省相关文件','凉山州相关文件','政策文件及解读'];\nvar updateCount = 0;\nvar pageName=[];\nif(msg.payload.period == 'halfyear')\n{\n   var pages = msg.payload.msg;\n   for(var i in pages)\n   {\n      for(var k in keywords)\n      {\n          if(pages[i].pageName.indexOf(keywords[k])>=0)\n          {\n//              updateCount+= parseInt(pages[i].publishNum);\n//              pageName.push(pages[i].pageName);\n              pageName.push(pages[i].pageId+'#'+pages[i].pageName+'#'+pages[i].url+'#'+pages[i].publishNum);\n              break;\n          }\n      }\n   }\n   var payload = {};\n//   if(pageName.length!=0)\n//   {\n//   \t   var updateName=pageName[0];\n//   }\n//   else{\n//   \t   var updateName=\"新闻类\";\n//   }\n//   payload.pageName=updateName;\n   payload.pageNames=pageName;\n   payload.siteid = msg.payload.siteid;\n   payload.period = msg.payload.period;\n//   payload.updateCount = updateCount;\n   payload.setName=msg.payload.period+'_fagui'\n   msg.payload = payload;\n   return msg;\n}","outputs":1,"x":573.5181579589844,"y":328.52287673950195,"z":"4c9678b.fb36988","wires":[["89259508.76da68"]]},{"id":"89259508.76da68","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"dept.hash","hashkey":"siteid","x":729.5182189941406,"y":325.5228729248047,"z":"4c9678b.fb36988","wires":[["358dc063.ca724"]]},{"id":"358dc063.ca724","type":"function","name":"toRedis","useRequire":false,"func":"var ob=msg.payload;\nvar pageNames=ob.pageNames;\nvar siteidName=ob.siteidName;\nvar siteid=ob.siteid;\nvar output=[];\nfor(var i=0;i<pageNames.length;i++)\n{\n\tvar temp=siteid+'#'+siteidName+'#'+pageNames[i];\n\toutput.push(['zincrby','fagui_halfyear',1, temp]);\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":884.5182189941406,"y":328.5229034423828,"z":"4c9678b.fb36988","wires":[["b651ecac.49ae1"]]},{"id":"b651ecac.49ae1","type":"yield","x":1040.5182189941406,"y":333.5229034423828,"z":"4c9678b.fb36988","wires":[["a1ed40cc.5e12c"]]},{"id":"8b893f12.7476c","type":"function","name":"oneyear(计划规划)","useRequire":true,"func":"var keywords=['规划计划','年度计划','专项规划','“十二五”规划','专项计划','工作计划'];\nvar updateCount = 0;\nvar pageName=[];\nif(msg.payload.period == 'oneyear')\n{\n   var pages = msg.payload.msg;\n   for(var i in pages)\n   {\n      for(var k in keywords)\n      {\n          if(pages[i].pageName.indexOf(keywords[k])>=0)\n          {\n//              updateCount+= parseInt(pages[i].publishNum);\n//              pageName.push(pages[i].pageName);\n              pageName.push(pages[i].pageId+'#'+pages[i].pageName+'#'+pages[i].url+'#'+pages[i].publishNum);\n              break;\n          }\n      }\n   }\n   var payload = {};\n//   if(pageName.length!=0)\n//   {\n//   \t   var updateName=pageName[0];\n//   }\n//   else{\n//   \t   var updateName=\"新闻类\";\n//   }\n//   payload.pageName=updateName;\n   payload.pageNames=pageName;\n   payload.siteid = msg.payload.siteid;\n   payload.period = msg.payload.period;\n//   payload.updateCount = updateCount;\n   payload.setName=msg.payload.period+'_guihua'\n   msg.payload = payload;\n   return msg;\n}","outputs":1,"x":548.5181884765625,"y":399.52288818359375,"z":"4c9678b.fb36988","wires":[["9d0683e4.62f98"]]},{"id":"9d0683e4.62f98","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"dept.hash","hashkey":"siteid","x":725.5182189941406,"y":385.5228729248047,"z":"4c9678b.fb36988","wires":[["42f77c18.bd0884"]]},{"id":"42f77c18.bd0884","type":"function","name":"toRedis","useRequire":false,"func":"var ob=msg.payload;\nvar pageNames=ob.pageNames;\nvar siteidName=ob.siteidName;\nvar siteid=ob.siteid;\nvar output=[];\nfor(var i=0;i<pageNames.length;i++)\n{\n\tvar temp=siteid+'#'+siteidName+'#'+pageNames[i];\n\toutput.push(['zincrby','guihua_oneyear',1, temp]);\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":880.5182189941406,"y":388.5229034423828,"z":"4c9678b.fb36988","wires":[["7b55b03e.84aa5"]]},{"id":"7b55b03e.84aa5","type":"yield","x":1036.5182189941406,"y":393.5229034423828,"z":"4c9678b.fb36988","wires":[["a1ed40cc.5e12c"]]},{"id":"4ef26f6e.b10d9","type":"function","name":"oneyear(人事)","useRequire":true,"func":"var keywords=['人事信息','人事任免','公务员考录','事业单位考录','公务员招考','公务员事业单位人员招考','事业单位招录','职称评审','人事管理'];\nvar updateCount = 0;\nvar pageName=[];\nif(msg.payload.period == 'oneyear')\n{\n   var pages = msg.payload.msg;\n   for(var i in pages)\n   {\n      for(var k in keywords)\n      {\n          if(pages[i].pageName.indexOf(keywords[k])>=0)\n          {\n//              updateCount+= parseInt(pages[i].publishNum);\n//              pageName.push(pages[i].pageName);\n              pageName.push(pages[i].pageId+'#'+pages[i].pageName+'#'+pages[i].url+'#'+pages[i].publishNum);\n              break;\n          }\n      }\n   }\n   var payload = {};\n//   if(pageName.length!=0)\n//   {\n//   \t   var updateName=pageName[0];\n//   }\n//   else{\n//   \t   var updateName=\"新闻类\";\n//   }\n//   payload.pageName=updateName;\n   payload.pageNames=pageName;\n   payload.siteid = msg.payload.siteid;\n   payload.period = msg.payload.period;\n//   payload.updateCount = updateCount;\n   payload.setName=msg.payload.period+'_renshi'\n   msg.payload = payload;\n   return msg;\n}","outputs":1,"x":546.5181884765625,"y":453.52288818359375,"z":"4c9678b.fb36988","wires":[["39eaf789.c61508"]]},{"id":"39eaf789.c61508","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"dept.hash","hashkey":"siteid","x":723.5182189941406,"y":439.5228729248047,"z":"4c9678b.fb36988","wires":[["f444d60c.0bbb28"]]},{"id":"f444d60c.0bbb28","type":"function","name":"toRedis","useRequire":false,"func":"var ob=msg.payload;\nvar pageNames=ob.pageNames;\nvar siteidName=ob.siteidName;\nvar siteid=ob.siteid;\nvar output=[];\nfor(var i=0;i<pageNames.length;i++)\n{\n\tvar temp=siteid+'#'+siteidName+'#'+pageNames[i];\n\toutput.push(['zincrby','renshi_oneyear',1, temp]);\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":878.5182189941406,"y":442.5229034423828,"z":"4c9678b.fb36988","wires":[["9d26168e.62d9e8"]]},{"id":"9d26168e.62d9e8","type":"yield","x":1034.5182189941406,"y":447.5229034423828,"z":"4c9678b.fb36988","wires":[["a1ed40cc.5e12c"]]},{"id":"2d8798fd.d27868","type":"inject","name":"3s","topic":"3s","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":198.5181427001953,"y":1392.9735946655273,"z":"4c9678b.fb36988","wires":[["cf2f0488.30d0f8","e0ebfa26.1f1408","21d7f637.de280a","22818b9f.dd7e74","6f555d7c.90aaa4"]]},{"id":"a53e1c7e.5ac1e","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"xinwen_twoweeks","key":"xinwen_twoweeks","structtype":"zset","x":440.5182189941406,"y":693.6729736328125,"z":"4c9678b.fb36988","wires":[["2d68d959.d29726"]]},{"id":"12ae5fb.fed51a","type":"function","name":"two-weeks_xinwen","useRequire":false,"func":"var tmp=[]\nvar payload=[]\npayload.push([\"编号\",\"所属部门\",\"频道(新闻类)\",\"更新次数\"])\nvar len=msg.payload.length\nfor(var i=0;i<len;i+=2){\n\ttmp=msg.payload[i].split('#');\n\tvar id=tmp[2];\n\tvar deptName=tmp[1];\n\tvar pageName=tmp[3];\n\tvar publishNum=parseInt(tmp[5]);\n\tpayload.push([id,deptName,pageName,publishNum]);\n}\npayload ={'value':payload}\nmsg.payload ={'MsgID':'adminpush_tabletwo-weeks_xinwen','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":742.5181579589844,"y":1264.9735717773438,"z":"4c9678b.fb36988","wires":[["29829405.d67d6c"]]},{"id":"29829405.d67d6c","type":"redisPub","name":"adminpush_tabletwo-weeks_xinwen","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"adminpush_tabletwo-weeks_xinwen","x":1113.5180969238281,"y":1267.9735107421875,"z":"4c9678b.fb36988","wires":[]},{"id":"cf2f0488.30d0f8","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"gonggao_halfyear","key":"gonggao_halfyear","structtype":"zset","x":480.5181427001953,"y":1357.1237411499023,"z":"4c9678b.fb36988","wires":[["fb34602c.04cba"]]},{"id":"fb34602c.04cba","type":"function","name":"gonggao_halfyear","useRequire":false,"func":"var tmp=[]\nvar payload=[]\npayload.push([\"编号\",\"所属部门\",\"频道(公示公告类)\",\"更新次数\"])\nvar len=msg.payload.length\nfor(var i=0;i<len;i+=2){\n\ttmp=msg.payload[i].split('#');\n\tvar id=tmp[2];\n\tvar deptName=tmp[1];\n\tvar pageName=tmp[3];\n\tvar publishNum=parseInt(tmp[5]);\n\tpayload.push([id,deptName,pageName,publishNum]);\n}\npayload ={'value':payload}\nmsg.payload ={'MsgID':'adminpush_tablehalfyear_gonggao','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":737.5181579589844,"y":1344.1238403320312,"z":"4c9678b.fb36988","wires":[["6157349a.9ea8cc"]]},{"id":"6157349a.9ea8cc","type":"redisPub","name":"adminpush_tablehalfyear_gonggao","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"adminpush_tablehalfyear_gonggao","x":1083.5181579589844,"y":1336.123779296875,"z":"4c9678b.fb36988","wires":[]},{"id":"e0ebfa26.1f1408","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"fagui_halfyear","key":"fagui_halfyear","structtype":"zset","x":462.5181427001953,"y":1437.9735946655273,"z":"4c9678b.fb36988","wires":[["2549350c.dab6ca"]]},{"id":"2549350c.dab6ca","type":"function","name":"fagui_halfyear","useRequire":false,"func":"var tmp=[]\nvar payload=[]\npayload.push([\"编号\",\"所属部门\",\"频道(政策文件类)\",\"更新次数\"])\nvar len=msg.payload.length\nfor(var i=0;i<len;i+=2){\n\ttmp=msg.payload[i].split('#');\n\tvar id=tmp[2];\n\tvar deptName=tmp[1];\n\tvar pageName=tmp[3];\n\tvar publishNum=parseInt(tmp[5]);\n\tpayload.push([id,deptName,pageName,publishNum]);\n}\npayload ={'value':payload}\nmsg.payload ={'MsgID':'adminpush_tablehalfyear_fagui','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":719.5181579589844,"y":1424.9736938476562,"z":"4c9678b.fb36988","wires":[["393f0f08.c6c0f"]]},{"id":"393f0f08.c6c0f","type":"redisPub","name":"adminpush_tablehalfyear_fagui","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"adminpush_tablehalfyear_fagui","x":1065.5181579589844,"y":1416.9736328125,"z":"4c9678b.fb36988","wires":[]},{"id":"21d7f637.de280a","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"guihua_oneyear","key":"guihua_oneyear","structtype":"zset","x":435.5181427001953,"y":1534.2739486694336,"z":"4c9678b.fb36988","wires":[["91465d7e.6eb9a"]]},{"id":"91465d7e.6eb9a","type":"function","name":"guihua_oneyear","useRequire":false,"func":"var tmp=[]\nvar payload=[]\npayload.push([\"编号\",\"所属部门\",\"频道(计划规划类)\",\"更新次数\"])\nvar len=msg.payload.length\nfor(var i=0;i<len;i+=2){\n\ttmp=msg.payload[i].split('#');\n\tvar id=tmp[2];\n\tvar deptName=tmp[1];\n\tvar pageName=tmp[3];\n\tvar publishNum=parseInt(tmp[5]);\n\tpayload.push([id,deptName,pageName,publishNum]);\n}\npayload ={'value':payload}\nmsg.payload ={'MsgID':'adminpush_tableoneyear_guihua','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":692.5181579589844,"y":1521.2740478515625,"z":"4c9678b.fb36988","wires":[["9963c392.669c4"]]},{"id":"9963c392.669c4","type":"redisPub","name":"adminpush_tableoneyear_guihua","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"adminpush_tableoneyear_guihua","x":1038.5181579589844,"y":1513.2739868164062,"z":"4c9678b.fb36988","wires":[]},{"id":"22818b9f.dd7e74","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"renshi_oneyear","key":"renshi_oneyear","structtype":"zset","x":433.5181427001953,"y":1624.2739486694336,"z":"4c9678b.fb36988","wires":[["43a12289.bc5edc"]]},{"id":"43a12289.bc5edc","type":"function","name":"renshi_oneyear","useRequire":false,"func":"var tmp=[]\nvar payload=[]\npayload.push([\"编号\",\"所属部门\",\"频道(人事类)\",\"更新次数\"])\nvar len=msg.payload.length\nfor(var i=0;i<len;i+=2){\n\ttmp=msg.payload[i].split('#');\n\tvar id=tmp[2];\n\tvar deptName=tmp[1];\n\tvar pageName=tmp[3];\n\tvar publishNum=parseInt(tmp[5]);\n\tpayload.push([id,deptName,pageName,publishNum]);\n}\npayload ={'value':payload}\nmsg.payload ={'MsgID':'adminpush_tableoneyear_renshi','username':'admin','payload':payload}\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"x":690.5181579589844,"y":1611.2740478515625,"z":"4c9678b.fb36988","wires":[["1eac88f4.e15377"]]},{"id":"1eac88f4.e15377","type":"redisPub","name":"adminpush_tableoneyear_renshi","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"adminpush_tableoneyear_renshi","x":1036.5181579589844,"y":1603.2739868164062,"z":"4c9678b.fb36988","wires":[]},{"id":"808ad8d2.7f7528","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"SiteContracts","key":"SiteContracts","structtype":"string","x":554.5180053710938,"y":1772.724365234375,"z":"4c9678b.fb36988","wires":[["678fe4.ff98701c"]]},{"id":"a219876.f5de678","type":"inject","name":"9:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 9 * * *","once":false,"x":334.5180969238281,"y":1762.724365234375,"z":"4c9678b.fb36988","wires":[["808ad8d2.7f7528"]]},{"id":"2c7abb1f.d38544","type":"inject","name":"10:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":178.51821899414062,"y":800.6730346679688,"z":"4c9678b.fb36988","wires":[["a53e1c7e.5ac1e","b787e593.487818","f2b903a8.0d47","225e18c3.dda1e8","bb2bda0b.44d428"]]},{"id":"2d68d959.d29726","type":"function","name":"tocellphone","useRequire":false,"func":"var len=msg.payload.length;\nvar payload=[];\nfor(var i=0;i<len;i++)\n{\n\tvar temp=msg.payload[i].split('#');\n\tvar siteid=temp[0];\n\tvar siteName=temp[1];\n\tvar pageid=temp[2];\n\tvar pageName=temp[3];\n\tvar publishNum=parseInt(temp[5]);\n\tif(publishNum==0)\n\t{\n\t\tvar message=siteName+\" \"+pageName+\"频道 两周内没有更新\";\n\t\tvar value={\"siteid\":siteid,\"message\":message};\n\t\tpayload.push(value);\n\t}\n}\nmsg.payload = payload.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":676.5181579589844,"y":715.5228881835938,"z":"4c9678b.fb36988","wires":[["cf21f620.30de08"]]},{"id":"678fe4.ff98701c","type":"function","name":"tohash(siteofcellphone)","useRequire":false,"func":"var myContracts = JSON.parse(msg.payload);\nvar len=myContracts.length;\nvar output=[];\nfor(var i=0;i<len;++i)\n{\n\tvar siteID=myContracts[i].siteID;\n\tvar contractPhone=myContracts[i].contractPhone;\n\tvar notify=myContracts[i].notify;\n\tvar value=contractPhone+','+notify;\n\toutput.push(['hset','phoneHash',siteID,value]);\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":804.5179748535156,"y":1748.724365234375,"z":"4c9678b.fb36988","wires":[["ee9c24e2.1163d8"]]},{"id":"ee9c24e2.1163d8","type":"yield","x":940.5181579589844,"y":1855.724365234375,"z":"4c9678b.fb36988","wires":[["4a32ac82.b5cd54"]]},{"id":"4a32ac82.b5cd54","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":1195.5181579589844,"y":1793.574120592059,"z":"4c9678b.fb36988","wires":[]},{"id":"cf21f620.30de08","type":"yield","x":854.5181579589844,"y":726.8231811523438,"z":"4c9678b.fb36988","wires":[["1a97546f.e568ac"]]},{"id":"1a97546f.e568ac","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"phoneHash","hashkey":"siteid","x":1023.5181579589844,"y":727.6730346679688,"z":"4c9678b.fb36988","wires":[["efde9c5e.10216"]]},{"id":"efde9c5e.10216","type":"function","name":"tocellphone","useRequire":false,"func":"var temp=msg.payload.siteidName.split(',');\nvar phonenums=[];\nvar output=[];\nvar i;\nfor(i=0;i<temp.length-1;i++)\n{\n\tphonenums.push(temp[i]);\n}\nvar notify=temp[i];\n//var phonenum=msg.payload.siteidName.split('#')[0];\n//var notify=msg.payload.siteidName.split('#')[1];\nif(notify==\"on\")\n{\n\tfor(var i=0;i<phonenums.length;i++)\n\t{\n\t\tvar payload={\"phoneNum\":phonenums[i],\"message\":msg.payload.message};\n//\t\tmsg.payload=JSON.stringify(payload);\n\t\toutput.push(JSON.stringify(payload))\n\t}\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":1216.5181579589844,"y":703.9733276367188,"z":"4c9678b.fb36988","wires":[["468d6dcd.b97294"]]},{"id":"ccb4322f.334bd","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"SMS","x":1577.5181579589844,"y":707.8231811523438,"z":"4c9678b.fb36988","wires":[]},{"id":"6f555d7c.90aaa4","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"xinwen_twoweeks","key":"xinwen_twoweeks","structtype":"zset","x":429.5181579589844,"y":1254.4239501953125,"z":"4c9678b.fb36988","wires":[["12ae5fb.fed51a"]]},{"id":"be6d8e64.41927","type":"function","name":"tocellphone","useRequire":false,"func":"var len=msg.payload.length;\nvar payload=[];\nfor(var i=0;i<len;i++)\n{\n\tvar temp=msg.payload[i].split('#');\n\tvar siteid=temp[0];\n\tvar siteName=temp[1];\n\tvar pageid=temp[2];\n\tvar pageName=temp[3];\n\tvar publishNum=parseInt(temp[5]);\n\tif(publishNum==0)\n\t{\n\t\tvar message=siteName+\" \"+pageName+\"频道 半年内没有更新\";\n\t\tvar value={\"siteid\":siteid,\"message\":message};\n\t\tpayload.push(value);\n\t}\n}\nmsg.payload = payload.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":658.5181579589844,"y":794.8232421875,"z":"4c9678b.fb36988","wires":[["e20a192c.1df5e8"]]},{"id":"e20a192c.1df5e8","type":"yield","x":836.5181579589844,"y":806.12353515625,"z":"4c9678b.fb36988","wires":[["10af635f.ef509d"]]},{"id":"10af635f.ef509d","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"phoneHash","hashkey":"siteid","x":1005.5181579589844,"y":806.973388671875,"z":"4c9678b.fb36988","wires":[["4362402a.bc9dc"]]},{"id":"4362402a.bc9dc","type":"function","name":"tocellphone","useRequire":false,"func":"var temp=msg.payload.siteidName.split(',');\nvar phonenums=[];\nvar output=[];\nvar i;\nfor(i=0;i<temp.length-1;i++)\n{\n\tphonenums.push(temp[i]);\n}\nvar notify=temp[i];\n//var phonenum=msg.payload.siteidName.split('#')[0];\n//var notify=msg.payload.siteidName.split('#')[1];\nif(notify==\"on\")\n{\n\tfor(var i=0;i<phonenums.length;i++)\n\t{\n\t\tvar payload={\"phoneNum\":phonenums[i],\"message\":msg.payload.message};\n//\t\tmsg.payload=JSON.stringify(payload);\n\t\toutput.push(JSON.stringify(payload))\n\t}\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":1222.5182189941406,"y":800.2737020915636,"z":"4c9678b.fb36988","wires":[["15adc5c4.ea523a"]]},{"id":"c4b32948.3b4cd8","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"SMS","x":1589.5181579589844,"y":797.12353515625,"z":"4c9678b.fb36988","wires":[]},{"id":"b787e593.487818","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"gonggao_halfyear","key":"gonggao_halfyear","structtype":"zset","x":419.5182189941406,"y":799.9733276367188,"z":"4c9678b.fb36988","wires":[["be6d8e64.41927"]]},{"id":"f2b903a8.0d47","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"fagui_halfyear","key":"fagui_halfyear","structtype":"zset","x":429.5182189941406,"y":899.9733276367188,"z":"4c9678b.fb36988","wires":[["37eeac7a.c81154"]]},{"id":"225e18c3.dda1e8","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"guihua_oneyear","key":"guihua_oneyear","structtype":"zset","x":402.5182189941406,"y":996.273681640625,"z":"4c9678b.fb36988","wires":[["70d9211f.8f26e"]]},{"id":"bb2bda0b.44d428","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"renshi_oneyear","key":"renshi_oneyear","structtype":"zset","x":400.5182189941406,"y":1086.273681640625,"z":"4c9678b.fb36988","wires":[["d7aaee61.28551"]]},{"id":"37eeac7a.c81154","type":"function","name":"tocellphone","useRequire":false,"func":"var len=msg.payload.length;\nvar payload=[];\nfor(var i=0;i<len;i++)\n{\n\tvar temp=msg.payload[i].split('#');\n\tvar siteid=temp[0];\n\tvar siteName=temp[1];\n\tvar pageid=temp[2];\n\tvar pageName=temp[3];\n\tvar publishNum=parseInt(temp[5]);\n\tif(publishNum==0)\n\t{\n\t\tvar message=siteName+\" \"+pageName+\"频道 半年内没有更新\";\n\t\tvar value={\"siteid\":siteid,\"message\":message};\n\t\tpayload.push(value);\n\t}\n}\nmsg.payload = payload.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":650.5181884765625,"y":882.9733276367188,"z":"4c9678b.fb36988","wires":[["4fc2d909.b03d28"]]},{"id":"4fc2d909.b03d28","type":"yield","x":828.5181884765625,"y":894.2736206054688,"z":"4c9678b.fb36988","wires":[["60bf75fc.9f408c"]]},{"id":"60bf75fc.9f408c","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"phoneHash","hashkey":"siteid","x":997.5181884765625,"y":895.1234741210938,"z":"4c9678b.fb36988","wires":[["e2039eca.1dfc6"]]},{"id":"e2039eca.1dfc6","type":"function","name":"tocellphone","useRequire":false,"func":"var temp=msg.payload.siteidName.split(',');\nvar phonenums=[];\nvar output=[];\nvar i;\nfor(i=0;i<temp.length-1;i++)\n{\n\tphonenums.push(temp[i]);\n}\nvar notify=temp[i];\n//var phonenum=msg.payload.siteidName.split('#')[0];\n//var notify=msg.payload.siteidName.split('#')[1];\nif(notify==\"on\")\n{\n\tfor(var i=0;i<phonenums.length;i++)\n\t{\n\t\tvar payload={\"phoneNum\":phonenums[i],\"message\":msg.payload.message};\n//\t\tmsg.payload=JSON.stringify(payload);\n\t\toutput.push(JSON.stringify(payload))\n\t}\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":1214.5182495117188,"y":888.4237875407823,"z":"4c9678b.fb36988","wires":[["b1bf9b54.4e4068"]]},{"id":"9e70368.f618fc8","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"SMS","x":1617.5181579589844,"y":886.2736206054688,"z":"4c9678b.fb36988","wires":[]},{"id":"70d9211f.8f26e","type":"function","name":"tocellphone","useRequire":false,"func":"var len=msg.payload.length;\nvar payload=[];\nfor(var i=0;i<len;i++)\n{\n\tvar temp=msg.payload[i].split('#');\n\tvar siteid=temp[0];\n\tvar siteName=temp[1];\n\tvar pageid=temp[2];\n\tvar pageName=temp[3];\n\tvar publishNum=parseInt(temp[5]);\n\tif(publishNum==0)\n\t{\n\t\tvar message=siteName+\" \"+pageName+\"频道 一年内没有更新\";\n\t\tvar value={\"siteid\":siteid,\"message\":message};\n\t\tpayload.push(value);\n\t}\n}\nmsg.payload = payload.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":648.5181884765625,"y":989.9733276367188,"z":"4c9678b.fb36988","wires":[["1db2962.fe24d6a"]]},{"id":"1db2962.fe24d6a","type":"yield","x":826.5181884765625,"y":1001.2736206054688,"z":"4c9678b.fb36988","wires":[["cd262be1.32d9d8"]]},{"id":"cd262be1.32d9d8","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"phoneHash","hashkey":"siteid","x":995.5181884765625,"y":1002.1234741210938,"z":"4c9678b.fb36988","wires":[["8ad6a6a1.752958"]]},{"id":"8ad6a6a1.752958","type":"function","name":"tocellphone","useRequire":false,"func":"var temp=msg.payload.siteidName.split(',');\nvar phonenums=[];\nvar output=[];\nvar i;\nfor(i=0;i<temp.length-1;i++)\n{\n\tphonenums.push(temp[i]);\n}\nvar notify=temp[i];\n//var phonenum=msg.payload.siteidName.split('#')[0];\n//var notify=msg.payload.siteidName.split('#')[1];\nif(notify==\"on\")\n{\n\tfor(var i=0;i<phonenums.length;i++)\n\t{\n\t\tvar payload={\"phoneNum\":phonenums[i],\"message\":msg.payload.message};\n//\t\tmsg.payload=JSON.stringify(payload);\n\t\toutput.push(JSON.stringify(payload))\n\t}\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":1212.5182495117188,"y":995.4237875407823,"z":"4c9678b.fb36988","wires":[["a0086503.5ff798"]]},{"id":"646400c9.9b9c","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"SMS","x":1615.5181579589844,"y":993.2736206054688,"z":"4c9678b.fb36988","wires":[]},{"id":"d7aaee61.28551","type":"function","name":"tocellphone","useRequire":false,"func":"var len=msg.payload.length;\nvar payload=[];\nfor(var i=0;i<len;i++)\n{\n\tvar temp=msg.payload[i].split('#');\n\tvar siteid=temp[0];\n\tvar siteName=temp[1];\n\tvar pageid=temp[2];\n\tvar pageName=temp[3];\n\tvar publishNum=parseInt(temp[5]);\n\tif(publishNum==0)\n\t{\n\t\tvar message=siteName+\" \"+pageName+\"频道 一年内没有更新\";\n\t\tvar value={\"siteid\":siteid,\"message\":message};\n\t\tpayload.push(value);\n\t}\n}\nmsg.payload = payload.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":629.5181884765625,"y":1088.973388671875,"z":"4c9678b.fb36988","wires":[["5362c256.ac9d3c"]]},{"id":"5362c256.ac9d3c","type":"yield","x":807.5181884765625,"y":1100.273681640625,"z":"4c9678b.fb36988","wires":[["db719bbe.248e68"]]},{"id":"db719bbe.248e68","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"","hashname":"phoneHash","hashkey":"siteid","x":976.5181884765625,"y":1101.12353515625,"z":"4c9678b.fb36988","wires":[["477e2e8e.b881d"]]},{"id":"477e2e8e.b881d","type":"function","name":"tocellphone","useRequire":false,"func":"var temp=msg.payload.siteidName.split(',');\nvar phonenums=[];\nvar output=[];\nvar i;\nfor(i=0;i<temp.length-1;i++)\n{\n\tphonenums.push(temp[i]);\n}\nvar notify=temp[i];\n//var phonenum=msg.payload.siteidName.split('#')[0];\n//var notify=msg.payload.siteidName.split('#')[1];\nif(notify==\"on\")\n{\n\tfor(var i=0;i<phonenums.length;i++)\n\t{\n\t\tvar payload={\"phoneNum\":phonenums[i],\"message\":msg.payload.message};\n//\t\tmsg.payload=JSON.stringify(payload);\n\t\toutput.push(JSON.stringify(payload))\n\t}\n}\nmsg.payload = output.map(function (payload){\n    return {\n        payload: payload\n    }\n});\nreturn msg;","outputs":1,"x":1193.5182495117188,"y":1094.4238485759386,"z":"4c9678b.fb36988","wires":[["245675da.dba98a"]]},{"id":"68835019.977cb","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"SMS","x":1596.5181579589844,"y":1092.273681640625,"z":"4c9678b.fb36988","wires":[]},{"id":"6c3d3b77.93c2c4","type":"function","name":"","useRequire":false,"func":"msg.payload=['del','phoneHash'];\nreturn msg;","outputs":1,"x":690.5181579589844,"y":619.522876739502,"z":"4c9678b.fb36988","wires":[["2319947c.dce66c"]]},{"id":"4e99c9d6.b16638","type":"inject","name":"8:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 8 * * *","once":false,"x":405.5182189941406,"y":607.522876739502,"z":"4c9678b.fb36988","wires":[["6c3d3b77.93c2c4"]]},{"id":"468d6dcd.b97294","type":"yield","x":1419.5181884765625,"y":711.9733276367188,"z":"4c9678b.fb36988","wires":[["ccb4322f.334bd"]]},{"id":"15adc5c4.ea523a","type":"yield","x":1401.5181884765625,"y":791.273681640625,"z":"4c9678b.fb36988","wires":[["c4b32948.3b4cd8"]]},{"id":"b1bf9b54.4e4068","type":"yield","x":1393.5182189941406,"y":879.4237670898438,"z":"4c9678b.fb36988","wires":[["9e70368.f618fc8"]]},{"id":"a0086503.5ff798","type":"yield","x":1391.5182189941406,"y":986.4237670898438,"z":"4c9678b.fb36988","wires":[["646400c9.9b9c"]]},{"id":"245675da.dba98a","type":"yield","x":1372.5182189941406,"y":1085.423828125,"z":"4c9678b.fb36988","wires":[["68835019.977cb"]]}]