项目文档/flow/网站监控/用户行为监控.txt
[{"id":"2d57ea56.d2a816","type":"redis-config","host":"10.21.21.99","port":"6379","dbase":"","pass":""},{"id":"a4bd1b1f.5b42e8","type":"function","name":"visitPageCount","useRequire":false,"func":"if(msg.type == 'visitPageCount'){\nvar temp=[];\nvar payload=[];\npayload.push([\"受访页面\",\"次数\"]);\nif(msg.payload.length>20)\n{\n    var len=20;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n\tvar visitPage=msg.payload[i];\n\tvar count=parseInt(msg.payload[i+1]);\n    payload.push([visitPage,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"lszwebpush_tablevisitPageCount\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":672.1236877441406,"y":907.7221984863281,"z":"bde270b6.421d9","wires":[["aeec4e3c.5113b"]]},{"id":"ab73cf4c.548c3","type":"function","name":"countUserAgent","func":"   var type=msg.payload.user_agent;\n   var temp;\n   if(type!=undefined)\n\t   {\n\t    if(type.indexOf(\"Mozilla\")>=0&&type.indexOf(\"Chrome\")>=0){\n\t\t\ttemp=\"chrome\";\n\t\t}\n\t\n\t   else if(type.indexOf(\"Mozilla\")>=0&&type.indexOf(\"MSIE\")>=0){\n\t\t\ttemp=\"ie\";\n\t\t}\n\t\telse if(type.indexOf(\"MJ12bot\")>=0){\n\t\t\ttemp=\"mj12bot\";\n\t\t}\n\t\telse if(type.indexOf(\"MegaIndex.ru\")>=0){\n\t\t\ttemp=\"megaindex\";\n\t\t}\n\t\telse if(type.indexOf(\"Sogouweb\")>=0){\n\t\t\ttemp=\"sogou\";\n\t\t}\n\t\telse if(type.indexOf(\"Baiduspider\")>=0){\n\t\t\ttemp=\"baiduspider\";\n\t\t}\n\t\telse if(type.indexOf(\"WindowsBaiduYunGuanJia\")>=0){\n\t\t\ttemp=\"baiduyunguanjia\";\n\t\t}\n\t\telse if(type.indexOf(\"bingbot\")>=0){\n\t\t\ttemp=\"bingbot\";\n\t\t}\n\t\t\n\t\telse{\n\t\t\ttemp=\"other\";\n\t\t}\n\t\tmsg.payload=[\"zincrby\",\"user_client\",1,temp];\n\t  \n\t\treturn msg;\n\t}","outputs":1,"x":650.9014587402344,"y":460.25,"z":"bde270b6.421d9","wires":[["90544dba.6fabb"]]},{"id":"4abcd578.b5432c","type":"function","name":"msgToJSON","useRequire":false,"func":"\nvar userIP=\"\";\nvar hostIP=\"\";\nif(msg.payload.indexOf(\"HTTP_TRACE_REP\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    userIP=temp[0].split('|')[3].split(':')[0];\n    hostIP=temp[0].split('|')[2].split(':')[0];\n    var last=temp[1];\n    var lastTemp=last.split('|');\n    var targetTemp=lastTemp[3];\n    if(targetTemp.indexOf(\"\\n\")>0)\n    {\n    \tvar target=targetTemp.substring(0,targetTemp.length-2);\n    }\n    else\n    {\n    \ttarget=targetTemp;\n    }\n    var status=lastTemp[4];\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=\"\";\n    if(hoststring.indexOf(' ')>0)\n    {\n    \thost=hoststring.substring(0,hoststring.indexOf(' '));\n    }\n    else\n    {\n    \thost=hoststring;\n    }\n\tvar user_agent=\"\";\n\tif(last.indexOf(\"User-Agent: \")>=0)\n\t{\n    \tvar user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    \tif(user_agentstring.indexOf(\": \")>0)\n    \t{\n        \tvar tempOfuserAgentString=user_agentstring.substring(0,user_agentstring.indexOf(\": \"));\n        \tvar tempstring=tempOfuserAgentString.split(' ');\n        \tvar len=tempstring.length;\n        \tfor(var i=0;i<len-1;++i)\n        \t{\n            \tuser_agent+=tempstring[i]+' ';\n        \t}\n    \t}\n    \telse\n    \t{\n        \tuser_agent=tempOfuserAgentString;\n    \t}\n\t}\n\t\n    if(last.indexOf(\"Referer: \")>0)\n    {\n    \tvar referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    \tif(referer_string.indexOf(' ')>0)\n    \t{\n    \t\tvar referer=referer_string.substring(0,referer_string.indexOf(' '));\n    \t}\n    \telse\n    \t{\n    \t\tvar referer=referer_string;\n    \t}\n    }\n    else\n    {\n    \tvar referer=\"\";\n    }\n    \n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"status\":status,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}\nif(msg.payload.indexOf(\"HTTP_TRACE_REQ\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    hostIP=temp[0].split('|')[3].split(':')[0];\n    userIP=temp[0].split('|')[2].split(':')[0];\n    last=temp[1].split(\"|\")[3];\n    var targetTemp=last.substring(0,last.indexOf(' '));\n    if(targetTemp.indexOf(\"\\n\")>0)\n    {\n    \tvar target=targetTemp.substring(0,targetTemp.length-2);\n    }\n    else\n    {\n    \ttarget=targetTemp;\n    }\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=\"\";\n    if(hoststring.indexOf(' ')>0)\n    {\n    \thost=hoststring.substring(0,hoststring.indexOf(' '));\n    }\n    else\n    {\n    \thost=hoststring;\n    }\n    var user_agent=\"\";\n\tif(last.indexOf(\"User-Agent: \")>=0)\n\t{\n    \tvar user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    \tif(user_agentstring.indexOf(\": \")>0)\n    \t{\n        \tvar tempOfuserAgentString=user_agentstring.substring(0,user_agentstring.indexOf(\": \"));\n        \tvar tempstring=tempOfuserAgentString.split(' ');\n        \tvar len=tempstring.length;\n        \tfor(var i=0;i<len-1;++i)\n        \t{\n            \tuser_agent+=tempstring[i]+' ';\n        \t}\n    \t}\n    \telse\n    \t{\n        \tuser_agent=tempOfuserAgentString;\n    \t}\n\t}\n    if(last.indexOf(\"Referer: \")>0)\n    {\n    \tvar referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    \tif(referer_string.indexOf(' ')>0)\n    \t{\n    \t\tvar referer=referer_string.substring(0,referer_string.indexOf(' '));\n    \t}\n    \telse\n    \t{\n    \t\tvar referer=referer_string;\n    \t}\n    }\n    else\n    {\n    \tvar referer=\"\";\n    }\n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}","outputs":1,"x":324.1131591796875,"y":263.91661834716797,"z":"bde270b6.421d9","wires":[["ab73cf4c.548c3","827f0076.7d81","2b10f81.fd4ef08","d6d690a7.29297","f44dba8a.0bb248","3a4b1d02.c5b4e2","f38e6ecf.0c719"]]},{"id":"b3f38327.4c0c8","type":"redisSub","name":"Http_traceReader","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"http_trace","x":127.66869735717773,"y":263.1387529373169,"z":"bde270b6.421d9","wires":[["4abcd578.b5432c"]]},{"id":"d8f9336a.2706d","type":"function","name":"errPageDisplay","useRequire":false,"func":"//var time=(new Date()).getTime();\n//if(msg.payload.errURL.indexOf('.html')>0)\n//{\n\tvar errType=msg.payload.errType;\n\tvar errURL=msg.payload.errURL;\n\tvar belong=msg.payload.belong;\n\tvar referer=msg.payload.referer;\n\tvar err=errURL+'#'+belong+'#'+errType+'#'+referer;\n\tmsg.payload=['zincrby','errPageDisplay',1,err];\n\treturn msg;\n//}\n","outputs":1,"x":787.9465637207031,"y":104,"z":"bde270b6.421d9","wires":[["90544dba.6fabb"]]},{"id":"827f0076.7d81","type":"function","name":"errPage","useRequire":false,"func":"if(msg.payload.type==\"HTTP_TRACE_REP\"&&msg.payload.status!=undefined)\n{\n\tif(parseInt(msg.payload.status)>400)\n\t{\n\t\tvar string=\"www.lsz.gov.cn:凉山州人民政府,hd.lsz.gov.cn:会东县政府网站,hl.lsz.gov.cn:会理县政府网站,lszaj.lsz.gov.cn:凉山州安监局,fzb.lsz.gov.cn:凉山州法制办,jxw.lsz.gov.cn:凉山州经信委,xd.lsz.gov.cn:喜德县政府网站,tyj.lsz.gov.cn:凉山州体育局,lyj.lsz.gov.cn:凉山州林业局,sjj.lsz.gov.cn:凉山州审计局,gjj.lsz.gov.cn:凉山州公积金管理中心,ghjsj.lsz.gov.cn:凉山州规建局,lscl.lsz.gov.cn:凉山州残联,lszyw.lsz.gov.cn:凉山州语委,lsws.lsz.gov.cn:凉山州卫计委,lsws.lsz.gov.cn凉山州扶贫移民局,fzjzj.lsz.gov.cn:凉山州防震减灾局,czj.lsz.gov.cn凉山州财政局,zj.lsz.gov.cn:昭觉县政府网站,pg.lsz.gov.cn:普格县政府网站,nn.lsz.gov.cn:宁南县政府网站,nmj.lsz.gov.cn:凉山州农牧局,mn.lsz.gov.cn:冕宁县政府网站,ml.lsz.gov.cn:木里县政府网站,\";\n\t\tvar host=msg.payload.host;\n\t\tvar hostlength=host.length;\n\t\tif(string.indexOf(host)>=0)\n\t\t{\n\t\t\tvar referer=msg.payload.referer;\n\t\t\tif(referer===\"\")\n\t\t\t{\n\t\t\t\treferer=\"http://\"+host;\n\t\t\t}\n\t\t\tvar hostNameString=string.substring(string.indexOf(host)+hostlength+1,string.length);\n\t\t\tvar belong=hostNameString.substring(0,hostNameString.indexOf(','));\n\t\t\tvar errType=msg.payload.status;\n    \t\tvar target=msg.payload.target;\n    \t\tvar errURL=host+target;\n//    \t\t\tif(target.indexOf('?')>0)\n//    \t\t\t{\n//    \t\t\t\tvar errURL=target.substring(0,target.indexOf('?'));\n//    \t\t\t}\n//    \t\t\telse\n//    \t\t\t{\n//    \t\t\t\tvar errURL=target;\n//    \t\t\t}\n    \t\t\tmsg.payload={\n    \t\t\t\t\"belong\":belong,\n    \t\t\t\t\"errType\":errType,\n    \t\t\t\t\"errURL\":errURL,\n    \t\t\t\t\"referer\":referer\n    \t\t\t};\n    \t\t\treturn msg;\n\t\t}\n\t}\n}","outputs":1,"x":555.5680236816406,"y":274.69432830810547,"z":"bde270b6.421d9","wires":[["d8f9336a.2706d","93ad989.f6c5268","f6bf6249.0940a"]]},{"id":"843ad67.f7bc528","type":"function","name":"visitPageCount","useRequire":false,"func":"var visitPage=msg.payload.visitPage;\nmsg.payload=['zincrby','visitPageCount',1,visitPage];\nreturn msg;","outputs":1,"x":803.0000305175781,"y":354.8425827026367,"z":"bde270b6.421d9","wires":[["90544dba.6fabb"]]},{"id":"2b10f81.fd4ef08","type":"function","name":"visitPage","useRequire":false,"func":"if(msg.payload.type=\"HTTP_TRACE_REQ\")\n{\n//\tif(msg.payload.target.indexOf(\".html\")>0)\n//\t{\n//\t\tif(msg.payload.target.indexOf('?')>0)\n//\t\t{\n//\t\t\tvar visitPage=msg.payload.target.substring(0,msg.payload.target.indexOf('?'));\n//\t\t}\n//\t\telse\n//\t\t{\n//\t\t\tvar target=msg.payload.target;\n//    \t\tvar visitPage=target.substring(0,target.indexOf(\".html\"))+\".html\";\n//    \t}\n\tvar target=msg.payload.target;\n\tvar host=msg.payload.host;\n\tif(target.indexOf('index.html')>0)\n\t{\n\t    if(target.indexOf('?')>0)\n\t    {\n\t        visitPage=host+target.substring(0,target.indexOf('?'));\n\t    }\n\t\telse\n\t    {\n\t   \t    visitPage=host+target;\n\t    }\n\t\tmsg.payload={\n\t\t\t\"visitPage\":visitPage\n\t\t};\n\t\treturn msg;\n\t}\n}\n","outputs":1,"x":588.2222595214844,"y":332.84239959716797,"z":"bde270b6.421d9","wires":[["843ad67.f7bc528"]]},{"id":"90544dba.6fabb","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"visitPageCount","x":1122.0553894042969,"y":251.11425018310547,"z":"bde270b6.421d9","wires":[]},{"id":"93ad989.f6c5268","type":"function","name":"errTypeCount","func":"var errType=msg.payload.errType;\nmsg.payload=['zincrby','errTypeCount',1,errType];\nreturn msg;","outputs":1,"x":792.4567565917969,"y":267.3609848022461,"z":"bde270b6.421d9","wires":[["90544dba.6fabb"]]},{"id":"187b970e.e78469","type":"inject","name":"00：00","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"00 00 * * *","once":false,"x":165,"y":1915.756259918213,"z":"bde270b6.421d9","wires":[["27b42bca.d84bd4","52bbc2ac.ad443c","c6ead3ed.39153","795f19b4.86a0e8","84006048.7bffa","a29b6bd5.5d6498","4bc91e2c.b436e","37f0bafa.c80f46","29644f74.d69bb"]]},{"id":"29644f74.d69bb","type":"function","name":"del errPageDisplay","useRequire":false,"func":"msg.payload = ['del','errPageDisplay'];\nreturn msg;","outputs":1,"x":462.7778625488281,"y":1768.9658203125,"z":"bde270b6.421d9","wires":[["b946b13f.46b95"]]},{"id":"27b42bca.d84bd4","type":"function","name":"del errTypeCount","func":"msg.payload = ['del','errTypeCount'];\nreturn msg;","outputs":1,"x":462.8888854980469,"y":1810.64501953125,"z":"bde270b6.421d9","wires":[["b946b13f.46b95"]]},{"id":"52bbc2ac.ad443c","type":"function","name":"del visitPageCount","func":"msg.payload = ['del','visitPageCount'];\nreturn msg;","outputs":1,"x":463.7778015136719,"y":1859.311767578125,"z":"bde270b6.421d9","wires":[["b946b13f.46b95"]]},{"id":"b946b13f.46b95","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"clean redis","x":927.1111755371094,"y":1937.5955810546875,"z":"bde270b6.421d9","wires":[]},{"id":"d6d690a7.29297","type":"function","name":"refererCount","useRequire":false,"func":"if(msg.payload.type==\"HTTP_TRACE_REQ\")\n{\n\tif(msg.payload.referer!=\"\")\n\t{\n\t\tvar referer=msg.payload.referer;\n    \tvar refererPage=\"\";\n    \tif(referer.indexOf('?')>0)\n    \t{\n    \t\trefererPage=referer.substring(0,referer.indexOf('?'));\n\t    }\n\t    else\n\t    {\n    \t\trefererPage=referer;\n    \t}\n\t\tmsg.payload={\"referer\":refererPage};\n\t\treturn msg;\n\t}\n}","outputs":1,"x":612.1235046386719,"y":401.2870407104492,"z":"bde270b6.421d9","wires":[["6eca87b.f913578"]]},{"id":"6eca87b.f913578","type":"function","name":"refererCount","func":"var referer=msg.payload.referer;\nmsg.payload=['zincrby','refererCount',1,referer];\nreturn msg;","outputs":1,"x":853.7902526855469,"y":435.842529296875,"z":"bde270b6.421d9","wires":[["90544dba.6fabb"]]},{"id":"d4311ff6.2bcee","type":"function","name":"refererCount","useRequire":false,"func":"if(msg.type == 'refererCount'){\nvar temp=[];\nvar payload=[];\npayload.push([\"来路页面\",\"次数\"]);\nif(msg.payload.length>20)\n{\n    var len=20;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n\tvar referer=msg.payload[i];\n\tvar count=parseInt(msg.payload[i+1]);\n    payload.push([referer,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"lszwebpush_tablerefererCount\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":642.1638031005859,"y":976.4782447814941,"z":"bde270b6.421d9","wires":[["e8214e28.17deb"]]},{"id":"c6ead3ed.39153","type":"function","name":"del refererCount","func":"msg.payload = ['del','refererCount'];\nreturn msg;","outputs":1,"x":451.4568176269531,"y":1907.6202392578125,"z":"bde270b6.421d9","wires":[["b946b13f.46b95"]]},{"id":"aeec4e3c.5113b","type":"redisPub","name":"visitPageCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_tablevisitPageCount","x":894.4014587402344,"y":923.4532470703125,"z":"bde270b6.421d9","wires":[]},{"id":"e8214e28.17deb","type":"redisPub","name":"refererCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_tablerefererCount","x":887.6235809326172,"y":976.2032203674316,"z":"bde270b6.421d9","wires":[]},{"id":"f44dba8a.0bb248","type":"function","name":"userIP","useRequire":false,"func":"if(msg.payload.type==\"HTTP_TRACE_REQ\")\n{\n\tvar userIP=msg.payload.userIP;\n\tmsg.payload={\"userIP\":userIP};\n\treturn msg;\n}","outputs":1,"x":626.9289245605469,"y":523.2036666870117,"z":"bde270b6.421d9","wires":[["46f24eb0.b90db"]]},{"id":"46f24eb0.b90db","type":"function","name":"userIPCount","func":"var userIP=msg.payload.userIP;\nmsg.payload=['zincrby','userIPCount',1,userIP];\nreturn msg;","outputs":1,"x":852.5678405761719,"y":513.5091552734375,"z":"bde270b6.421d9","wires":[["90544dba.6fabb"]]},{"id":"cf00bedd.30ff4","type":"function","name":"userIPCount","useRequire":false,"func":"if(msg.type == 'userIPCount'){\nvar userIP=[];\nvar count=[];\nvar payload=[];\nif(msg.payload.length>=12)\n{\n    var len=12;\n}\nelse\n{\n\tlen=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n\tuserIP.push(msg.payload[i]);\n\tcount.push(parseInt(msg.payload[i+1]));\n}\nfor(var i=0;i<userIP.length;++i)\n{\n\tvar out=[userIP[i],count[i]];\n\tpayload.push(out);\n}\npayload={\"value\":payload};\nmsg.payload={\n    \"MsgID\":\"lszwebpush_columnuserIPCount\",\n    \"username\":\"lszweb\",\n    \"payload\":payload\n   };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n\n}","outputs":1,"x":644.6513977050781,"y":1661.4810791015625,"z":"bde270b6.421d9","wires":[["32b4fb98.cd4b04"]]},{"id":"32b4fb98.cd4b04","type":"redisPub","name":"userIPCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_columnuserIPCount","x":911.0122985839844,"y":1668.4533081054688,"z":"bde270b6.421d9","wires":[]},{"id":"3a4b1d02.c5b4e2","type":"function","name":"repeatVisit","useRequire":false,"func":"var string=\"www.lsz.gov.cn:凉山州人民政府,hd.lsz.gov.cn:会东县政府网站,hl.lsz.gov.cn:会理县政府网站,lszaj.lsz.gov.cn:凉山州安监局,fzb.lsz.gov.cn:凉山州法制办,jxw.lsz.gov.cn:凉山州经信委,xd.lsz.gov.cn:喜德县政府网站,tyj.lsz.gov.cn:凉山州体育局,lyj.lsz.gov.cn:凉山州林业局,sjj.lsz.gov.cn:凉山州审计局,gjj.lsz.gov.cn:凉山州公积金管理中心,ghjsj.lsz.gov.cn:凉山州规建局,lscl.lsz.gov.cn:凉山州残联,lszyw.lsz.gov.cn:凉山州语委,lsws.lsz.gov.cn:凉山州卫计委,lsws.lsz.gov.cn:凉山州扶贫移民局,zj.lsz.gov.cn:昭觉县政府网站,fzjzj.lsz.gov.cn:凉山州防震减灾局,czj.lsz.gov.cn:凉山州财政局,pg.lsz.gov.cn:普格县政府网站,nn.lsz.gov.cn:宁南县政府网站,nmj.lsz.gov.cn:凉山州农牧局,mn.lsz.gov.cn:冕宁县政府网站,ml.lsz.gov.cn:木里县政府网站,\";\nif(msg.payload.type=\"HTTP_TRACE_REQ\")\n{\n\t\n\tvar userIP=msg.payload.userIP;\n\tvar target=msg.payload.target;\n\tvar host=msg.payload.host;\n\tif(string.indexOf(host)>=0)\n\t{\n\t\tif(target.indexOf('index.html')>0)\n\t\t{\n\t   \t\tif(target.indexOf('?')>0)\n\t    \t{\n\t        \tvisitPage=host+target.substring(0,target.indexOf('?'));\n\t    \t}\n\t\t\telse\n\t    \t{\n\t   \t    \tvisitPage=host+target;\n\t    \t}\n\t    \tmsg.payload={\"userIP\":userIP,\"target\":visitPage};\n\t    \treturn msg;\n\t\t}\n\t}\n\t\n}","outputs":1,"x":644.4567565917969,"y":579.8424377441406,"z":"bde270b6.421d9","wires":[["9c2d93bf.63d27"]]},{"id":"9c2d93bf.63d27","type":"function","name":"repeatVisit","useRequire":false,"func":"var userIP=msg.payload.userIP;\nvar target=msg.payload.target;\nvar temp=userIP+'#'+target;\nmsg.payload=['zincrby','repeatVisit',1,temp];\nreturn msg;","outputs":1,"x":863.9012145996094,"y":558.6201171875,"z":"bde270b6.421d9","wires":[["90544dba.6fabb"]]},{"id":"795f19b4.86a0e8","type":"function","name":"del userIPCount","func":"msg.payload = ['del','userIPCount'];\nreturn msg;","outputs":1,"x":439.4568176269531,"y":1966.064453125,"z":"bde270b6.421d9","wires":[["b946b13f.46b95"]]},{"id":"4bc91e2c.b436e","type":"function","name":"del repeatVisit","func":"msg.payload = ['del','repeatVisit'];\nreturn msg;","outputs":1,"x":438.4568176269531,"y":2030.953369140625,"z":"bde270b6.421d9","wires":[["b946b13f.46b95"]]},{"id":"3635e871.c9ca18","type":"redisPub","name":"repeatVisitCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_tablerepeatVisit","x":929.1792449951172,"y":1036.7032737731934,"z":"bde270b6.421d9","wires":[]},{"id":"f6bf6249.0940a","type":"function","name":"errWebCount","func":"var errWeb=msg.payload.belong;\nmsg.payload=['zincrby','errWebCount',1,errWeb];\nreturn msg;","outputs":1,"x":783.2499084472656,"y":191.71880340576172,"z":"bde270b6.421d9","wires":[["90544dba.6fabb"]]},{"id":"84006048.7bffa","type":"function","name":"del errWebCount","func":"msg.payload = ['del','errWebCount'];\nreturn msg;","outputs":1,"x":446.4444274902344,"y":2103.36083984375,"z":"bde270b6.421d9","wires":[["b946b13f.46b95"]]},{"id":"fbe234f9.041dc8","type":"redisPub","name":"errPageDisplay","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_tableerrPageDisplay","x":904.8458557128906,"y":862.5277709960938,"z":"bde270b6.421d9","wires":[]},{"id":"2b6c0071.d494","type":"function","name":"errPageDisplay","useRequire":false,"func":"if(msg.type == 'errPageDisplay'){\nvar temp=[];\nvar payload=[];\npayload.push([\"错误页面\",\"所属网站\",\"错误类型\",\"出错次数\"]);\nif(msg.payload.length>20)\n{\n    var len=20;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n    temp=msg.payload[i].split('#');\n    var errURL=temp[0];\n    var belong=temp[1];\n    var errType=temp[2];\n    var count=msg.payload[i+1];\n    payload.push([errURL,belong,errType,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"lszwebpush_tableerrPageDisplay\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":664.0126037597656,"y":854.9169006347656,"z":"bde270b6.421d9","wires":[["fbe234f9.041dc8"]]},{"id":"de2deefd.21d21","type":"function","name":"errTypeCount","useRequire":false,"func":"if(msg.type == 'errTypeCount'){\nvar errType=[];\nvar count=[];\nvar payload=[];\nif(msg.payload.length>=12)\n{\n    var len=12;\n}\nelse\n{\n\tlen=msg.payload.length;\n}\n    for(var i=0;i<len-1;i+=2)\n\t{\n\t\terrType.push(msg.payload[i]);\n\t\tcount.push(parseInt(msg.payload[i+1]));\n\t}\n\tfor(var i=0;i<errType.length;++i)\n\t{\n\t\tvar out=[errType[i],count[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"lszwebpush_columnerrTypeCount\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n}\n","outputs":1,"x":676.6513977050781,"y":1412.3058471679688,"z":"bde270b6.421d9","wires":[["90a07b.ff6f5f88"]]},{"id":"90a07b.ff6f5f88","type":"redisPub","name":"errTypeCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_columnerrTypeCount","x":1023.7901916503906,"y":1417.3424682617188,"z":"bde270b6.421d9","wires":[]},{"id":"1a275702.e5d8a9","type":"function","name":"errWebCount","useRequire":false,"func":"if(msg.type == 'errWebCount'){\nvar errWeb=[];\nvar count=[];\nvar payload=[];\nif(msg.payload.length>=12)\n{\n    var len=12;\n}\nelse\n{\n\tlen=msg.payload.length;\n}\n    for(var i=0;i<len-1;i+=2)\n\t{\n\t\terrWeb.push(msg.payload[i]);\n\t\tcount.push(parseInt(msg.payload[i+1]));\n\t}\n\tfor(var i=0;i<errWeb.length;++i)\n\t{\n\t\tvar out=[errWeb[i],count[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"lszwebpush_columnerrWebCount\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n}\n","outputs":1,"x":691.4444885253906,"y":1494.69775390625,"z":"bde270b6.421d9","wires":[["23021d40.dcfde2"]]},{"id":"23021d40.dcfde2","type":"redisPub","name":"errWebCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_columnerrWebCount","x":914.2777404785156,"y":1484.4752197265625,"z":"bde270b6.421d9","wires":[]},{"id":"c7a5b35d.385a5","type":"function","name":"user_client","useRequire":false,"func":"if(msg.type == 'user_client'){\nvar userAgent=[];\nvar count=[];\nvar payload=[];\nif(msg.payload.length>=8)\n{\n    var len=8;\n    for(var i=0;i<len-1;i+=2)\n\t{\n\t\tuserAgent.push(msg.payload[i]);\n\t\tcount.push(parseInt(msg.payload[i+1]));\n\t}\n\tfor(var i=0;i<userAgent.length;++i)\n\t{\n\t\tvar out=[userAgent[i],count[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"lszwebpush_pieuserAgent\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n}\n}\n","outputs":1,"x":696.4789733886719,"y":1556.9205322265625,"z":"bde270b6.421d9","wires":[["1261fc68.ed9e04"]]},{"id":"1261fc68.ed9e04","type":"redisPub","name":"userAgentCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_pieuserAgent","x":921.4789733886719,"y":1580.92041015625,"z":"bde270b6.421d9","wires":[]},{"id":"a29b6bd5.5d6498","type":"function","name":"del userAgentCount","func":"msg.payload = ['del','user_client'];\nreturn msg;","outputs":1,"x":444.4568176269531,"y":2171.286865234375,"z":"bde270b6.421d9","wires":[["b946b13f.46b95"]]},{"id":"aec532b.f513ad","type":"function","name":"repeatVisitCount","useRequire":false,"func":"if(msg.type == 'repeatVisit'){\nvar temp=[];\nvar payload=[];\npayload.push([\"用户IP\",\"访问页面\",\"访问次数\"]);\nif(msg.payload.length>20)\n{\n    var len=20;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n    temp=msg.payload[i].split('#');\n    var userIP=temp[0];\n    var URL=temp[1];\n    var count=msg.payload[i+1];\n    payload.push([userIP,URL,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"lszwebpush_tablerepeatVisit\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":653.7067565917969,"y":1024.0924072265625,"z":"bde270b6.421d9","wires":[["3635e871.c9ca18"]]},{"id":"4c92a2cd.b36d5c","type":"inject","name":"2s","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":114.90141296386719,"y":1533.472412109375,"z":"bde270b6.421d9","wires":[["a94345ba.56bcb8","34105d63.cbefa2","ed7124f0.128ed8","fae05b1e.051fa8"]]},{"id":"3265a60b.cd9a5a","type":"inject","name":"5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":79.88894653320312,"y":887.2222290039062,"z":"bde270b6.421d9","wires":[["668103d6.997efc","5f535f01.a0aca","c3dd8993.3c2278","ba0859ec.45f7a8"]]},{"id":"668103d6.997efc","type":"function","name":"visitPageCount","useRequire":false,"func":"msg.payload = ['visitPageCount',0,20, 'withscores'];\nmsg.type = 'visitPageCount';\nreturn msg;","outputs":1,"x":270.8889465332031,"y":915.4444885253906,"z":"bde270b6.421d9","wires":[["b12f52e2.4ed0b"]]},{"id":"5f535f01.a0aca","type":"function","name":"refererCount","useRequire":false,"func":"msg.payload = ['refererCount',0,10, 'withscores'];\nmsg.type = 'refererCount';\nreturn msg;","outputs":1,"x":261.8889465332031,"y":970.4444885253906,"z":"bde270b6.421d9","wires":[["b12f52e2.4ed0b"]]},{"id":"c3dd8993.3c2278","type":"function","name":"repeatVisit","useRequire":false,"func":"msg.payload = ['repeatVisit',0,20, 'withscores'];\nmsg.type = 'repeatVisit';\nreturn msg;","outputs":1,"x":249.88894653320312,"y":1025.4444885253906,"z":"bde270b6.421d9","wires":[["b12f52e2.4ed0b"]]},{"id":"b12f52e2.4ed0b","type":"redis-command","server":"2d57ea56.d2a816","command":"zrevrange","name":"","topic":"","x":468.88897705078125,"y":895.4444885253906,"z":"bde270b6.421d9","wires":[["a4bd1b1f.5b42e8","d4311ff6.2bcee","aec532b.f513ad","5deb923b.a2146c"]]},{"id":"8ec23ffe.713dc","type":"redis-command","server":"2d57ea56.d2a816","command":"zrevrange","name":"","topic":"","x":511.8888854980469,"y":1549.4445190429688,"z":"bde270b6.421d9","wires":[["1a275702.e5d8a9","de2deefd.21d21","c7a5b35d.385a5","cf00bedd.30ff4","206db121.df924e"]]},{"id":"a94345ba.56bcb8","type":"function","name":"errTypeCount","useRequire":false,"func":"msg.payload = ['errTypeCount',0,12, 'withscores'];\nmsg.type = 'errTypeCount';\nreturn msg;","outputs":1,"x":323.8888854980469,"y":1500.5557250976562,"z":"bde270b6.421d9","wires":[["8ec23ffe.713dc"]]},{"id":"34105d63.cbefa2","type":"function","name":"errWebCount","useRequire":false,"func":"msg.payload = ['errWebCount',0,12, 'withscores'];\nmsg.type = 'errWebCount';\nreturn msg;","outputs":1,"x":313.8888854980469,"y":1556.5556640625,"z":"bde270b6.421d9","wires":[["8ec23ffe.713dc"]]},{"id":"ed7124f0.128ed8","type":"function","name":"user_client","useRequire":false,"func":"msg.payload = ['user_client',0,8, 'withscores'];\nmsg.type = 'user_client';\nreturn msg;","outputs":1,"x":314.8888854980469,"y":1615.5556640625,"z":"bde270b6.421d9","wires":[["8ec23ffe.713dc"]]},{"id":"fae05b1e.051fa8","type":"function","name":"userIPCount","useRequire":false,"func":"msg.payload = ['userIPCount',0,12, 'withscores'];\nmsg.type = 'userIPCount';\nreturn msg;","outputs":1,"x":302.8888854980469,"y":1663.5556640625,"z":"bde270b6.421d9","wires":[["8ec23ffe.713dc"]]},{"id":"5deb923b.a2146c","type":"function","name":"userIPBelong_zset","useRequire":false,"func":"if(msg.type=='userIPBelong_zset'){\nvar temp=[];\nvar payload=[];\npayload.push([\"用户IP地址\",\"所属地域\",'次数']);\nif(msg.payload.length>20)\n{\n    var len=20;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n\tvar ip=msg.payload[i].split(':')[0];\n\tvar belong=msg.payload[i].split(':')[1];\n\tvar count=parseInt(msg.payload[i+1]);\n    payload.push([ip,belong,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"lszwebpush_tableipBelong\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":651.8888854980469,"y":794.2222900390625,"z":"bde270b6.421d9","wires":[["cd566893.32a998"]]},{"id":"cd566893.32a998","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_tableipBelong","x":890.8890686035156,"y":738.2223205566406,"z":"bde270b6.421d9","wires":[]},{"id":"f38e6ecf.0c719","type":"function","name":"userIP","useRequire":false,"func":"\n\tvar IP=msg.payload.userIP;\n\tvar temp=IP.split('.');\n\tif(temp[0]==='10'&&temp[1]==='21')\n\t{\n\t\tmsg.payload={\"userIP\":IP};\n\t\treturn msg;\n\t}\n\t","outputs":1,"x":640.2221374511719,"y":638.0000915527344,"z":"bde270b6.421d9","wires":[["59102ca3.a6efd4"]]},{"id":"8225edbe.7dda1","type":"function","name":"toRedis","useRequire":false,"func":"if(msg.payload.userIPName!=null)\n{\n\tvar out=msg.payload.userIP+':'+msg.payload.userIPName;\n\tmsg.payload=['zincrby','userIPBelong_zset',1,out];\n\treturn msg;\n}\n","outputs":1,"x":1005.8888854980469,"y":613.2222900390625,"z":"bde270b6.421d9","wires":[["90544dba.6fabb"]]},{"id":"59102ca3.a6efd4","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"getName","hashname":"ipBelong_hash","hashkey":"userIP","x":820.8888854980469,"y":632.3335189819336,"z":"bde270b6.421d9","wires":[["8225edbe.7dda1"]]},{"id":"ba0859ec.45f7a8","type":"function","name":"userIPBelong_zset","useRequire":false,"func":"msg.payload = ['userIPBelong_zset',0,20, 'withscores'];\nmsg.type = 'userIPBelong_zset';\nreturn msg;","outputs":1,"x":266.8888854980469,"y":763.3333740234375,"z":"bde270b6.421d9","wires":[["b12f52e2.4ed0b"]]},{"id":"37f0bafa.c80f46","type":"function","name":"del redis","useRequire":false,"func":"msg.payload = ['del','userIPBelong_zset'];\nreturn msg;","outputs":1,"x":419.8888854980469,"y":2225.88916015625,"z":"bde270b6.421d9","wires":[["b946b13f.46b95"]]},{"id":"bc42faa3.43bd08","type":"redisPub","name":"errPageDisplay","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"errPageDisplay_all","x":951.0001525878906,"y":1342,"z":"bde270b6.421d9","wires":[]},{"id":"206db121.df924e","type":"function","name":"errPageDisplay","useRequire":false,"func":"if(msg.type == 'errPageDisplay_50'){\nvar temp=[];\nvar payload=[];\npayload.push([\"错误页面\",\"所属网站\",\"来路页面\",\"错误类型\",\"出错次数\"]);\nif(msg.payload.length>100)\n{\n    var len=100;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n    temp=msg.payload[i].split('#');\n    var errURL=temp[0];\n    var belong=temp[1];\n    var errType=temp[2];\n    var referer=temp[3];\n    var count=msg.payload[i+1];\n    payload.push([errURL,belong,referer,errType,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"errPageDisplay_all\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":683.1667175292969,"y":1342.38916015625,"z":"bde270b6.421d9","wires":[["bc42faa3.43bd08"]]},{"id":"f0a1c3eb.0f5e4","type":"function","name":"errPageDisplay_50","useRequire":false,"func":"msg.payload = ['errPageDisplay',0,1000, 'withscores'];\nmsg.type = 'errPageDisplay_50';\nreturn msg;","outputs":1,"x":295.0000305175781,"y":1360.9999694824219,"z":"bde270b6.421d9","wires":[["8ec23ffe.713dc"]]},{"id":"b27e0b6d.4d81f8","type":"inject","name":"3s","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"x":87.88888549804688,"y":1375.888916015625,"z":"bde270b6.421d9","wires":[["f0a1c3eb.0f5e4"]]}]