项目文档/flow/网站监控/网站群页面监控flow.txt
[{"id":"2d57ea56.d2a816","type":"redis-config","host":"10.21.21.99","port":"6379","dbase":"","pass":""},{"id":"39dc2bef.c623d4","type":"function","name":"msgToJSON","useRequire":false,"func":"\nvar userIP=\"\";\nvar hostIP=\"\";\nif(msg.payload.indexOf(\"HTTP_TRACE_REP\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    userIP=temp[0].split('|')[3].split(':')[0];\n    hostIP=temp[0].split('|')[2].split(':')[0];\n    var last=temp[1];\n    var lastTemp=last.split('|');\n    var target=lastTemp[3];\n    var status=lastTemp[4];\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=\"\";\n    if(hoststring.indexOf(' ')>0)\n    {\n    \thost=hoststring.substring(0,hoststring.indexOf(' '));\n    }\n    else\n    {\n    \thost=hoststring;\n    }\n\tvar user_agent=\"\";\n\tif(last.indexOf(\"User-Agent: \")>0)\n\t{\n    \tvar user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    \tif(user_agentstring.indexOf(':')>0)\n    \t{\n        \tvar tempOfuserAgentString=user_agentstring.substring(0,user_agentstring.indexOf(':'));\n        \tvar tempstring=tempOfuserAgentString.split(' ');\n        \tvar len=tempstring.length;\n        \tfor(var i=0;i<len-1;++i)\n        \t{\n            \tuser_agent+=tempstring[i];\n        \t}\n    \t}\n    \telse\n    \t{\n        \tuser_agent=tempOfuserAgentString;\n    \t}\n\t}\n\telse\n\t{\n    \tuser_agent=\"\";\n\t}\n    if(last.indexOf(\"Referer: \")>0)\n    {\n    \tvar referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    \tif(referer_string.indexOf(' ')>0)\n    \t{\n    \t\tvar referer=referer_string.substring(0,referer_string.indexOf(' '));\n    \t}\n    \telse\n    \t{\n    \t\tvar referer=referer_string;\n    \t}\n    }\n    else\n    {\n    \tvar referer=\"\";\n    }\n    \n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"status\":status,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}\nif(msg.payload.indexOf(\"HTTP_TRACE_REQ\")==0)\n{\n    var temp=msg.payload.split('#');\n    var type=temp[0].slice(0,temp[0].indexOf('|'));\n    hostIP=temp[0].split('|')[3].split(':')[0];\n    userIP=temp[0].split('|')[2].split(':')[0];\n    last=temp[1].split(\"|\")[3];\n    var target=last.substring(0,last.indexOf(' '));\n    var hoststring=last.substring(last.indexOf(\"Host: \")+6,last.length);\n    var host=\"\";\n    if(hoststring.indexOf(' ')>0)\n    {\n    \thost=hoststring.substring(0,hoststring.indexOf(' '));\n    }\n    else\n    {\n    \thost=hoststring;\n    }\n    var user_agent=\"\";\n\tif(last.indexOf(\"User-Agent: \")>0)\n\t{\n    \tvar user_agentstring=last.substring(last.indexOf(\"User-Agent: \")+12,last.length);\n    \tif(user_agentstring.indexOf(':')>0)\n    \t{\n        \tvar tempOfuserAgentString=user_agentstring.substring(0,user_agentstring.indexOf(':'));\n        \tvar tempstring=tempOfuserAgentString.split(' ');\n        \tvar len=tempstring.length;\n        \tfor(var i=0;i<len-1;++i)\n        \t{\n            \tuser_agent+=tempstring[i];\n        \t}\n    \t}\n    \telse\n    \t{\n        \tuser_agent=tempOfuserAgentString;\n    \t}\n\t}\n\telse\n\t{\n    \tuser_agent=\"\";\n\t}\n    if(last.indexOf(\"Referer: \")>0)\n    {\n    \tvar referer_string=last.substring(last.indexOf(\"Referer: \")+9,last.length);\n    \tif(referer_string.indexOf(' ')>0)\n    \t{\n    \t\tvar referer=referer_string.substring(0,referer_string.indexOf(' '));\n    \t}\n    \telse\n    \t{\n    \t\tvar referer=referer_string;\n    \t}\n    }\n    else\n    {\n    \tvar referer=\"\";\n    }\n    msg.payload={\n        \"type\":type,\n        \"userIP\":userIP,\n        \"hostIP\":hostIP,\n        \"target\":target,\n        \"host\":host,\n        \"user_agent\":user_agent,\n        \"referer\":referer\n    };\n    return msg;\n}","outputs":1,"x":341.8888854980469,"y":173.75,"z":"a4e0823f.5b1f8","wires":[["d7e33b48.281cc8","9ba435af.645bc8","3def0ef0.c210f2","42043ef6.bdfbc"]]},{"id":"31e4be80.ce1b42","type":"redisSub","name":"Http_traceReader","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"http_trace","x":131.9444122314453,"y":175.22213745117188,"z":"a4e0823f.5b1f8","wires":[["39dc2bef.c623d4"]]},{"id":"d7e33b48.281cc8","type":"function","name":"hostCount","useRequire":false,"func":"var string=\"www.lsz.gov.cn:凉山州人民政府,hd.lsz.gov.cn:会东县政府网站,hl.lsz.gov.cn:会理县政府网站,lszaj.lsz.gov.cn:凉山州安监局,fzb.lsz.gov.cn:凉山州法制办,jxw.lsz.gov.cn:凉山州经信委,xd.lsz.gov.cn:喜德县政府网站,tyj.lsz.gov.cn:凉山州体育局,lyj.lsz.gov.cn:凉山州林业局,sjj.lsz.gov.cn:凉山州审计局,gjj.lsz.gov.cn:凉山州公积金管理中心,ghjsj.lsz.gov.cn:凉山州规建局,lscl.lsz.gov.cn:凉山州残联,lszyw.lsz.gov.cn:凉山州语委,lsws.lsz.gov.cn:凉山州卫计委,lsws.lsz.gov.cn:凉山州扶贫移民局,zj.lsz.gov.cn:昭觉县政府网站,fzjzj.lsz.gov.cn:凉山州防震减灾局,czj.lsz.gov.cn:凉山州财政局,pg.lsz.gov.cn:普格县政府网站,nn.lsz.gov.cn:宁南县政府网站,nmj.lsz.gov.cn:凉山州农牧局,mn.lsz.gov.cn:冕宁县政府网站,ml.lsz.gov.cn:木里县政府网站,\";\nvar host=msg.payload.host;\nvar hostlength=host.length;\nif(string.indexOf(host)>=0)\n{\n\tvar hostNameString=string.substring(string.indexOf(host)+hostlength+1,string.length);\n\tvar hostName=hostNameString.substring(0,hostNameString.indexOf(','));\n\tmsg.payload={\"hostName\":hostName,\"hostDNS\":host};\n\treturn msg;\n}\n","outputs":1,"x":549.6943969726562,"y":171.74999237060547,"z":"a4e0823f.5b1f8","wires":[["e3433bfe.1cbcc8"]]},{"id":"e3433bfe.1cbcc8","type":"function","name":"hostVisitCount","useRequire":false,"func":"var hostName=msg.payload.hostName;\nmsg.payload=['zincrby','hostVisitCount',1,hostName];\nreturn msg;","outputs":1,"x":770.4443664550781,"y":159.00000762939453,"z":"a4e0823f.5b1f8","wires":[["342e9c9f.cbd164"]]},{"id":"342e9c9f.cbd164","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"hostVisitCount","x":1127.1944885253906,"y":157.75,"z":"a4e0823f.5b1f8","wires":[]},{"id":"e272517.f1d8db","type":"function","name":"hostVisitCount","useRequire":false,"func":"if(msg.type == 'hostVisitCount'){\nvar hostName=[];\nvar count=[];\nvar payload=[];\nif(msg.payload.length>=12)\n{\n    var len=12;\n}\nelse if(msg.payload.length>0)\n{\n\tvar len=msg.payload.length\n}\nfor(var i=0;i<len-1;i+=2)\n{\n\thostName.push(msg.payload[i]);\n\tcount.push(parseInt(msg.payload[i+1]));\n}\nfor(var i=0;i<hostName.length;++i)\n{\n\tvar out=[hostName[i],count[i]];\n\tpayload.push(out);\n}\npayload={\"value\":payload};\nmsg.payload={\n\t\"MsgID\":\"lszwebpush_columnhostVisitCount\",\n    \"username\":\"lszweb\",\n    \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":795.9446716308594,"y":389.3056011199951,"z":"a4e0823f.5b1f8","wires":[["cfe59b3c.301a68"]]},{"id":"cfe59b3c.301a68","type":"redisPub","name":"hostVisitCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_columnhostVisitCount","x":988.6945495605469,"y":382.8056011199951,"z":"a4e0823f.5b1f8","wires":[]},{"id":"f64a8088.09b58","type":"inject","name":"00:00","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"00 00 * * *","once":false,"x":258.25000762939453,"y":796.1389532089233,"z":"a4e0823f.5b1f8","wires":[["7d300c58.82cff4","f1458917.0eba78","48fd8f59.b7027","45c8dcbc.ba3724"]]},{"id":"48fd8f59.b7027","type":"function","name":"del hostVisitCount","func":"msg.payload = ['del','hostVisitCount'];\nreturn msg;","outputs":1,"x":528.8055648803711,"y":665.1667070388794,"z":"a4e0823f.5b1f8","wires":[["ce782402.3187d8"]]},{"id":"ce782402.3187d8","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"clean redis","x":831.0277976989746,"y":777.9444942474365,"z":"a4e0823f.5b1f8","wires":[]},{"id":"9ba435af.645bc8","type":"function","name":"hotVisitPage","useRequire":false,"func":"var string=\"www.lsz.gov.cn:凉山州人民政府,hd.lsz.gov.cn:会东县政府网站,hl.lsz.gov.cn:会理县政府网站,lszaj.lsz.gov.cn:凉山州安监局,fzb.lsz.gov.cn:凉山州法制办,jxw.lsz.gov.cn:凉山州经信委,xd.lsz.gov.cn:喜德县政府网站,tyj.lsz.gov.cn:凉山州体育局,lyj.lsz.gov.cn:凉山州林业局,sjj.lsz.gov.cn:凉山州审计局,gjj.lsz.gov.cn:凉山州公积金管理中心,ghjsj.lsz.gov.cn:凉山州规建局,lscl.lsz.gov.cn:凉山州残联,lszyw.lsz.gov.cn:凉山州语委,lsws.lsz.gov.cn:凉山州卫计委,lsws.lsz.gov.cn:凉山州扶贫移民局,zj.lsz.gov.cn:昭觉县政府网站,fzjzj.lsz.gov.cn:凉山州防震减灾局,czj.lsz.gov.cn:凉山州财政局,pg.lsz.gov.cn:普格县政府网站,nn.lsz.gov.cn:宁南县政府网站,nmj.lsz.gov.cn:凉山州农牧局,mn.lsz.gov.cn:冕宁县政府网站,ml.lsz.gov.cn:木里县政府网站,\";\nvar host=msg.payload.host;\nvar hostlength=host.length;\nif(string.indexOf(host)>=0)\n{\n\tvar hostNameString=string.substring(string.indexOf(host)+hostlength+1,string.length);\n\tvar hostName=hostNameString.substring(0,hostNameString.indexOf(','));\n\tvar target=msg.payload.target;\n\tif(target.indexOf(\"index.html\")>0)\n\t{\n\t\tvar visitPage=host+target.substring(0,target.indexOf(\"index.html\"))+\"index.html\";\n\t\tmsg.payload={\"hostName\":hostName,\"host\":host,\"visitPage\":visitPage};\n\t\treturn msg;\n\t}\n}\n","outputs":1,"x":545.9444580078125,"y":248,"z":"a4e0823f.5b1f8","wires":[["ec533a3.f13acc8"]]},{"id":"f1458917.0eba78","type":"function","name":"del hotVisitPageCount","func":"msg.payload = ['del','hotVisitPageCount'];\nreturn msg;","outputs":1,"x":525.2500305175781,"y":746.3333721160889,"z":"a4e0823f.5b1f8","wires":[["ce782402.3187d8"]]},{"id":"57821064.a87df","type":"function","name":"hotVisitPageCount","useRequire":false,"func":"if(msg.type == 'hotVisitPageCount'){\nvar temp=[];\nvar payload=[];\npayload.push([\"网站名称\",\"当前热点页面\",\"访问次数\"]);\nif(msg.payload.length>50)\n{\n    var len=50;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n    temp=msg.payload[i].split('#');\n    var hostName=temp[0];\n    var visitPage=temp[1];\n    var count=msg.payload[i+1];\n    payload.push([hostName,visitPage,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"lszwebpush_tablehotVisitPageCount\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":797.9445953369141,"y":437.55563163757324,"z":"a4e0823f.5b1f8","wires":[["57822209.a87ddc"]]},{"id":"57822209.a87ddc","type":"redisPub","name":"hotVisitPageCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_tablehotVisitPageCount","x":1005.1945953369141,"y":433.805570602417,"z":"a4e0823f.5b1f8","wires":[]},{"id":"3def0ef0.c210f2","type":"function","name":"keyWordCount","useRequire":false,"func":"var host=msg.payload.host;\nif(msg.payload.type==\"HTTP_TRACE_REQ\")\n{\n\tvar target=msg.payload.target;\n\tif(target.indexOf(\"&q=\")>0)\n\t{\n\t\tvar keyWordString=target.substring(target.indexOf(\"&q=\")+3,target.length);\n\t\tvar keyWord=decodeURI(keyWordString.substring(0,keyWordString.indexOf('&')));\n\t\tif(keyWord!=\"\")\n\t\t{\n\t\t\tmsg.payload={\"hostName\":host,\"keyWord\":keyWord};\n\t\t\treturn msg;\n\t\t}\n\t}\n}","outputs":1,"x":553.1943969726562,"y":59,"z":"a4e0823f.5b1f8","wires":[["47b0e648.b84f18"]]},{"id":"ec533a3.f13acc8","type":"function","name":"hotVisitPageCount","useRequire":false,"func":"var hostName=msg.payload.hostName;\nvar visitPage=msg.payload.visitPage;\nvar out=hostName+'#'+visitPage;\nmsg.payload=['zincrby','hotVisitPageCount',1,out];\nreturn msg;","outputs":1,"x":787.1943664550781,"y":236.25,"z":"a4e0823f.5b1f8","wires":[["342e9c9f.cbd164"]]},{"id":"47b0e648.b84f18","type":"function","name":"keyWordCount","useRequire":false,"func":"var hostName=msg.payload.hostName;\nvar keyWord=msg.payload.keyWord;\nvar out=hostName+':'+keyWord;\nmsg.payload=['zincrby','keyWordCount',1,out];\nreturn msg;","outputs":1,"x":752.9444274902344,"y":54,"z":"a4e0823f.5b1f8","wires":[["342e9c9f.cbd164"]]},{"id":"d58d6cf.f2a729","type":"function","name":"keyWordCount","useRequire":false,"func":"if(msg.type == 'keyWordCount'){\nvar temp=[];\nvar payload=[];\n//payload.push([\"搜索的网站\",\"搜索的关键词\",\"搜索次数\"]);\npayload.push([\"搜索的关键词\",\"搜索次数\"]);\nif(msg.payload.length>20)\n{\n    var len=20;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n    temp=msg.payload[i].split(':');\n    //var hostName=temp[0];\n    var keyWord=temp[1];\n//    if(msg.payload[i+1]%2!=0)\n//    {\n//    \tvar count=msg.payload[i+1];\n//    }\n//    else\n//    {\n//    \tvar count=msg.payload[i+1]/2\n//    }\n\tvar count=msg.payload[i+1];\n    payload.push([keyWord,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"lszwebpush_tablekeyWordCount\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":790.9445495605469,"y":488.5556011199951,"z":"a4e0823f.5b1f8","wires":[["e4e944c.f1b16b8"]]},{"id":"e4e944c.f1b16b8","type":"redisPub","name":"keyWordCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_tablekeyWordCount","x":1000.9445495605469,"y":477.5556011199951,"z":"a4e0823f.5b1f8","wires":[]},{"id":"7d300c58.82cff4","type":"function","name":"del keyWordCount","useRequire":false,"func":"msg.payload = ['del','keyWordCount'];\nreturn msg;","outputs":1,"x":521.3888854980469,"y":911.6668682098389,"z":"a4e0823f.5b1f8","wires":[["ce782402.3187d8"]]},{"id":"ee8fe3c0.11702","type":"inject","name":"2s","topic":"","payload":"","payloadType":"none","repeat":"2","crontab":"","once":false,"x":150.9444580078125,"y":422.55563163757324,"z":"a4e0823f.5b1f8","wires":[["63663015.9c99d"]]},{"id":"8106acbd.7ef95","type":"inject","name":"5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":167.88893127441406,"y":597.6666564941406,"z":"a4e0823f.5b1f8","wires":[["a4cce50e.5b3318","b300eddd.4cff1","e5a47c40.1a5b8","acf9edac.53061"]]},{"id":"63663015.9c99d","type":"function","name":"hostVisitCount","useRequire":false,"func":"msg.payload = ['hostVisitCount',0,12, 'withscores'];\nmsg.type = 'hostVisitCount';\nreturn msg;","outputs":1,"x":355.88897705078125,"y":420.5555725097656,"z":"a4e0823f.5b1f8","wires":[["bc33df98.43cc2"]]},{"id":"a4cce50e.5b3318","type":"function","name":"hotVisitPageCount","useRequire":false,"func":"msg.payload = ['hotVisitPageCount',0,50, 'withscores'];\nmsg.type = 'hotVisitPageCount';\nreturn msg;","outputs":1,"x":365.8889617919922,"y":478.5555725097656,"z":"a4e0823f.5b1f8","wires":[["bc33df98.43cc2"]]},{"id":"bc33df98.43cc2","type":"redis-command","server":"2d57ea56.d2a816","command":"zrevrange","name":"","topic":"","x":583.8890075683594,"y":485.55560302734375,"z":"a4e0823f.5b1f8","wires":[["e272517.f1d8db","57821064.a87df","d58d6cf.f2a729","a07cc7a1.5f8338"]]},{"id":"c1aa9aa8.3e5568","type":"function","name":"getName","useRequire":false,"func":"msg.hostName=msg.payload.hostName;\nmsg.host=msg.payload.host;\nvar channel=msg.payload.channel;\nmsg.payload={'channel':channel};\nreturn msg;\n","outputs":1,"x":676.8889465332031,"y":296.0000286102295,"z":"a4e0823f.5b1f8","wires":[["e06c37b7.1f93c8"]]},{"id":"e06c37b7.1f93c8","type":"redis-coder","hostname":"127.0.0.1","port":6379,"name":"getName","hashname":"channleName","hashkey":"channel","x":817.8890075683594,"y":293.333402633667,"z":"a4e0823f.5b1f8","wires":[["85e6988d.7a1968"]]},{"id":"42043ef6.bdfbc","type":"function","name":"channelVisit","useRequire":false,"func":"var string=\"www.lsz.gov.cn:凉山州人民政府,hd.lsz.gov.cn:会东县政府网站,hl.lsz.gov.cn:会理县政府网站,lszaj.lsz.gov.cn:凉山州安监局,fzb.lsz.gov.cn:凉山州法制办,jxw.lsz.gov.cn:凉山州经信委,xd.lsz.gov.cn:喜德县政府网站,tyj.lsz.gov.cn:凉山州体育局,lyj.lsz.gov.cn:凉山州林业局,sjj.lsz.gov.cn:凉山州审计局,gjj.lsz.gov.cn:凉山州公积金管理中心,ghjsj.lsz.gov.cn:凉山州规建局,lscl.lsz.gov.cn:凉山州残联,lszyw.lsz.gov.cn:凉山州语委,lsws.lsz.gov.cn:凉山州卫计委,lsws.lsz.gov.cn:凉山州扶贫移民局,zj.lsz.gov.cn:昭觉县政府网站,fzjzj.lsz.gov.cn:凉山州防震减灾局,czj.lsz.gov.cn:凉山州财政局,pg.lsz.gov.cn:普格县政府网站,nn.lsz.gov.cn:宁南县政府网站,nmj.lsz.gov.cn:凉山州农牧局,mn.lsz.gov.cn:冕宁县政府网站,ml.lsz.gov.cn:木里县政府网站,\";\nvar host=msg.payload.host;\nvar hostlength=host.length;\nif(string.indexOf(host)>=0)\n{\n\tvar hostNameString=string.substring(string.indexOf(host)+hostlength+1,string.length);\n\tvar hostName=hostNameString.substring(0,hostNameString.indexOf(','));\n\tvar target=msg.payload.target;\n\tif(target.indexOf(\"index.html\")>0)\n\t{\n\t\tvar visitPage=target.substring(0,target.indexOf(\"index.html\"));\n\t\tvar temp=visitPage.split('/');\n\t\tif(len=temp.length>2)\n\t\t{\n\t\t\tvar channel='/';\n\t\t\tfor(var i=1;i<temp.length-1;++i)\n\t\t\t{\n\t\t\t\tchannel+=temp[i]+'/';\n\t\t\t}\n\t\t}\n\t\telse\n\t\t{\n\t\t\tchannel=visitPage;\n\t\t}\n\t\tmsg.payload={\"hostName\":hostName,\"host\":host,\"channel\":channel};\n\t\treturn msg;\n\t}\n}\n","outputs":1,"x":523.6390075683594,"y":297.972318649292,"z":"a4e0823f.5b1f8","wires":[["c1aa9aa8.3e5568"]]},{"id":"85e6988d.7a1968","type":"function","name":"channelCount","useRequire":false,"func":"if(msg.payload.channelName!=null)\n{\n\tvar hostName=msg.hostName;\n\tvar channel=msg.payload.channel+'index.html';\n\tvar channelName=msg.payload.channelName;\n\tvar out=hostName+':'+channel+':'+channelName;\n\tmsg.payload=['zincrby','channelCount',1,out];\n\treturn msg;\n}\n\n","outputs":1,"x":1015.8889465332031,"y":276.4723205566406,"z":"a4e0823f.5b1f8","wires":[["342e9c9f.cbd164"]]},{"id":"a07cc7a1.5f8338","type":"function","name":"channelVisitCount","useRequire":false,"func":"if(msg.type=='channelCount'){\nvar temp=[];\nvar payload=[];\npayload.push([\"频道名称\",\"访问频道\",\"网站名称\",\"访问次数\"]);\nif(msg.payload.length>20)\n{\n    var len=20;\n}\nelse\n{\n    var len=msg.payload.length;\n}\nfor(var i=0;i<len-1;i+=2)\n{\n    temp=msg.payload[i].split(':');\n    var hostName=temp[0];\n    var channel=temp[1];\n    var channelName=temp[2];\n    var count=msg.payload[i+1];\n    payload.push([channelName,channel,hostName,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"lszwebpush_tableechannelCount\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n}","outputs":1,"x":797.1390075683594,"y":545.8336162567139,"z":"a4e0823f.5b1f8","wires":[["eac9c969.153638"]]},{"id":"eac9c969.153638","type":"redisPub","name":"channelVisitCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_tablechannelCount","x":1012.8889465332031,"y":539.0836162567139,"z":"a4e0823f.5b1f8","wires":[]},{"id":"45c8dcbc.ba3724","type":"function","name":"del redis","useRequire":false,"func":"msg.payload = ['del','channelCount'];\nreturn msg;","outputs":1,"x":518.8888244628906,"y":823.4444580078125,"z":"a4e0823f.5b1f8","wires":[["ce782402.3187d8"]]},{"id":"b300eddd.4cff1","type":"function","name":"keyWordCount","useRequire":false,"func":"msg.payload = ['keyWordCount',0,20, 'withscores'];\nmsg.type = 'keyWordCount';\nreturn msg;","outputs":1,"x":356.8889617919922,"y":533.5555725097656,"z":"a4e0823f.5b1f8","wires":[["bc33df98.43cc2"]]},{"id":"e5a47c40.1a5b8","type":"function","name":"channelCount","useRequire":false,"func":"msg.payload = ['channelCount',0,20, 'withscores'];\nmsg.type = 'channelCount';\nreturn msg;","outputs":1,"x":363.8888854980469,"y":579.1112041473389,"z":"a4e0823f.5b1f8","wires":[["bc33df98.43cc2"]]},{"id":"acf9edac.53061","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"","key":"hostVisitCount","structtype":"zset","x":544.8890380859375,"y":611.1110820770264,"z":"a4e0823f.5b1f8","wires":[["8991ae14.766e5"]]},{"id":"8991ae14.766e5","type":"function","name":"hostVisitCount","useRequire":false,"func":"\nvar payload=[];\npayload.push([\"网站名称\",\"访问次数\"]);\nvar len=msg.payload.length;\nfor(var i=0;i<len-1;i+=2)\n{\n\tif(msg.payload[i].indexOf(':')<0)\n\t{\n    \tvar hostName=msg.payload[i];\n    }\n    var count=msg.payload[i+1];\n    payload.push([hostName,count]);\n}\npayload={\"value\":payload};\nmsg.payload={\n        \"MsgID\":\"lszwebpush_tablehostVisitCount\",\n        \"username\":\"lszweb\",\n        \"payload\":payload\n    };\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;\n","outputs":1,"x":765.8889465332031,"y":613.1110820770264,"z":"a4e0823f.5b1f8","wires":[["f1e42c46.0e1bd"]]},{"id":"f1e42c46.0e1bd","type":"redisPub","name":"hostVisitCount","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"lszwebpush_tablehostVisitCount","x":970.8889465332031,"y":599.9999980926514,"z":"a4e0823f.5b1f8","wires":[]}]