项目文档/flow/行权/事项合计.txt
[{"id":"fbaf0e8b.0450f","type":"inject","name":"every day","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":393.0103073120117,"y":1087.555585861206,"z":"d388b1cd.2c775","wires":[["151aa472.eae55c"]]},{"id":"dde8e16e.22172","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_pieganluoshixiangzongxiang","x":1193.4548034667969,"y":386,"z":"d388b1cd.2c775","wires":[]},{"id":"b4742f87.4b8bd","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":256.0102996826172,"y":624,"z":"d388b1cd.2c775","wires":[["4fa3de5c.b05c2"]]},{"id":"51e7c933.ae1838","type":"redisSub","name":"readFromRedis","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"LSZ:T_OVERALL_MONTH_RPT_CH","x":113.0103759765625,"y":75,"z":"d388b1cd.2c775","wires":[["95749a37.6a8b68"]]},{"id":"95749a37.6a8b68","type":"function","name":"各个县事项合计","func":"var toJSON=JSON.parse(msg.payload);\nvar areaName=toJSON[0].AREA_NAME;\nvar len=toJSON.length;\nvar payload=[];\nfor(var i=0;i<len;++i)\n{\n\tvar cf=parseInt(toJSON[i].POWER_AUDPASS_CNT_CF);\n\tvar qz=parseInt(toJSON[i].POWER_AUDPASS_CNT_QZ);\n\tvar zs=parseInt(toJSON[i].POWER_AUDPASS_CNT_ZS);\n\tvar cj=parseInt(toJSON[i].POWER_AUDPASS_CNT_CJ);\n\tvar qr=parseInt(toJSON[i].POWER_AUDPASS_CNT_QR);\n\tvar gf=parseInt(toJSON[i].POWER_AUDPASS_CNT_JF);\n\tvar qt=parseInt(toJSON[i].POWER_AUDPASS_CNT_QT)\n\t//var time=toJSON[i].RPT_MONTH;\n\n\t\n\tvar temp=\"{\"+\"areaName\"+':'+\"'\"+areaName+\"'\"+\",\"+\"qt\"+':'+\"'\"+qt+\"'\"+\",\"+\"gf\"+':'+\"'\"+gf+\"'\"+\",\"+\"qr\"+':'+\"'\"+qr+\"'\"+\",\"+\"cj\"+':'+\"'\"+cj+\"'\"+\",\"+\"cf\"+':'+\"'\"+cf+\"'\"+\",\"+\"zs\"+':'+\"'\"+zs+\"'\"+\",\"+\"qz\"+':'+\"'\"+qz+\"'\"+\"}\";\n\tvar out=eval('(' + temp + ')');\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":428.0103454589844,"y":74,"z":"d388b1cd.2c775","wires":[["660a20e.f99f5e"]]},{"id":"660a20e.f99f5e","type":"function","name":"count","func":"var len=msg.payload.length;\nvar payload=[];\npayload.push(msg.payload[0]);\nfor(var i=1;i<len;++i)\n{\n\tpayload[0].qt=parseInt(payload[0].qt)+parseInt(msg.payload[i].qt);\n\tpayload[0].gf=parseInt(payload[0].gf)+parseInt(msg.payload[i].gf);\n\tpayload[0].qr=parseInt(payload[0].qr)+parseInt(msg.payload[i].qr);\n\tpayload[0].cj=parseInt(payload[0].cj)+parseInt(msg.payload[i].cj);\n\tpayload[0].cf=parseInt(payload[0].cf)+parseInt(msg.payload[i].cf);\n\tpayload[0].zs=parseInt(payload[0].zs)+parseInt(msg.payload[i].zs);\n\tpayload[0].qz=parseInt(payload[0].qz)+parseInt(msg.payload[i].qz);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":656.0104370117188,"y":61,"z":"d388b1cd.2c775","wires":[["265eaebc.d9a152"]]},{"id":"265eaebc.d9a152","type":"function","name":"toRedis","func":"var area=[{\"name\":\"四川省凉山州冕宁县\",\"keyName\":\"mianningxian\"},{\"name\":\"金阳县\",\"keyName\":\"jinyangxian\"},{\"name\":\"普格县\",\"keyName\":\"pugexian\"},{\"name\":\"凉山州喜德县\",\"keyName\":\"xidexian\"},{\"name\":\"凉山州越西县\",\"keyName\":\"yuexixian\"},{\"name\":\"凉山州木里县\",\"keyName\":\"mulixian\"},{\"name\":\"凉山彝族自治州雷波县\",\"keyName\":\"leiboxian\"},{\"name\":\"凉山州昭觉县\",\"keyName\":\"zhaojuexian\"},{\"name\":\"凉山彝族自治州\",\"keyName\":\"liangshanzhou\"},{\"name\":\"会理县\",\"keyName\":\"huilixian\"},{\"name\":\"凉山州德昌县\",\"keyName\":\"dechangxian\"},{\"name\":\"宁南县\",\"keyName\":\"ningnanxian\"},{\"name\":\"美姑县\",\"keyName\":\"meiguxian\"},{\"name\":\"凉山会东县\",\"keyName\":\"huidongxian\"},{\"name\":\"四川省凉山州甘洛县\",\"keyName\":\"ganluoxian\"},{\"name\":\"凉山州西昌市\",\"keyName\":\"xichangshi\"}];\nfor(var i=0;i<area.length;++i)\n{\n\tif(msg.payload[0].areaName==area[i].name)\n\t{\n\t\tvar keyName=area[i].keyName;\n\t\tbreak;\n\t}\n}\nvar out=[];\nvar json=msg.payload[0];\nout.push([\"行政处罚\",json.cf],\n\t\t [\"行政强制\",json.qz],\n\t\t [\"行政征收\",json.zs],\n\t\t [\"行政裁决\",json.cj],\n\t\t [\"行政确认\",json.qr],\n\t\t [\"行政给付\",json.gf],\n\t\t [\"其他行政权力\",json.qt]\n\t\t );\nmsg.payload=['hset','shixiang',keyName,out];\nreturn msg;","outputs":1,"valid":true,"x":857.010498046875,"y":67.88888549804688,"z":"d388b1cd.2c775","wires":[["3225c686.cdda3a"]]},{"id":"3225c686.cdda3a","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":1100.0104064941406,"y":40,"z":"d388b1cd.2c775","wires":[]},{"id":"4fa3de5c.b05c2","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"","key":"shixiang","structtype":"hash","x":470.0102996826172,"y":625,"z":"d388b1cd.2c775","wires":[["8412e61.f7bed18","ec4954ad.13b6a8","ffa1b76b.005e48","f0571147.0fa8f","79272c3f.86d8d4","9eaf057f.6150f8","257c7d3f.da8382","abe5bc5.f541a4","2393dd99.dc6c22","da45d83e.25ba28","7caef222.83510c","f7d6e48f.082918","848260c2.7b7da","cae4dd69.351b2","e79512c5.186af","c7fd5dd6.3802a","229ff93f.dd6006"]]},{"id":"151aa472.eae55c","type":"function","name":"del redis","func":"msg.payload = ['del','shixiang'];\nreturn msg;","outputs":1,"valid":true,"x":684.1015777587891,"y":1083.0118408203125,"z":"d388b1cd.2c775","wires":[["726a9af6.8d9564"]]},{"id":"726a9af6.8d9564","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"clean redis","x":968.2880706787109,"y":1089.3611278533936,"z":"d388b1cd.2c775","wires":[]},{"id":"2b5a4ba9.d4a5b4","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piehuilixianshixiangzongxiang","x":1213.0103912353516,"y":200,"z":"d388b1cd.2c775","wires":[]},{"id":"5c266fbb.a3d99","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piehuilixianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":986.867431640625,"y":201.85714721679688,"z":"d388b1cd.2c775","wires":[["2b5a4ba9.d4a5b4"]]},{"id":"8412e61.f7bed18","type":"function","name":"会理县","func":"var temp=msg.payload.huilixian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":759.8936920166016,"y":192.1627197265625,"z":"d388b1cd.2c775","wires":[["5c266fbb.a3d99"]]},{"id":"6b48d4d0.94b72c","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piehuidongxianshixiangzongxiang","x":1211.4548034667969,"y":269,"z":"d388b1cd.2c775","wires":[]},{"id":"cb356379.34caa","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piehuidongxianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":985.3118438720703,"y":270.8571472167969,"z":"d388b1cd.2c775","wires":[["6b48d4d0.94b72c"]]},{"id":"ec4954ad.13b6a8","type":"function","name":"会东县","func":"var temp=msg.payload.huidongxian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":758.3381042480469,"y":261.1627197265625,"z":"d388b1cd.2c775","wires":[["cb356379.34caa"]]},{"id":"b5454312.4abac","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piemeigushixiangzongxiang","x":1205.4548034667969,"y":334,"z":"d388b1cd.2c775","wires":[]},{"id":"2a7d226.fd582de","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piemeigushixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":979.3118438720703,"y":335.8571472167969,"z":"d388b1cd.2c775","wires":[["b5454312.4abac"]]},{"id":"ffa1b76b.005e48","type":"function","name":"美姑县","func":"var temp=msg.payload.meiguxian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":752.3381042480469,"y":326.1627197265625,"z":"d388b1cd.2c775","wires":[["2a7d226.fd582de"]]},{"id":"1003bd95.effc42","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_pieganluoshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":967.3118438720703,"y":387.8571472167969,"z":"d388b1cd.2c775","wires":[["dde8e16e.22172"]]},{"id":"f0571147.0fa8f","type":"function","name":"甘洛县","func":"var temp=msg.payload.ganluoxian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":740.3381042480469,"y":378.1627197265625,"z":"d388b1cd.2c775","wires":[["1003bd95.effc42"]]},{"id":"13c97111.ec368f","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piexichangshishixiangzongxiang","x":1198.4548034667969,"y":443,"z":"d388b1cd.2c775","wires":[]},{"id":"b87df9b8.478208","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piexichangshishixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":972.3118438720703,"y":444.8571472167969,"z":"d388b1cd.2c775","wires":[["13c97111.ec368f"]]},{"id":"79272c3f.86d8d4","type":"function","name":"西昌市","func":"var temp=msg.payload.xichangshi.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":745.3381042480469,"y":435.1627197265625,"z":"d388b1cd.2c775","wires":[["b87df9b8.478208"]]},{"id":"eb8322b5.147ce","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_pieningnanxianshixiangzongxiang","x":1186.4548034667969,"y":495,"z":"d388b1cd.2c775","wires":[]},{"id":"259e2533.da61da","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_pieningnanxianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":960.3118438720703,"y":496.8571472167969,"z":"d388b1cd.2c775","wires":[["eb8322b5.147ce"]]},{"id":"9eaf057f.6150f8","type":"function","name":"宁南县","func":"var temp=msg.payload.ningnanxian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":733.3381042480469,"y":487.1627197265625,"z":"d388b1cd.2c775","wires":[["259e2533.da61da"]]},{"id":"138bc613.ec743a","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piedechangxianshixiangzongxiang","x":1203.4548034667969,"y":540.1111145019531,"z":"d388b1cd.2c775","wires":[]},{"id":"9362f0e4.6c9d1","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piedechangxianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":977.3118438720703,"y":541.96826171875,"z":"d388b1cd.2c775","wires":[["138bc613.ec743a"]]},{"id":"257c7d3f.da8382","type":"function","name":"德昌县","func":"var temp=msg.payload.dechangxian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":750.3381042480469,"y":532.2738342285156,"z":"d388b1cd.2c775","wires":[["9362f0e4.6c9d1"]]},{"id":"2bd456ba.d42baa","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_pieliangshanzhoushixiangzongxiang","x":1191.4548034667969,"y":592.1111145019531,"z":"d388b1cd.2c775","wires":[]},{"id":"d76878f1.289788","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_pieliangshanzhoushixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":965.3118438720703,"y":593.96826171875,"z":"d388b1cd.2c775","wires":[["2bd456ba.d42baa"]]},{"id":"abe5bc5.f541a4","type":"function","name":"凉山州","func":"var temp=msg.payload.liangshanzhou.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":738.3381042480469,"y":584.2738342285156,"z":"d388b1cd.2c775","wires":[["d76878f1.289788"]]},{"id":"cce7b806.331848","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piezhaojuexianshixiangzongxiang","x":1180.4548034667969,"y":639.1111145019531,"z":"d388b1cd.2c775","wires":[]},{"id":"38360e3a.c7c9f2","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piezhaojuexianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":954.3118438720703,"y":640.96826171875,"z":"d388b1cd.2c775","wires":[["cce7b806.331848"]]},{"id":"2393dd99.dc6c22","type":"function","name":"昭觉县","func":"var temp=msg.payload.zhaojuexian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":727.3381042480469,"y":631.2738342285156,"z":"d388b1cd.2c775","wires":[["38360e3a.c7c9f2"]]},{"id":"8aa1fbc7.755e08","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_pieleiboxianshixiangzongxiang","x":1185.4548034667969,"y":706.3333435058594,"z":"d388b1cd.2c775","wires":[]},{"id":"a0f7b19f.5f085","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_pieleiboxianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":959.3118438720703,"y":708.1904907226562,"z":"d388b1cd.2c775","wires":[["8aa1fbc7.755e08"]]},{"id":"da45d83e.25ba28","type":"function","name":"雷波县","func":"var temp=msg.payload.leiboxian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":732.3381042480469,"y":698.4960632324219,"z":"d388b1cd.2c775","wires":[["a0f7b19f.5f085"]]},{"id":"d3eef5a0.2c1108","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piemulixianshixiangzongxiang","x":1173.4548034667969,"y":758.3333435058594,"z":"d388b1cd.2c775","wires":[]},{"id":"6050389b.9fafc8","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piemulixianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":947.3118438720703,"y":760.1904907226562,"z":"d388b1cd.2c775","wires":[["d3eef5a0.2c1108"]]},{"id":"7caef222.83510c","type":"function","name":"木里县","func":"var temp=msg.payload.mulixian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":720.3381042480469,"y":750.4960632324219,"z":"d388b1cd.2c775","wires":[["6050389b.9fafc8"]]},{"id":"41438fe0.bebc7","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_pieyuexixianshixiangzongxiang","x":1162.4548034667969,"y":805.3333435058594,"z":"d388b1cd.2c775","wires":[]},{"id":"7f178b76.80e874","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_pieyuexixianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":936.3118438720703,"y":807.1904907226562,"z":"d388b1cd.2c775","wires":[["41438fe0.bebc7"]]},{"id":"f7d6e48f.082918","type":"function","name":"越西县","func":"var temp=msg.payload.yuexixian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":709.3381042480469,"y":797.4960632324219,"z":"d388b1cd.2c775","wires":[["7f178b76.80e874"]]},{"id":"24ea7d52.db1582","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piexidexianshixiangzongxiang","x":1157.4548034667969,"y":868.4444885253906,"z":"d388b1cd.2c775","wires":[]},{"id":"1cbb0790.e344f8","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piexidexianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":931.3118438720703,"y":870.3016357421875,"z":"d388b1cd.2c775","wires":[["24ea7d52.db1582"]]},{"id":"848260c2.7b7da","type":"function","name":"喜德县","func":"var temp=msg.payload.xidexian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":704.3381042480469,"y":860.6072082519531,"z":"d388b1cd.2c775","wires":[["1cbb0790.e344f8"]]},{"id":"83c3d3d6.7c3c3","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piepugexianshixiangzongxiang","x":1145.4548034667969,"y":920.4444885253906,"z":"d388b1cd.2c775","wires":[]},{"id":"143e795a.ebc187","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piepugexianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":919.3118438720703,"y":922.3016357421875,"z":"d388b1cd.2c775","wires":[["83c3d3d6.7c3c3"]]},{"id":"cae4dd69.351b2","type":"function","name":"普格县","func":"var temp=msg.payload.pugexian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":692.3381042480469,"y":912.6072082519531,"z":"d388b1cd.2c775","wires":[["143e795a.ebc187"]]},{"id":"8b892485.7476d8","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piejinyangxianshixiangzongxiang","x":1134.4548034667969,"y":967.4444885253906,"z":"d388b1cd.2c775","wires":[]},{"id":"a2af4773.5d50b8","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piejinyangxianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":908.3118438720703,"y":969.3016357421875,"z":"d388b1cd.2c775","wires":[["8b892485.7476d8"]]},{"id":"e79512c5.186af","type":"function","name":"金阳县","func":"var temp=msg.payload.jinyangxian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":681.3381042480469,"y":959.6072082519531,"z":"d388b1cd.2c775","wires":[["a2af4773.5d50b8"]]},{"id":"6cc7ab1b.933854","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piemianningxianshixiangzongxiang","x":1128.4548034667969,"y":1021.4444885253906,"z":"d388b1cd.2c775","wires":[]},{"id":"673868a9.98c798","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piemianningxianshixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":902.3118438720703,"y":1023.3016357421875,"z":"d388b1cd.2c775","wires":[["6cc7ab1b.933854"]]},{"id":"c7fd5dd6.3802a","type":"function","name":"冕宁县","func":"var temp=msg.payload.mianningxian.split(',');\nvar payload=[];\nfor(var i=0;i<temp.length-1;i+=2)\n{\n\tvar out=[]\n\tout.push(temp[i]);\n\tout.push(parseInt(temp[i+1]));\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":675.3381042480469,"y":1013.6072082519531,"z":"d388b1cd.2c775","wires":[["673868a9.98c798"]]},{"id":"229ff93f.dd6006","type":"function","name":"所有事项合计","func":"\nvar arr=[];\nvar xzcf=[\"行政处罚\"];\nvar xzqz=[\"行政强制\"];\nvar xzzs=[\"行政征收\"];\nvar xzcj=[\"行政裁决\"];\nvar xzqr=[\"行政确认\"];\nvar xzgf=[\"行政给付\"];\nvar xzqt=[\"其它行政权\"];\n\nvar xzcf_sum=0;\nvar xzqz_sum=0;\nvar xzzs_sum=0;\nvar xzcj_sum=0;\nvar xzqr_sum=0;\nvar xzgf_sum=0;\nvar qt_sum=0;\n\nfor(var attr in msg.payload){\n\n\tvar temp=msg.payload[attr].split(\",\");\n\t\txzcf_sum+=parseInt(temp[1]);\n\t\txzqz_sum+=parseInt(temp[3]);\n\t\txzzs_sum+=parseInt(temp[5]);\n\t\txzcj_sum+=parseInt(temp[7]);\n\t\txzqr_sum+=parseInt(temp[9]);\n\t\txzgf_sum+=parseInt(temp[11]);\n\t\tqt_sum+=parseInt(temp[13]);\t\n\t\n\t//msg.payload=msg.payload[attr];\n}\n\nxzcf.push(xzcf_sum);\nxzqz.push(xzqz_sum);\nxzzs.push(xzzs_sum);\nxzcj.push(xzcj_sum);\nxzqr.push(xzqr_sum);\nxzgf.push(xzgf_sum);\nxzqt.push(qt_sum);\narr.push(xzcf,xzqz,xzzs,xzcj,xzqr,xzgf,xzqt);\n\nmsg.payload=arr;\nreturn msg;","outputs":1,"valid":true,"x":767.8936767578125,"y":117.99447631835938,"z":"d388b1cd.2c775","wires":[["c8f6f0e6.37091"]]},{"id":"6a08b845.95f748","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piequanzhoushixiangzongxiang","x":1210.1271057128906,"y":104.49447631835938,"z":"d388b1cd.2c775","wires":[]},{"id":"c8f6f0e6.37091","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_piequanzhoushixiangzongxiang\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":1009.1271057128906,"y":109.49441528320312,"z":"d388b1cd.2c775","wires":[["6a08b845.95f748"]]},{"id":"badf9648.452068","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_piebutuoxianshixiangzongxiang","x":1217.8992614746094,"y":40,"z":"d388b1cd.2c775","wires":[]},{"id":"7d1bab6c.82e454","type":"redisPub","name":"事项合计总项","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_pieyanyuanxianshixiangzongxiang","x":1140.8992919921875,"y":1094.7778930664062,"z":"d388b1cd.2c775","wires":[]}]