项目文档/flow/行权/全年个月受理案件统计.txt
[{"id":"cedfbcb.f31204","type":"inject","name":"4s","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"x":82.70098876953125,"y":433.8055419921875,"z":"6c4ed0e6.93b13","wires":[["368ecc50.c97134"]]},{"id":"2107f144.def80e","type":"redisSub","name":"readFromRedis","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"LSZ:T_OVERALL_MONTH_RPT_CH","x":164.0103759765625,"y":91,"z":"6c4ed0e6.93b13","wires":[["551f5e64.aae0a"]]},{"id":"551f5e64.aae0a","type":"function","name":"各个县全年受理案件情况","func":"\nvar toJSON=JSON.parse(msg.payload);\nvar areaName=toJSON[0].AREA_NAME;\nvar len=toJSON.length;\nvar payload=[];\nfor(var i=0;i<len;++i)\n{\n\t//var deptName=toJSON[i].DEPT_NAME;\n\tvar count=parseInt(toJSON[i].INST_CNT);\n\tvar time=toJSON[i].RPT_MONTH;\n\tvar temp=\"{\"+\"areaName\"+':'+\"'\"+areaName+\"'\"+\",\"+\"time\"+':'+\"'\"+time+\"'\"+\",\"+\"count\"+':'+\"'\"+count+\"'\"+\"}\";\n\tvar out=eval('(' + temp + ')');\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":382.0103759765625,"y":91,"z":"6c4ed0e6.93b13","wires":[["16687f1d.e99781"]]},{"id":"16687f1d.e99781","type":"function","name":"count","func":"var len=msg.payload.length;\nvar payload=[];\npayload.push(msg.payload[0]);\nfor(var i=1;i<len;++i)\n{\n\tvar n=payload.length;\n\tvar flag=false;\n\tfor(var j=0;j<n;++j)\n\t{\n\t\tif(payload[j].time==msg.payload[i].time)\n\t\t{\n\t\t\tvar count=parseInt(payload[j].count)+parseInt(msg.payload[i].count);\n\t\t\tpayload[j].count=count;\n\t\t\tflag=true;\n\t\t\tbreak;\n\t\t}\n\t}\n\tif(flag==false)\n\t{\n\t\tpayload.push(msg.payload[i]);\n\t}\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":592.0104370117188,"y":93,"z":"6c4ed0e6.93b13","wires":[["281ba824.d7e458"]]},{"id":"281ba824.d7e458","type":"function","name":"sort","func":"\nvar flag=true;\nvar n=msg.payload.length;\nvar payload=[];\nwhile(flag)\n{\n\tflag=false;\n\tfor(var i=0;i<n-1;++i)\n\t{\n\t\tif(parseInt(msg.payload[i].time)>parseInt(msg.payload[i+1].time))\n\t\t{\n\t\t\tvar temp=msg.payload[i];\n\t\t\tmsg.payload[i]=msg.payload[i+1];\n\t\t\tmsg.payload[i+1]=temp;\n\t\t\tflag=true;\n\t\t}\n\t}\n\tn--;\n}\n//for(var i=0;i<5;++i)\n//{\n//\tpayload.push(msg.payload[i]);\n//}\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"valid":true,"x":732.0104370117188,"y":93.88888549804688,"z":"6c4ed0e6.93b13","wires":[["a3c47e78.5c3b8"]]},{"id":"a3c47e78.5c3b8","type":"function","name":"toRedis","func":"var area=[{\"name\":\"四川省凉山州冕宁县\",\"keyName\":\"mianningxian\"},{\"name\":\"金阳县\",\"keyName\":\"jinyangxian\"},{\"name\":\"普格县\",\"keyName\":\"pugexian\"},{\"name\":\"凉山州喜德县\",\"keyName\":\"xidexian\"},{\"name\":\"凉山州越西县\",\"keyName\":\"yuexixian\"},{\"name\":\"凉山州木里县\",\"keyName\":\"mulixian\"},{\"name\":\"凉山彝族自治州雷波县\",\"keyName\":\"leiboxian\"},{\"name\":\"凉山州昭觉县\",\"keyName\":\"zhaojuexian\"},{\"name\":\"凉山彝族自治州\",\"keyName\":\"liangshanzhou\"},{\"name\":\"会理县\",\"keyName\":\"huilixian\"},{\"name\":\"凉山州德昌县\",\"keyName\":\"dechangxian\"},{\"name\":\"宁南县\",\"keyName\":\"ningnanxian\"},{\"name\":\"美姑县\",\"keyName\":\"meiguxian\"},{\"name\":\"凉山会东县\",\"keyName\":\"huidongxian\"},{\"name\":\"四川省凉山州甘洛县\",\"keyName\":\"ganluoxian\"},{\"name\":\"凉山州西昌市\",\"keyName\":\"xichangshi\"}];\nfor(var i=0;i<area.length;++i)\n{\n\tif(msg.payload[0].areaName==area[i].name)\n\t{\n\t\tvar keyName=area[i].keyName;\n\t\tbreak;\n\t}\n}\nvar len=msg.payload.length;\nvar out=[];\nfor(var i=0;i<len;++i)\n{\n\tvar temp=msg.payload[i].time+':'+msg.payload[i].count;\n\tout.push(temp);\n}\nmsg.payload=['hset','shouli_2',keyName,out];\n\nreturn msg;","outputs":1,"valid":true,"x":873.0104370117188,"y":98.88888549804688,"z":"6c4ed0e6.93b13","wires":[["140be11.febf41f"]]},{"id":"140be11.febf41f","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":1084.0104370117188,"y":88.99999809265137,"z":"6c4ed0e6.93b13","wires":[]},{"id":"368ecc50.c97134","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"各个县全年受理案件情况","key":"shouli_2","structtype":"hash","x":251.01040649414062,"y":485.33331298828125,"z":"6c4ed0e6.93b13","wires":[["455c3807.baa3c8","521247c2.adedb8","23f8d0aa.dc073","2d338a3a.d2cc76","fcc8315f.0337d","2a6fe39b.d5901c","df180f5d.20e7f","5200ec47.adff14","bc0ddbd4.43f228","5de8a4da.a2175c","e6173ac7.19e8c8","91e7fb8c.6e1808","11e26238.ee1d9e","20de5fe5.df21a","e781b2ab.187e5","84433ea1.7bbcc"]]},{"id":"455c3807.baa3c8","type":"function","name":"美姑县","func":"var temp=msg.payload.meiguxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":568.2287750244141,"y":206.58331298828125,"z":"6c4ed0e6.93b13","wires":[["48a5e20.fb75a2"]]},{"id":"48a5e20.fb75a2","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nlen=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linemeiguxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":813.0899810791016,"y":205.44442749023438,"z":"6c4ed0e6.93b13","wires":[["c261babb.3d9e48"]]},{"id":"c261babb.3d9e48","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linemeiguxianshouli","x":1100.0899200439453,"y":202.44442749023438,"z":"6c4ed0e6.93b13","wires":[]},{"id":"9150df98.6eaf2","type":"inject","name":"every day","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":331.0104751586914,"y":1161.4444103240967,"z":"6c4ed0e6.93b13","wires":[["53eec361.ac113c"]]},{"id":"53eec361.ac113c","type":"function","name":"del redis","func":"msg.payload = ['del','shouli_2'];\nreturn msg;","outputs":1,"valid":true,"x":622.1017456054688,"y":1156.9006652832031,"z":"6c4ed0e6.93b13","wires":[["4c3e30ea.b3c1d"]]},{"id":"4c3e30ea.b3c1d","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"clean redis","x":906.2882385253906,"y":1163.2499523162842,"z":"6c4ed0e6.93b13","wires":[]},{"id":"cdbb1e31.3244e","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linehuidongxianshouli","x":1117.0104370117188,"y":268.4444580078125,"z":"6c4ed0e6.93b13","wires":[]},{"id":"9d530db1.62acf","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linehuidongxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":837.5105056762695,"y":271.4444580078125,"z":"6c4ed0e6.93b13","wires":[["cdbb1e31.3244e"]]},{"id":"84433ea1.7bbcc","type":"function","name":"会东县","func":"var temp=msg.payload.huidongxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":585.1492919921875,"y":272.5833435058594,"z":"6c4ed0e6.93b13","wires":[["9d530db1.62acf"]]},{"id":"521247c2.adedb8","type":"function","name":"甘洛县","func":"\nvar temp=msg.payload.ganluoxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":557.0104370117188,"y":330.4444580078125,"z":"6c4ed0e6.93b13","wires":[["541fb1e6.abe05"]]},{"id":"541fb1e6.abe05","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineganluoxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":801.8716430664062,"y":329.3055725097656,"z":"6c4ed0e6.93b13","wires":[["b5e67fd0.4a198"]]},{"id":"b5e67fd0.4a198","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineganluoxianshouli","x":1088.87158203125,"y":326.3055725097656,"z":"6c4ed0e6.93b13","wires":[]},{"id":"23f8d0aa.dc073","type":"function","name":"西昌市","func":"var temp=msg.payload.xichangshi;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":545.0104370117188,"y":380.4444580078125,"z":"6c4ed0e6.93b13","wires":[["769b7dd3.896484"]]},{"id":"769b7dd3.896484","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linexichanshishouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":789.8716430664062,"y":379.3055725097656,"z":"6c4ed0e6.93b13","wires":[["627fc140.9d804"]]},{"id":"627fc140.9d804","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linexichanshishouli","x":1076.87158203125,"y":376.3055725097656,"z":"6c4ed0e6.93b13","wires":[]},{"id":"2d338a3a.d2cc76","type":"function","name":"宁南县","func":"var temp=msg.payload.ningnanxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":527.0104370117188,"y":437.5555419921875,"z":"6c4ed0e6.93b13","wires":[["7903becd.86fc4"]]},{"id":"7903becd.86fc4","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineningnanxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":779.3716506958008,"y":436.4166564941406,"z":"6c4ed0e6.93b13","wires":[["ddb9e00e.22462"]]},{"id":"ddb9e00e.22462","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineningnanxianshouli","x":1058.87158203125,"y":433.4166564941406,"z":"6c4ed0e6.93b13","wires":[]},{"id":"fcc8315f.0337d","type":"function","name":"德昌县","func":"var temp=msg.payload.dechangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":496.01043701171875,"y":503.5555419921875,"z":"6c4ed0e6.93b13","wires":[["8aef2e5b.7510d"]]},{"id":"8aef2e5b.7510d","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linedechangxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":748.3716506958008,"y":502.4166564941406,"z":"6c4ed0e6.93b13","wires":[["523d4f2d.adc2b"]]},{"id":"523d4f2d.adc2b","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linedechangxianshouli","x":1027.87158203125,"y":499.4166564941406,"z":"6c4ed0e6.93b13","wires":[]},{"id":"2a6fe39b.d5901c","type":"function","name":"会理县","func":"var temp=msg.payload.huilixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":479.01043701171875,"y":551.5555419921875,"z":"6c4ed0e6.93b13","wires":[["ac52b73c.53ad48"]]},{"id":"ac52b73c.53ad48","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linehuilixianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":731.3716506958008,"y":550.4166564941406,"z":"6c4ed0e6.93b13","wires":[["82e86800.7d1798"]]},{"id":"82e86800.7d1798","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linehuilixianshouli","x":1010.87158203125,"y":547.4166564941406,"z":"6c4ed0e6.93b13","wires":[]},{"id":"df180f5d.20e7f","type":"function","name":"凉山州","func":"\nvar temp=msg.payload.liangshanzhou;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":452.0104064941406,"y":612.5555419921875,"z":"6c4ed0e6.93b13","wires":[["9053d7d0.6fac28"]]},{"id":"9053d7d0.6fac28","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineganluoxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":712.8716354370117,"y":614.4166564941406,"z":"6c4ed0e6.93b13","wires":[["f30a8cfa.0cf57"]]},{"id":"f30a8cfa.0cf57","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineliangshanzhoushouli","x":999.8715744018555,"y":611.4166564941406,"z":"6c4ed0e6.93b13","wires":[]},{"id":"5200ec47.adff14","type":"function","name":"昭觉县","func":"\nvar temp=msg.payload.zhaojuexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":449.0103759765625,"y":658.4445190429688,"z":"6c4ed0e6.93b13","wires":[["7edd28a5.8122d8"]]},{"id":"7edd28a5.8122d8","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linezhaojuexianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":719.8716430664062,"y":665.3056030273438,"z":"6c4ed0e6.93b13","wires":[["78500f6.f87aff"]]},{"id":"78500f6.f87aff","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linezhaojuexianshouli","x":998.87158203125,"y":661.3056030273438,"z":"6c4ed0e6.93b13","wires":[]},{"id":"bc0ddbd4.43f228","type":"function","name":"雷波县","func":"\nvar temp=msg.payload.leiboxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":448.0103759765625,"y":710.5555725097656,"z":"6c4ed0e6.93b13","wires":[["5da76a7e.a25894"]]},{"id":"5da76a7e.a25894","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineleiboxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":708.8716049194336,"y":712.4166870117188,"z":"6c4ed0e6.93b13","wires":[["1b7e09af.e481f6"]]},{"id":"1b7e09af.e481f6","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineleiboxianshouli","x":995.8715438842773,"y":709.4166870117188,"z":"6c4ed0e6.93b13","wires":[]},{"id":"5de8a4da.a2175c","type":"function","name":"木里县","func":"\nvar temp=msg.payload.mulixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":423.0103759765625,"y":762.5555725097656,"z":"6c4ed0e6.93b13","wires":[["d14042e0.2ebfc"]]},{"id":"d14042e0.2ebfc","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linemulixianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":683.8716049194336,"y":764.4166870117188,"z":"6c4ed0e6.93b13","wires":[["8355cade.7caa38"]]},{"id":"8355cade.7caa38","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linemulixianshouli","x":970.8715438842773,"y":761.4166870117188,"z":"6c4ed0e6.93b13","wires":[]},{"id":"e6173ac7.19e8c8","type":"function","name":"越西县","func":"\nvar temp=msg.payload.yuexixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":412.0103759765625,"y":815.6667175292969,"z":"6c4ed0e6.93b13","wires":[["4c037e0f.b3fc8"]]},{"id":"4c037e0f.b3fc8","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineyuexixianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":672.8716049194336,"y":817.52783203125,"z":"6c4ed0e6.93b13","wires":[["ba97454f.4568b8"]]},{"id":"ba97454f.4568b8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineyuexixianshouli","x":959.8715438842773,"y":814.52783203125,"z":"6c4ed0e6.93b13","wires":[]},{"id":"8bcb2483.7434d8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linedexixianshouli","x":958.0104064941406,"y":865.6667785644531,"z":"6c4ed0e6.93b13","wires":[]},{"id":"c68fd0d4.39703","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linexidexianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":671.0104675292969,"y":868.6667785644531,"z":"6c4ed0e6.93b13","wires":[["8bcb2483.7434d8"]]},{"id":"91e7fb8c.6e1808","type":"function","name":"喜德县","func":"\nvar temp=msg.payload.xidexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":410.1492385864258,"y":866.8056640625,"z":"6c4ed0e6.93b13","wires":[["c68fd0d4.39703"]]},{"id":"11e26238.ee1d9e","type":"function","name":"普格县","func":"\nvar temp=msg.payload.pugexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":408.0103759765625,"y":920.8889465332031,"z":"6c4ed0e6.93b13","wires":[["a34056de.5cbfa8"]]},{"id":"a34056de.5cbfa8","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linexidexianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":668.8716049194336,"y":922.7500610351562,"z":"6c4ed0e6.93b13","wires":[["aa6bb876.559448"]]},{"id":"aa6bb876.559448","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linepugexianshouli","x":955.8715438842773,"y":919.7500610351562,"z":"6c4ed0e6.93b13","wires":[]},{"id":"a8e33966.571cc8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linejinyangxianshouli","x":944.0104064941406,"y":966.6667785644531,"z":"6c4ed0e6.93b13","wires":[]},{"id":"d26c52e4.2d93b","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linejinyangxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":657.0104675292969,"y":969.6667785644531,"z":"6c4ed0e6.93b13","wires":[["a8e33966.571cc8"]]},{"id":"20de5fe5.df21a","type":"function","name":"金阳县","func":"\nvar temp=msg.payload.jinyangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":396.1492385864258,"y":967.8056640625,"z":"6c4ed0e6.93b13","wires":[["d26c52e4.2d93b"]]},{"id":"d4853af.f2b7ac8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linemianningxianshouli","x":929.0104064941406,"y":1007.6667785644531,"z":"6c4ed0e6.93b13","wires":[]},{"id":"6dfbf8df.920408","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linemianningxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":642.0104675292969,"y":1010.6667785644531,"z":"6c4ed0e6.93b13","wires":[["d4853af.f2b7ac8"]]},{"id":"e781b2ab.187e5","type":"function","name":"冕宁县","func":"\nvar temp=msg.payload.mianningxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":381.1492385864258,"y":1008.8056640625,"z":"6c4ed0e6.93b13","wires":[["6dfbf8df.920408"]]},{"id":"ddaf0486.2250f8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linebutuoxianshouli","x":1283.0103454589844,"y":106,"z":"6c4ed0e6.93b13","wires":[]},{"id":"5ae29fc0.a51d6","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineyanyuanxianshouli","x":1330.0103454589844,"y":211.00000762939453,"z":"6c4ed0e6.93b13","wires":[]}]