项目文档/flow/行权/全年各月办结案件统计.txt
[{"id":"5018bb3.fafe744","type":"inject","name":"4s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":81.70098876953125,"y":345.8055419921875,"z":"65280387.9ad7fc","wires":[["7a65f8b6.859a08"]]},{"id":"7a65f8b6.859a08","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"各个县全年办结案件情况","key":"banjie_2","structtype":"hash","x":250.01040649414062,"y":397.33331298828125,"z":"65280387.9ad7fc","wires":[["5bedd81c.a41228","13c34659.ec3cba","c204610c.3dfba","bdc0aff2.423f5","5fd85a87.a027a4","98ceb4d7.673148","6683979b.997c68","36c234a4.c93dcc","cbb48339.344b8","e8442412.17bbd8","a6f3e5c1.590c18","f4cbbf50.0b344","bf6bfd5f.4094","df64a965.209b58","b70039cd.48ffc8","f32a6551.0cd598"]]},{"id":"5bedd81c.a41228","type":"function","name":"美姑县","func":"var temp=msg.payload.meiguxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":567.2287750244141,"y":118.58331298828125,"z":"65280387.9ad7fc","wires":[["6f82efc8.907d1"]]},{"id":"6f82efc8.907d1","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nlen=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linemeiguxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":812.0899810791016,"y":117.44442749023438,"z":"65280387.9ad7fc","wires":[["8f2652f0.70d9b"]]},{"id":"8f2652f0.70d9b","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linemeiguxianbanjie","x":1099.0899200439453,"y":114.44442749023438,"z":"65280387.9ad7fc","wires":[]},{"id":"93d02b34.6c2fd8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linehuidongxianbanjie","x":1116.0104370117188,"y":180.4444580078125,"z":"65280387.9ad7fc","wires":[]},{"id":"64c04722.9b3fb8","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linehuidongxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":836.5105056762695,"y":183.4444580078125,"z":"65280387.9ad7fc","wires":[["93d02b34.6c2fd8"]]},{"id":"f32a6551.0cd598","type":"function","name":"会东县","func":"var temp=msg.payload.huidongxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":584.1492919921875,"y":184.58334350585938,"z":"65280387.9ad7fc","wires":[["64c04722.9b3fb8"]]},{"id":"13c34659.ec3cba","type":"function","name":"甘洛县","func":"\nvar temp=msg.payload.ganluoxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":556.0104370117188,"y":242.4444580078125,"z":"65280387.9ad7fc","wires":[["12b023a8.ed4fdc"]]},{"id":"12b023a8.ed4fdc","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineganluoxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":800.8716430664062,"y":241.30557250976562,"z":"65280387.9ad7fc","wires":[["2d104797.d2efb8"]]},{"id":"2d104797.d2efb8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineganluoxianbanjie","x":1087.87158203125,"y":238.30557250976562,"z":"65280387.9ad7fc","wires":[]},{"id":"c204610c.3dfba","type":"function","name":"西昌市","func":"var temp=msg.payload.xichangshi;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":544.0104370117188,"y":292.4444580078125,"z":"65280387.9ad7fc","wires":[["821db64e.7de248"]]},{"id":"821db64e.7de248","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linexichanshibanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":788.8716430664062,"y":291.3055725097656,"z":"65280387.9ad7fc","wires":[["bd6dcbc.f429238"]]},{"id":"bd6dcbc.f429238","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linexichanshibanjie","x":1075.87158203125,"y":288.3055725097656,"z":"65280387.9ad7fc","wires":[]},{"id":"bdc0aff2.423f5","type":"function","name":"宁南县","func":"var temp=msg.payload.ningnanxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":526.0104370117188,"y":349.5555419921875,"z":"65280387.9ad7fc","wires":[["bc1c6c6.f43e39"]]},{"id":"bc1c6c6.f43e39","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineningnanxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":778.3716506958008,"y":348.4166564941406,"z":"65280387.9ad7fc","wires":[["7224a76.f8ddb58"]]},{"id":"7224a76.f8ddb58","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineningnanxianbanjie","x":1057.87158203125,"y":345.4166564941406,"z":"65280387.9ad7fc","wires":[]},{"id":"5fd85a87.a027a4","type":"function","name":"德昌县","func":"var temp=msg.payload.dechangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":495.01043701171875,"y":415.5555419921875,"z":"65280387.9ad7fc","wires":[["40c63b60.bf39c4"]]},{"id":"40c63b60.bf39c4","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linedechangxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":747.3716506958008,"y":414.4166564941406,"z":"65280387.9ad7fc","wires":[["13728d71.ec8d73"]]},{"id":"13728d71.ec8d73","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linedechangxianbanjie","x":1026.87158203125,"y":411.4166564941406,"z":"65280387.9ad7fc","wires":[]},{"id":"98ceb4d7.673148","type":"function","name":"会理县","func":"var temp=msg.payload.huilixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":478.01043701171875,"y":463.5555419921875,"z":"65280387.9ad7fc","wires":[["1dd6bf8.fe2294"]]},{"id":"1dd6bf8.fe2294","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linehuilixianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":730.3716506958008,"y":462.4166564941406,"z":"65280387.9ad7fc","wires":[["65002ebb.9affd"]]},{"id":"65002ebb.9affd","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linehuilixianbanjie","x":1009.87158203125,"y":459.4166564941406,"z":"65280387.9ad7fc","wires":[]},{"id":"6683979b.997c68","type":"function","name":"凉山州","func":"\nvar temp=msg.payload.liangshanzhou;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":451.0104064941406,"y":524.5555419921875,"z":"65280387.9ad7fc","wires":[["fa1378ef.05ec88"]]},{"id":"fa1378ef.05ec88","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineganluoxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":711.8716354370117,"y":526.4166564941406,"z":"65280387.9ad7fc","wires":[["c25d5f8c.3da2a"]]},{"id":"c25d5f8c.3da2a","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineliangshanzhoubanjie","x":998.8715744018555,"y":523.4166564941406,"z":"65280387.9ad7fc","wires":[]},{"id":"36c234a4.c93dcc","type":"function","name":"昭觉县","func":"\nvar temp=msg.payload.zhaojuexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":448.0103759765625,"y":570.4445190429688,"z":"65280387.9ad7fc","wires":[["c8d50d2a.372af"]]},{"id":"c8d50d2a.372af","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linezhaojuexianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":718.8716430664062,"y":577.3056030273438,"z":"65280387.9ad7fc","wires":[["989623ec.6769e"]]},{"id":"989623ec.6769e","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linezhaojuexianbanjie","x":997.87158203125,"y":573.3056030273438,"z":"65280387.9ad7fc","wires":[]},{"id":"cbb48339.344b8","type":"function","name":"雷波县","func":"\nvar temp=msg.payload.leiboxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":447.0103759765625,"y":622.5555725097656,"z":"65280387.9ad7fc","wires":[["e952f6a4.16ad08"]]},{"id":"e952f6a4.16ad08","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineleiboxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":707.8716049194336,"y":624.4166870117188,"z":"65280387.9ad7fc","wires":[["e546b349.1ab95"]]},{"id":"e546b349.1ab95","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineleiboxianbanjie","x":994.8715438842773,"y":621.4166870117188,"z":"65280387.9ad7fc","wires":[]},{"id":"e8442412.17bbd8","type":"function","name":"木里县","func":"\nvar temp=msg.payload.mulixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":422.0103759765625,"y":674.5555725097656,"z":"65280387.9ad7fc","wires":[["a44b5085.5bb4b"]]},{"id":"a44b5085.5bb4b","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linemulixianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":682.8716049194336,"y":676.4166870117188,"z":"65280387.9ad7fc","wires":[["5a20eae6.a5df14"]]},{"id":"5a20eae6.a5df14","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linemulixianbanjie","x":969.8715438842773,"y":673.4166870117188,"z":"65280387.9ad7fc","wires":[]},{"id":"a6f3e5c1.590c18","type":"function","name":"越西县","func":"\nvar temp=msg.payload.yuexixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":411.0103759765625,"y":727.6667175292969,"z":"65280387.9ad7fc","wires":[["473550aa.b8cab"]]},{"id":"473550aa.b8cab","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_lineyuexixianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":671.8716049194336,"y":729.52783203125,"z":"65280387.9ad7fc","wires":[["44b43755.bb4bc8"]]},{"id":"44b43755.bb4bc8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineyuexixianbanjie","x":958.8715438842773,"y":726.52783203125,"z":"65280387.9ad7fc","wires":[]},{"id":"d0efaf5e.2f105","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linedexixianbanjie","x":957.0104064941406,"y":777.6667785644531,"z":"65280387.9ad7fc","wires":[]},{"id":"3398ecc4.cc6714","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linexidexianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":670.0104675292969,"y":780.6667785644531,"z":"65280387.9ad7fc","wires":[["d0efaf5e.2f105"]]},{"id":"f4cbbf50.0b344","type":"function","name":"喜德县","func":"\nvar temp=msg.payload.xidexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":409.1492385864258,"y":778.8056640625,"z":"65280387.9ad7fc","wires":[["3398ecc4.cc6714"]]},{"id":"bf6bfd5f.4094","type":"function","name":"普格县","func":"\nvar temp=msg.payload.pugexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":407.0103759765625,"y":832.8889465332031,"z":"65280387.9ad7fc","wires":[["c552c7e2.3aad38"]]},{"id":"c552c7e2.3aad38","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linexidexianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":667.8716049194336,"y":834.7500610351562,"z":"65280387.9ad7fc","wires":[["69e5aa9f.961a54"]]},{"id":"69e5aa9f.961a54","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linepugexianbanjie","x":954.8715438842773,"y":831.7500610351562,"z":"65280387.9ad7fc","wires":[]},{"id":"54afdbf8.ab5024","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linejinyangxianbanjie","x":943.0104064941406,"y":878.6667785644531,"z":"65280387.9ad7fc","wires":[]},{"id":"5a5418f7.a5abe8","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linejinyangxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":656.0104675292969,"y":881.6667785644531,"z":"65280387.9ad7fc","wires":[["54afdbf8.ab5024"]]},{"id":"df64a965.209b58","type":"function","name":"金阳县","func":"\nvar temp=msg.payload.jinyangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":395.1492385864258,"y":879.8056640625,"z":"65280387.9ad7fc","wires":[["5a5418f7.a5abe8"]]},{"id":"6dd15882.922ea8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linemianningxianbanjie","x":928.0104064941406,"y":919.6667785644531,"z":"65280387.9ad7fc","wires":[]},{"id":"9343cce0.6cbc3","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_linemianningxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":641.0104675292969,"y":922.6667785644531,"z":"65280387.9ad7fc","wires":[["6dd15882.922ea8"]]},{"id":"b70039cd.48ffc8","type":"function","name":"冕宁县","func":"\nvar temp=msg.payload.mianningxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":380.1492385864258,"y":920.8056640625,"z":"65280387.9ad7fc","wires":[["9343cce0.6cbc3"]]},{"id":"ca8378a7.357c88","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_linebutuoxianbanjie","x":1070.0104370117188,"y":56,"z":"65280387.9ad7fc","wires":[]},{"id":"8a28d1a.f75d73","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_lineyanyuanxianbanjie","x":952.0104064941406,"y":40,"z":"65280387.9ad7fc","wires":[]}]