项目文档/flow/行权/全州整体.txt
[{"id":"22de89d4.dd2176","type":"inject","name":"2s","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":260.1270751953125,"y":950.9999389648438,"z":"57036412.a8fc9c","wires":[["54ef5691.ab10a8","f99712d1.0668f","a03f788e.5fc088","59bc5cdb.a643a4"]]},{"id":"57b58c15.a84a74","type":"redisSub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"LSZ:T_OVERALL_MONTH_RPT_CH","x":188.01040649414062,"y":308,"z":"57036412.a8fc9c","wires":[["45b67d10.ba4984","20ee3e0c.df11c2","35298917.cad676","3adb727f.c5248e"]]},{"id":"45b67d10.ba4984","type":"function","name":"事项填报总数","func":"\nmsg.payload=JSON.parse(msg.payload);\nvar sum=0;\nvar arr=[\"zadd\",\"all_report\"];\nvar len=msg.payload.length;\nfor(var i=0;i<len;i++){\n\tsum+=msg.payload[i].POWER_ENTER_CNT;\n}\n\narr.push(sum,msg.payload[0].AREA_NAME);\nmsg.payload=arr;\nreturn msg;","outputs":1,"valid":true,"x":534.0104064941406,"y":179,"z":"57036412.a8fc9c","wires":[["d5b37da9.2a4c8"]]},{"id":"d5b37da9.2a4c8","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":763.0103759765625,"y":175,"z":"57036412.a8fc9c","wires":[]},{"id":"fe3af184.01c51","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":746.0103759765625,"y":304,"z":"57036412.a8fc9c","wires":[]},{"id":"53b69606.ac4968","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":748.0103759765625,"y":375,"z":"57036412.a8fc9c","wires":[]},{"id":"22570b3.fdda8f4","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":754.0103759765625,"y":440,"z":"57036412.a8fc9c","wires":[]},{"id":"20ee3e0c.df11c2","type":"function","name":"全州事项合计","func":"msg.payload=JSON.parse(msg.payload);\nvar sum=0;\nvar arr=[\"zadd\",\"all_tran\"];\nvar len=msg.payload.length;\nfor(var i=0;i<len;i++){\n\tsum+=msg.payload[i].POWER_AUDPASS_CNT;\n}\n\narr.push(sum,msg.payload[0].AREA_NAME);\nmsg.payload=arr;\nreturn msg;","outputs":1,"valid":true,"x":514.0104064941406,"y":280,"z":"57036412.a8fc9c","wires":[["fe3af184.01c51"]]},{"id":"3adb727f.c5248e","type":"function","name":"全州受理案件总数","func":"msg.payload=JSON.parse(msg.payload);\nvar sum=0;\nvar arr=[\"zadd\",\"all_receive\"];\nvar len=msg.payload.length;\nfor(var i=0;i<len;i++){\n\tsum+=msg.payload[i].INST_CNT;\n}\n\narr.push(sum,msg.payload[0].AREA_NAME);\nmsg.payload=arr;\nreturn msg;","outputs":1,"valid":true,"x":507.0104064941406,"y":375,"z":"57036412.a8fc9c","wires":[["53b69606.ac4968"]]},{"id":"35298917.cad676","type":"function","name":"全州办结案总数","func":"msg.payload=JSON.parse(msg.payload);\nvar sum=0;\nvar arr=[\"zadd\",\"all_items\"];\nvar len=msg.payload.length;\nfor(var i=0;i<len;i++){\n\tsum+=msg.payload[i].INST_END_CNT;\n}\n\narr.push(sum,msg.payload[0].AREA_NAME);\nmsg.payload=arr;\nreturn msg;","outputs":1,"valid":true,"x":500.0104064941406,"y":441,"z":"57036412.a8fc9c","wires":[["22570b3.fdda8f4"]]},{"id":"54ef5691.ab10a8","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"事项填报总数","key":"all_report","structtype":"zset","x":394.0104064941406,"y":768.9999542236328,"z":"57036412.a8fc9c","wires":[["c814fc55.37eb"]]},{"id":"f99712d1.0668f","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"事项合计总数","key":"all_tran","structtype":"zset","x":392.0103759765625,"y":900.9999084472656,"z":"57036412.a8fc9c","wires":[["7fc9b1d8.80365"]]},{"id":"a03f788e.5fc088","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"全州受理案件总数","key":"all_receive","structtype":"zset","x":386.0104064941406,"y":1036.9999389648438,"z":"57036412.a8fc9c","wires":[["c1ad6b3a.3e5298"]]},{"id":"59bc5cdb.a643a4","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"办案结案总数","key":"all_items","structtype":"zset","x":357.0104064941406,"y":1151.9999694824219,"z":"57036412.a8fc9c","wires":[["6b28dcc9.94d724"]]},{"id":"c814fc55.37eb","type":"function","name":"事务填报总数","func":"var arr=[];\nvar temp=msg.payload;\nfor(var i=0;i<temp.length-1;i+=2){\n    var name=temp[i].substring(temp[i].length-3,temp[i].length);\n\tvar arr_i=[name,parseInt(temp[i+1])];\n\tarr.push(arr_i);\n}\n\n\nmsg.payload=arr;\nreturn msg;","outputs":1,"valid":true,"x":634.0104370117188,"y":768.783332824707,"z":"57036412.a8fc9c","wires":[["7a2f9c9c.85d064"]]},{"id":"7a2f9c9c.85d064","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnquanzhoushiwutianbao\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":826.0104064941406,"y":782.7833557128906,"z":"57036412.a8fc9c","wires":[["913d8a53.6ec278"]]},{"id":"913d8a53.6ec278","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnquanzhoushiwutianbao","x":1024.0103759765625,"y":788.7833251953125,"z":"57036412.a8fc9c","wires":[]},{"id":"c1ad6b3a.3e5298","type":"function","name":"全州各县受理案件总数","func":"var arr=[];\nvar temp=msg.payload;\nfor(var i=0;i<temp.length-1;i+=2){\n\tvar name=temp[i].substring(temp[i].length-3,temp[i].length);\n\tvar arr_i=[name,parseInt(temp[i+1])];\n\tarr.push(arr_i);\n}\n\n\nmsg.payload=arr;\nreturn msg;","outputs":1,"valid":true,"x":604.8992919921875,"y":1038.3390197753906,"z":"57036412.a8fc9c","wires":[["c161e8fe.3e9e18"]]},{"id":"c161e8fe.3e9e18","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnquanzhoushouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":812.8993530273438,"y":1041.3390197753906,"z":"57036412.a8fc9c","wires":[["d2f6acaa.2d095"]]},{"id":"d2f6acaa.2d095","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnquanzhoushouli","x":974.8993530273438,"y":1045.3390197753906,"z":"57036412.a8fc9c","wires":[]},{"id":"6b28dcc9.94d724","type":"function","name":"全州各县办结案总数","func":"var arr=[];\nvar temp=msg.payload;\nfor(var i=0;i<temp.length-1;i+=2){\n\tvar name=temp[i].substring(temp[i].length-3,temp[i].length);\n\tvar arr_i=[name,parseInt(temp[i+1])];\n\tarr.push(arr_i);\n}\n\n\nmsg.payload=arr;\nreturn msg;","outputs":1,"valid":true,"x":601.8992919921875,"y":1159.5611877441406,"z":"57036412.a8fc9c","wires":[["2a50dcf2.d5af24"]]},{"id":"2a50dcf2.d5af24","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnquanzhoubanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":792.8993530273438,"y":1158.5612487792969,"z":"57036412.a8fc9c","wires":[["2bdb3bcd.d424c4"]]},{"id":"2bdb3bcd.d424c4","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnquanzhoubanjie","x":966.8993530273438,"y":1162.5612487792969,"z":"57036412.a8fc9c","wires":[]},{"id":"7fc9b1d8.80365","type":"function","name":"事项合计","func":"var arr=[];\nvar temp=msg.payload;\nfor(var i=0;i<temp.length-1;i+=2){\n\tvar name=temp[i].substring(temp[i].length-3,temp[i].length);\n\tvar arr_i=[name,parseInt(temp[i+1])];\n\tarr.push(arr_i);\n}\n\n\nmsg.payload=arr;\nreturn msg;","outputs":1,"valid":true,"x":606.0103759765625,"y":900.7500305175781,"z":"57036412.a8fc9c","wires":[["1b5f93c0.e4a06c"]]},{"id":"1b5f93c0.e4a06c","type":"function","name":"事务处理推送","func":"\n\nvar payload={\"value\":msg.payload};\n\nmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnquanzhoushixiangheji\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n    msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":778.0103759765625,"y":903.7500305175781,"z":"57036412.a8fc9c","wires":[["dffafe12.2005"]]},{"id":"dffafe12.2005","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnquanzhoushixiangheji","x":935.0103759765625,"y":906.7500305175781,"z":"57036412.a8fc9c","wires":[]}]