项目文档/flow/行权/各县行政处罚排名前五.txt
[{"id":"f2e1b273.0d1e5","type":"inject","name":"2s","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"x":98.70098876953125,"y":448.8055419921875,"z":"b9e88334.46178","wires":[["3eafa632.c1505a"]]},{"id":"6a7b88c5.958478","type":"redisSub","name":"readFromRedis","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"LSZ:T_OVERALL_MONTH_RPT_CH","x":180.0103759765625,"y":106,"z":"b9e88334.46178","wires":[["95ff32d0.6a00d"]]},{"id":"95ff32d0.6a00d","type":"function","name":"各个县行政处罚排名前五的部门","func":"\nvar toJSON=JSON.parse(msg.payload);\nvar areaName=toJSON[0].AREA_NAME;\nvar len=toJSON.length;\nvar payload=[];\nfor(var i=0;i<len;++i)\n{\n\tvar deptName=toJSON[i].DEPT_NAME;\n\tvar count=parseInt(toJSON[i].POWER_AUDPASS_CNT_CF);\n\t//var time=toJSON[i].RPT_MONTH;\n\tvar temp=\"{\"+\"areaName\"+':'+\"'\"+areaName+\"'\"+\",\"+\"deptName\"+':'+\"'\"+deptName+\"'\"+\",\"+\"count\"+':'+\"'\"+count+\"'\"+\"}\";\n\tvar out=eval('(' + temp + ')');\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":398.0103759765625,"y":106,"z":"b9e88334.46178","wires":[["4add2477.b522dc"]]},{"id":"4add2477.b522dc","type":"function","name":"count","func":"var len=msg.payload.length;\nvar payload=[];\npayload.push(msg.payload[0]);\nfor(var i=1;i<len;++i)\n{\n\tvar n=payload.length;\n\tvar flag=false;\n\tfor(var j=0;j<n;++j)\n\t{\n\t\tif(payload[j].deptName==msg.payload[i].deptName)\n\t\t{\n\t\t\tvar count=parseInt(payload[j].count)+parseInt(msg.payload[i].count);\n\t\t\tpayload[j].count=count;\n\t\t\tflag=true;\n\t\t\tbreak;\n\t\t}\n\t}\n\tif(flag==false)\n\t{\n\t\tpayload.push(msg.payload[i]);\n\t}\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":608.0104370117188,"y":108,"z":"b9e88334.46178","wires":[["c23a0179.3dc6"]]},{"id":"c23a0179.3dc6","type":"function","name":"sort","func":"\nvar flag=true;\nvar n=msg.payload.length;\nvar payload=[];\nwhile(flag)\n{\n\tflag=false;\n\tfor(var i=0;i<n-1;++i)\n\t{\n\t\tif(parseInt(msg.payload[i].count)<parseInt(msg.payload[i+1].count))\n\t\t{\n\t\t\tvar temp=msg.payload[i];\n\t\t\tmsg.payload[i]=msg.payload[i+1];\n\t\t\tmsg.payload[i+1]=temp;\n\t\t\tflag=true;\n\t\t}\n\t}\n\tn--;\n}\nfor(var i=0;i<5;++i)\n{\n\tpayload.push(msg.payload[i]);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":748.0104370117188,"y":108.88888549804688,"z":"b9e88334.46178","wires":[["6584bf33.9a7b4"]]},{"id":"6584bf33.9a7b4","type":"function","name":"toRedis","func":"var area=[{\"name\":\"四川省凉山州冕宁县\",\"keyName\":\"mianningxian\"},{\"name\":\"金阳县\",\"keyName\":\"jinyangxian\"},{\"name\":\"普格县\",\"keyName\":\"pugexian\"},{\"name\":\"凉山州喜德县\",\"keyName\":\"xidexian\"},{\"name\":\"凉山州越西县\",\"keyName\":\"yuexixian\"},{\"name\":\"凉山州木里县\",\"keyName\":\"mulixian\"},{\"name\":\"凉山彝族自治州雷波县\",\"keyName\":\"leiboxian\"},{\"name\":\"凉山州昭觉县\",\"keyName\":\"zhaojuexian\"},{\"name\":\"凉山彝族自治州\",\"keyName\":\"liangshanzhou\"},{\"name\":\"会理县\",\"keyName\":\"huilixian\"},{\"name\":\"凉山州德昌县\",\"keyName\":\"dechangxian\"},{\"name\":\"宁南县\",\"keyName\":\"ningnanxian\"},{\"name\":\"美姑县\",\"keyName\":\"meiguxian\"},{\"name\":\"凉山会东县\",\"keyName\":\"huidongxian\"},{\"name\":\"四川省凉山州甘洛县\",\"keyName\":\"ganluoxian\"},{\"name\":\"凉山州西昌市\",\"keyName\":\"xichangshi\"}];\nfor(var i=0;i<area.length;++i)\n{\n\tif(msg.payload[0].areaName==area[i].name)\n\t{\n\t\tvar keyName=area[i].keyName;\n\t\tbreak;\n\t}\n}\nvar len=msg.payload.length;\nvar out=[];\nfor(var i=0;i<len;++i)\n{\n\tvar temp=msg.payload[i].deptName+':'+msg.payload[i].count;\n\tout.push(temp);\n}\nmsg.payload=['hset','xingzhengchufa',keyName,out];\n\nreturn msg;","outputs":1,"valid":true,"x":889.0104370117188,"y":113.88888549804688,"z":"b9e88334.46178","wires":[["ec271cbf.13d8e"]]},{"id":"ec271cbf.13d8e","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":1100.0104370117188,"y":103.99999809265137,"z":"b9e88334.46178","wires":[]},{"id":"3eafa632.c1505a","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"各个县行政处罚排名前五的部门","key":"xingzhengchufa","structtype":"hash","x":267.0104064941406,"y":500.33331298828125,"z":"b9e88334.46178","wires":[["a2a5ab9.f5d5a58","17662f71.e899d1","f310fcd3.0cef","3de3f7b1.c21c08","9f54bc8d.60ab4","c5c2f930.3a3d08","26ca0363.d935fc","3f04f225.c0fb0e","ed3e1b48.12c1e8","3a95a826.c56a58","8dea3622.7215c8","a7dc2342.5823e","8a7ac775.758538","8eec73b4.71139","3d2ee6e9.c2d11a","8bac3df6.7453c"]]},{"id":"a2a5ab9.f5d5a58","type":"function","name":"美姑县","func":"var temp=msg.payload.meiguxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":584.2287750244141,"y":221.58331298828125,"z":"b9e88334.46178","wires":[["eb4ba3a1.14b46"]]},{"id":"eb4ba3a1.14b46","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nlen=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnmeiguxianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":829.0899810791016,"y":220.44442749023438,"z":"b9e88334.46178","wires":[["9f05e036.60fa2"]]},{"id":"9f05e036.60fa2","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnmeiguxianchufa","x":1116.0899200439453,"y":217.44442749023438,"z":"b9e88334.46178","wires":[]},{"id":"e6d5fa5.f192a08","type":"inject","name":"every day","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":347.0104751586914,"y":1176.4444103240967,"z":"b9e88334.46178","wires":[["43a86f57.bc579"]]},{"id":"43a86f57.bc579","type":"function","name":"del redis","func":"msg.payload = ['del','xingzhengchufa'];\nreturn msg;","outputs":1,"valid":true,"x":638.1017456054688,"y":1171.9006652832031,"z":"b9e88334.46178","wires":[["628d0a3.f9d72f4"]]},{"id":"628d0a3.f9d72f4","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"clean redis","x":922.2882385253906,"y":1178.2499523162842,"z":"b9e88334.46178","wires":[]},{"id":"a7cd81a9.58328","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnhuidongxianchufa","x":1133.0104370117188,"y":283.4444580078125,"z":"b9e88334.46178","wires":[]},{"id":"29c7b402.d6384c","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnhuidongxianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":853.5105056762695,"y":286.4444580078125,"z":"b9e88334.46178","wires":[["a7cd81a9.58328"]]},{"id":"8bac3df6.7453c","type":"function","name":"会东县","func":"var temp=msg.payload.huidongxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":601.1492919921875,"y":287.5833435058594,"z":"b9e88334.46178","wires":[["29c7b402.d6384c"]]},{"id":"17662f71.e899d1","type":"function","name":"甘洛县","func":"\nvar temp=msg.payload.ganluoxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":573.0104370117188,"y":345.4444580078125,"z":"b9e88334.46178","wires":[["1841284d.e7bed8"]]},{"id":"1841284d.e7bed8","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnganluoxianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":817.8716430664062,"y":344.3055725097656,"z":"b9e88334.46178","wires":[["385ef258.c7a10e"]]},{"id":"385ef258.c7a10e","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnganluoxianchufa","x":1104.87158203125,"y":341.3055725097656,"z":"b9e88334.46178","wires":[]},{"id":"f310fcd3.0cef","type":"function","name":"西昌市","func":"var temp=msg.payload.xichangshi;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":561.0104370117188,"y":395.4444580078125,"z":"b9e88334.46178","wires":[["e061eb3f.1f9e18"]]},{"id":"e061eb3f.1f9e18","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnxichangshichufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":805.8716430664062,"y":394.3055725097656,"z":"b9e88334.46178","wires":[["328c7b75.cd7384"]]},{"id":"328c7b75.cd7384","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnxichangshichufa","x":1092.87158203125,"y":391.3055725097656,"z":"b9e88334.46178","wires":[]},{"id":"3de3f7b1.c21c08","type":"function","name":"宁南县","func":"var temp=msg.payload.ningnanxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":543.0104370117188,"y":452.5555419921875,"z":"b9e88334.46178","wires":[["b7726d3d.488d9"]]},{"id":"b7726d3d.488d9","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnningnanxianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":795.3716506958008,"y":451.4166564941406,"z":"b9e88334.46178","wires":[["1002a9be.effd56"]]},{"id":"1002a9be.effd56","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnningnanxianchufa","x":1074.87158203125,"y":448.4166564941406,"z":"b9e88334.46178","wires":[]},{"id":"9f54bc8d.60ab4","type":"function","name":"德昌县","func":"var temp=msg.payload.dechangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":512.0104370117188,"y":518.5555419921875,"z":"b9e88334.46178","wires":[["727f0595.8d80fc"]]},{"id":"727f0595.8d80fc","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columndechangxianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":764.3716506958008,"y":517.4166564941406,"z":"b9e88334.46178","wires":[["1867847a.e7987c"]]},{"id":"1867847a.e7987c","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columndechangxianchufa","x":1043.87158203125,"y":514.4166564941406,"z":"b9e88334.46178","wires":[]},{"id":"c5c2f930.3a3d08","type":"function","name":"会理县","func":"var temp=msg.payload.huilixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":495.01043701171875,"y":566.5555419921875,"z":"b9e88334.46178","wires":[["c127f6a.f3ed808"]]},{"id":"c127f6a.f3ed808","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnhuilixianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":747.3716506958008,"y":565.4166564941406,"z":"b9e88334.46178","wires":[["52246f0b.addb9"]]},{"id":"52246f0b.addb9","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnhuilixianchufa","x":1026.87158203125,"y":562.4166564941406,"z":"b9e88334.46178","wires":[]},{"id":"26ca0363.d935fc","type":"function","name":"凉山州","func":"\nvar temp=msg.payload.liangshanzhou;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":468.0104064941406,"y":627.5555419921875,"z":"b9e88334.46178","wires":[["fd65523f.029ab"]]},{"id":"fd65523f.029ab","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnganluoxianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":728.8716354370117,"y":629.4166564941406,"z":"b9e88334.46178","wires":[["8a112dc0.75eed"]]},{"id":"8a112dc0.75eed","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnliangshanzhouchufa","x":1015.8715744018555,"y":626.4166564941406,"z":"b9e88334.46178","wires":[]},{"id":"3f04f225.c0fb0e","type":"function","name":"昭觉县","func":"\nvar temp=msg.payload.zhaojuexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":465.0103759765625,"y":673.4445190429688,"z":"b9e88334.46178","wires":[["51b43afb.ae4bc4"]]},{"id":"51b43afb.ae4bc4","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnzhaojuexianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":735.8716430664062,"y":680.3056030273438,"z":"b9e88334.46178","wires":[["64aee98b.9b5118"]]},{"id":"64aee98b.9b5118","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnzhaojuexianchufa","x":1014.87158203125,"y":676.3056030273438,"z":"b9e88334.46178","wires":[]},{"id":"ed3e1b48.12c1e8","type":"function","name":"雷波县","func":"\nvar temp=msg.payload.leiboxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":464.0103759765625,"y":725.5555725097656,"z":"b9e88334.46178","wires":[["563446.ffa9cbb8"]]},{"id":"563446.ffa9cbb8","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnleiboxianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":724.8716049194336,"y":727.4166870117188,"z":"b9e88334.46178","wires":[["ea39e01a.15c62"]]},{"id":"ea39e01a.15c62","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnleiboxianchufa","x":1011.8715438842773,"y":724.4166870117188,"z":"b9e88334.46178","wires":[]},{"id":"3a95a826.c56a58","type":"function","name":"木里县","func":"\nvar temp=msg.payload.mulixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":439.0103759765625,"y":777.5555725097656,"z":"b9e88334.46178","wires":[["2a76d600.d5892a"]]},{"id":"2a76d600.d5892a","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnmulixianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":699.8716049194336,"y":779.4166870117188,"z":"b9e88334.46178","wires":[["92d224da.6d2dd8"]]},{"id":"92d224da.6d2dd8","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnmulixianchufa","x":986.8715438842773,"y":776.4166870117188,"z":"b9e88334.46178","wires":[]},{"id":"8dea3622.7215c8","type":"function","name":"越西县","func":"\nvar temp=msg.payload.yuexixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":428.0103759765625,"y":830.6667175292969,"z":"b9e88334.46178","wires":[["1ef068bc.e10f97"]]},{"id":"1ef068bc.e10f97","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnyuexixianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":688.8716049194336,"y":832.52783203125,"z":"b9e88334.46178","wires":[["122bd3a5.edd42c"]]},{"id":"122bd3a5.edd42c","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnyuexixianchufa","x":975.8715438842773,"y":829.52783203125,"z":"b9e88334.46178","wires":[]},{"id":"98fdd9c1.670228","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnxidexianchufa","x":974.0104064941406,"y":880.6667785644531,"z":"b9e88334.46178","wires":[]},{"id":"efb5578c.104aa8","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnxidexianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":687.0104675292969,"y":883.6667785644531,"z":"b9e88334.46178","wires":[["98fdd9c1.670228"]]},{"id":"a7dc2342.5823e","type":"function","name":"喜德县","func":"\nvar temp=msg.payload.xidexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":426.1492385864258,"y":881.8056640625,"z":"b9e88334.46178","wires":[["efb5578c.104aa8"]]},{"id":"8a7ac775.758538","type":"function","name":"普格县","func":"\nvar temp=msg.payload.pugexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":424.0103759765625,"y":935.8889465332031,"z":"b9e88334.46178","wires":[["a9ab2e0.f5654d"]]},{"id":"a9ab2e0.f5654d","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnxidexianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":684.8716049194336,"y":937.7500610351562,"z":"b9e88334.46178","wires":[["d045ce63.2fba3"]]},{"id":"d045ce63.2fba3","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnpugexianchufa","x":971.8715438842773,"y":934.7500610351562,"z":"b9e88334.46178","wires":[]},{"id":"5e90bb82.a16f44","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnjinyangxianchufa","x":960.0104064941406,"y":981.6667785644531,"z":"b9e88334.46178","wires":[]},{"id":"3b2c7cbe.c4d384","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnjinyangxianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":673.0104675292969,"y":984.6667785644531,"z":"b9e88334.46178","wires":[["5e90bb82.a16f44"]]},{"id":"8eec73b4.71139","type":"function","name":"金阳县","func":"\nvar temp=msg.payload.jinyangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":412.1492385864258,"y":982.8056640625,"z":"b9e88334.46178","wires":[["3b2c7cbe.c4d384"]]},{"id":"1affb32.fe5004d","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnmianningxianchufa","x":945.0104064941406,"y":1022.6667785644531,"z":"b9e88334.46178","wires":[]},{"id":"ba8468c6.457b98","type":"function","name":"","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=msg.payload.length;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnmianningxianchufa\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":658.0104675292969,"y":1025.6667785644531,"z":"b9e88334.46178","wires":[["1affb32.fe5004d"]]},{"id":"3d2ee6e9.c2d11a","type":"function","name":"冕宁县","func":"\nvar temp=msg.payload.mianningxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":397.1492385864258,"y":1023.8056640625,"z":"b9e88334.46178","wires":[["ba8468c6.457b98"]]},{"id":"111400ab.eeebff","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnbutuoxianchufa","x":1207.0103454589844,"y":115.88888549804688,"z":"b9e88334.46178","wires":[]},{"id":"df6df865.209208","type":"redisPub","name":"","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnyanyuanxianchufa","x":1275.0104370117188,"y":259.88888359069824,"z":"b9e88334.46178","wires":[]}]