项目文档/flow/行权/各县办结案件排名前五.txt
[{"id":"67fc065b.9803f8","type":"inject","name":"2s","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"x":106.70098876953125,"y":417.80554962158203,"z":"1619884d.e9e678","wires":[["1597b857.ea6848"]]},{"id":"6dbf91b2.92407","type":"redisSub","name":"readFromRedis","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"LSZ:T_OVERALL_MONTH_RPT_CH","x":188.0103759765625,"y":75.00000762939453,"z":"1619884d.e9e678","wires":[["68262ee5.97d9d"]]},{"id":"68262ee5.97d9d","type":"function","name":"受理案件数排名前五的部门","func":"\nvar toJSON=JSON.parse(msg.payload);\nvar areaName=toJSON[0].AREA_NAME;\nvar len=toJSON.length;\nvar payload=[];\nfor(var i=0;i<len;++i)\n{\n\tvar deptName=toJSON[i].DEPT_NAME;\n\tvar count=parseInt(toJSON[i].INST_END_CNT);\n\t//var time=toJSON[i].RPT_MONTH;\n\tvar temp=\"{\"+\"areaName\"+':'+\"'\"+areaName+\"'\"+\",\"+\"deptName\"+':'+\"'\"+deptName+\"'\"+\",\"+\"count\"+':'+\"'\"+count+\"'\"+\"}\";\n\tvar out=eval('(' + temp + ')');\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":406.0103759765625,"y":75.00000762939453,"z":"1619884d.e9e678","wires":[["42855e1d.bd7aa"]]},{"id":"42855e1d.bd7aa","type":"function","name":"count","func":"var len=msg.payload.length;\nvar payload=[];\npayload.push(msg.payload[0]);\nfor(var i=1;i<len;++i)\n{\n\tvar n=payload.length;\n\tvar flag=false;\n\tfor(var j=0;j<n;++j)\n\t{\n\t\tif(payload[j].deptName==msg.payload[i].deptName)\n\t\t{\n\t\t\tvar count=parseInt(payload[j].count)+parseInt(msg.payload[i].count);\n\t\t\tpayload[j].count=count;\n\t\t\tflag=true;\n\t\t\tbreak;\n\t\t}\n\t}\n\tif(flag==false)\n\t{\n\t\tpayload.push(msg.payload[i]);\n\t}\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":615.0104370117188,"y":80.00000762939453,"z":"1619884d.e9e678","wires":[["fcd0459.f032fb8"]]},{"id":"fcd0459.f032fb8","type":"function","name":"sort","func":"\nvar flag=true;\nvar n=msg.payload.length;\nvar payload=[];\nwhile(flag)\n{\n\tflag=false;\n\tfor(var i=0;i<n-1;++i)\n\t{\n\t\tif(parseInt(msg.payload[i].count)<parseInt(msg.payload[i+1].count))\n\t\t{\n\t\t\tvar temp=msg.payload[i];\n\t\t\tmsg.payload[i]=msg.payload[i+1];\n\t\t\tmsg.payload[i+1]=temp;\n\t\t\tflag=true;\n\t\t}\n\t}\n\tn--;\n}\n//for(var i=0;i<5;++i)\n//{\n//\tpayload.push(msg.payload[i]);\n//}\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"valid":true,"x":756.0104370117188,"y":77.8888931274414,"z":"1619884d.e9e678","wires":[["ea630d98.159cf"]]},{"id":"ea630d98.159cf","type":"function","name":"toRedis","func":"var area=[{\"name\":\"四川省凉山州冕宁县\",\"keyName\":\"mianningxian\"},{\"name\":\"金阳县\",\"keyName\":\"jinyangxian\"},{\"name\":\"普格县\",\"keyName\":\"pugexian\"},{\"name\":\"凉山州喜德县\",\"keyName\":\"xidexian\"},{\"name\":\"凉山州越西县\",\"keyName\":\"yuexixian\"},{\"name\":\"凉山州木里县\",\"keyName\":\"mulixian\"},{\"name\":\"凉山彝族自治州雷波县\",\"keyName\":\"leiboxian\"},{\"name\":\"凉山州昭觉县\",\"keyName\":\"zhaojuexian\"},{\"name\":\"凉山彝族自治州\",\"keyName\":\"liangshanzhou\"},{\"name\":\"会理县\",\"keyName\":\"huilixian\"},{\"name\":\"凉山州德昌县\",\"keyName\":\"dechangxian\"},{\"name\":\"宁南县\",\"keyName\":\"ningnanxian\"},{\"name\":\"美姑县\",\"keyName\":\"meiguxian\"},{\"name\":\"凉山会东县\",\"keyName\":\"huidongxian\"},{\"name\":\"四川省凉山州甘洛县\",\"keyName\":\"ganluoxian\"},{\"name\":\"凉山州西昌市\",\"keyName\":\"xichangshi\"}];\nfor(var i=0;i<area.length;++i)\n{\n\tif(msg.payload[0].areaName==area[i].name)\n\t{\n\t\tvar keyName=area[i].keyName;\n\t\tbreak;\n\t}\n}\nvar len=msg.payload.length;\nvar out=[];\nfor(var i=0;i<len;++i)\n{\n\tvar temp=msg.payload[i].deptName+':'+msg.payload[i].count;\n\tout.push(temp);\n}\nmsg.payload=['hset','banjie_1',keyName,out];\n\nreturn msg;","outputs":1,"valid":true,"x":897.0104370117188,"y":82.8888931274414,"z":"1619884d.e9e678","wires":[["cce215cc.331de8"]]},{"id":"cce215cc.331de8","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":1108.0104370117188,"y":73.0000057220459,"z":"1619884d.e9e678","wires":[]},{"id":"1597b857.ea6848","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"各个县办结案件前五的部门","key":"banjie_1","structtype":"hash","x":275.0104064941406,"y":469.3333206176758,"z":"1619884d.e9e678","wires":[["c94097fa.36bf68","7b01622c.84fe9c","93b0bd19.6c4f4","3a300269.c5cffe","85a68ff4.7a597","21de1930.de21e6","dae8e8e8.251718","d893e2da.276c2","ce7b0d75.3184f","8280a289.7d7f6","ca3c02d2.35c4","2266af40.dd995","b6d62e3b.4929d","73b6282b.8c49d8","bdca5cc9.4235a","b9487efe.46b78"]]},{"id":"c94097fa.36bf68","type":"function","name":"美姑县","func":"var temp=msg.payload.meiguxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":592.2287750244141,"y":190.58332061767578,"z":"1619884d.e9e678","wires":[["ff705d86.008fa"]]},{"id":"ff705d86.008fa","type":"function","name":"办结案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnmeiguxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":837.0899810791016,"y":189.4444351196289,"z":"1619884d.e9e678","wires":[["997d11b1.6682f"]]},{"id":"997d11b1.6682f","type":"redisPub","name":"美姑县各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnmeiguxianbanjie","x":1124.0899200439453,"y":186.4444351196289,"z":"1619884d.e9e678","wires":[]},{"id":"c082d54e.3f7d28","type":"inject","name":"every day","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":355.0104751586914,"y":1145.4444179534912,"z":"1619884d.e9e678","wires":[["60776093.9f88a"]]},{"id":"60776093.9f88a","type":"function","name":"del redis","func":"msg.payload = ['del','banjie_1'];\nreturn msg;","outputs":1,"valid":true,"x":646.1017456054688,"y":1140.9006729125977,"z":"1619884d.e9e678","wires":[["3218c49e.cde73c"]]},{"id":"3218c49e.cde73c","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"clean redis","x":930.2882385253906,"y":1147.2499599456787,"z":"1619884d.e9e678","wires":[]},{"id":"30dabb48.cf2544","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnhuidongxianbanjie","x":1141.0104370117188,"y":252.44446563720703,"z":"1619884d.e9e678","wires":[]},{"id":"a774bf71.588b4","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnhuidongxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":861.5105056762695,"y":255.44446563720703,"z":"1619884d.e9e678","wires":[["30dabb48.cf2544"]]},{"id":"b9487efe.46b78","type":"function","name":"会东县","func":"var temp=msg.payload.huidongxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":609.1492919921875,"y":256.5833511352539,"z":"1619884d.e9e678","wires":[["a774bf71.588b4"]]},{"id":"7b01622c.84fe9c","type":"function","name":"甘洛县","func":"\nvar temp=msg.payload.ganluoxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":581.0104370117188,"y":314.44446563720703,"z":"1619884d.e9e678","wires":[["53674baf.ac98b4"]]},{"id":"53674baf.ac98b4","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnganluoxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":825.8716430664062,"y":313.30558013916016,"z":"1619884d.e9e678","wires":[["2219b228.dde64e"]]},{"id":"2219b228.dde64e","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnganluoxianbanjie","x":1112.87158203125,"y":310.30558013916016,"z":"1619884d.e9e678","wires":[]},{"id":"93b0bd19.6c4f4","type":"function","name":"西昌市","func":"var temp=msg.payload.xichangshi;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":569.0104370117188,"y":364.44446563720703,"z":"1619884d.e9e678","wires":[["9f0103c0.60ff"]]},{"id":"9f0103c0.60ff","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnxichanshibanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":813.8716430664062,"y":363.30558013916016,"z":"1619884d.e9e678","wires":[["c10ff46c.3ef008"]]},{"id":"c10ff46c.3ef008","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnxichanshibanjie","x":1100.87158203125,"y":360.30558013916016,"z":"1619884d.e9e678","wires":[]},{"id":"3a300269.c5cffe","type":"function","name":"宁南县","func":"var temp=msg.payload.ningnanxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":551.0104370117188,"y":421.55554962158203,"z":"1619884d.e9e678","wires":[["55bd96f2.aa4268"]]},{"id":"55bd96f2.aa4268","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnningnanxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":803.3716506958008,"y":420.41666412353516,"z":"1619884d.e9e678","wires":[["95380a9e.6ac7f8"]]},{"id":"95380a9e.6ac7f8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnningnanxianbanjie","x":1082.87158203125,"y":417.41666412353516,"z":"1619884d.e9e678","wires":[]},{"id":"85a68ff4.7a597","type":"function","name":"德昌县","func":"var temp=msg.payload.dechangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":520.0104370117188,"y":487.55554962158203,"z":"1619884d.e9e678","wires":[["fa615111.059eb"]]},{"id":"fa615111.059eb","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columndechangxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":772.3716506958008,"y":486.41666412353516,"z":"1619884d.e9e678","wires":[["4072212d.bf8de"]]},{"id":"4072212d.bf8de","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columndechangxianbanjie","x":1051.87158203125,"y":483.41666412353516,"z":"1619884d.e9e678","wires":[]},{"id":"21de1930.de21e6","type":"function","name":"会理县","func":"var temp=msg.payload.huilixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":503.01043701171875,"y":535.555549621582,"z":"1619884d.e9e678","wires":[["531f6767.ace098"]]},{"id":"531f6767.ace098","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnhuilixianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":755.3716506958008,"y":534.4166641235352,"z":"1619884d.e9e678","wires":[["3aa36774.c55c98"]]},{"id":"3aa36774.c55c98","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnhuilixianbanjie","x":1034.87158203125,"y":531.4166641235352,"z":"1619884d.e9e678","wires":[]},{"id":"dae8e8e8.251718","type":"function","name":"凉山州","func":"\nvar temp=msg.payload.liangshanzhou;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":476.0104064941406,"y":596.555549621582,"z":"1619884d.e9e678","wires":[["8fd14183.702ec"]]},{"id":"8fd14183.702ec","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnganluoxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":736.8716354370117,"y":598.4166641235352,"z":"1619884d.e9e678","wires":[["2e07121d.d1f8ee"]]},{"id":"2e07121d.d1f8ee","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnliangshanzhoubanjie","x":1023.8715744018555,"y":595.4166641235352,"z":"1619884d.e9e678","wires":[]},{"id":"d893e2da.276c2","type":"function","name":"昭觉县","func":"\nvar temp=msg.payload.zhaojuexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":473.0103759765625,"y":642.4445266723633,"z":"1619884d.e9e678","wires":[["4dd3b5a1.b22c4c"]]},{"id":"4dd3b5a1.b22c4c","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnzhaojuexianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":743.8716430664062,"y":649.3056106567383,"z":"1619884d.e9e678","wires":[["5e3f8f00.a1c07"]]},{"id":"5e3f8f00.a1c07","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnzhaojuexianbanjie","x":1022.87158203125,"y":645.3056106567383,"z":"1619884d.e9e678","wires":[]},{"id":"ce7b0d75.3184f","type":"function","name":"雷波县","func":"\nvar temp=msg.payload.leiboxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":472.0103759765625,"y":694.5555801391602,"z":"1619884d.e9e678","wires":[["74c7a5a8.8b385c"]]},{"id":"74c7a5a8.8b385c","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnleiboxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":732.8716049194336,"y":696.4166946411133,"z":"1619884d.e9e678","wires":[["d050797f.2faf88"]]},{"id":"d050797f.2faf88","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnleiboxianbanjie","x":1019.8715438842773,"y":693.4166946411133,"z":"1619884d.e9e678","wires":[]},{"id":"8280a289.7d7f6","type":"function","name":"木里县","func":"\nvar temp=msg.payload.mulixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":447.0103759765625,"y":746.5555801391602,"z":"1619884d.e9e678","wires":[["4c4ffeba.b3b"]]},{"id":"4c4ffeba.b3b","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnmulixianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":707.8716049194336,"y":748.4166946411133,"z":"1619884d.e9e678","wires":[["87d975f9.782688"]]},{"id":"87d975f9.782688","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnmulixianbanjie","x":994.8715438842773,"y":745.4166946411133,"z":"1619884d.e9e678","wires":[]},{"id":"ca3c02d2.35c4","type":"function","name":"越西县","func":"\nvar temp=msg.payload.yuexixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":436.0103759765625,"y":799.6667251586914,"z":"1619884d.e9e678","wires":[["73278aaf.8cd874"]]},{"id":"73278aaf.8cd874","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnyuexixianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":696.8716049194336,"y":801.5278396606445,"z":"1619884d.e9e678","wires":[["5c65535e.a39aac"]]},{"id":"5c65535e.a39aac","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnyuexixianbanjie","x":983.8715438842773,"y":798.5278396606445,"z":"1619884d.e9e678","wires":[]},{"id":"71145fc9.8eeba","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columndexixianbanjie","x":982.0104064941406,"y":849.6667861938477,"z":"1619884d.e9e678","wires":[]},{"id":"28038878.d7fc78","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnxidexianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":695.0104675292969,"y":852.6667861938477,"z":"1619884d.e9e678","wires":[["71145fc9.8eeba"]]},{"id":"2266af40.dd995","type":"function","name":"喜德县","func":"\nvar temp=msg.payload.xidexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":434.1492385864258,"y":850.8056716918945,"z":"1619884d.e9e678","wires":[["28038878.d7fc78"]]},{"id":"b6d62e3b.4929d","type":"function","name":"普格县","func":"\nvar temp=msg.payload.pugexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":432.0103759765625,"y":904.8889541625977,"z":"1619884d.e9e678","wires":[["1d6a890f.e29577"]]},{"id":"1d6a890f.e29577","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnxidexianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":692.8716049194336,"y":906.7500686645508,"z":"1619884d.e9e678","wires":[["d1d9c13b.2e264"]]},{"id":"d1d9c13b.2e264","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnpugexianbanjie","x":979.8715438842773,"y":903.7500686645508,"z":"1619884d.e9e678","wires":[]},{"id":"8955be83.76aa4","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnjinyangxianbanjie","x":968.0104064941406,"y":950.6667861938477,"z":"1619884d.e9e678","wires":[]},{"id":"7a4140bb.85bec","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnjinyangxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":681.0104675292969,"y":953.6667861938477,"z":"1619884d.e9e678","wires":[["8955be83.76aa4"]]},{"id":"73b6282b.8c49d8","type":"function","name":"金阳县","func":"\nvar temp=msg.payload.jinyangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":420.1492385864258,"y":951.8056716918945,"z":"1619884d.e9e678","wires":[["7a4140bb.85bec"]]},{"id":"9dd6ce27.62293","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnmianningxianbanjie","x":953.0104064941406,"y":991.6667861938477,"z":"1619884d.e9e678","wires":[]},{"id":"75c994a7.8a366c","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnmianningxianbanjie\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":666.0104675292969,"y":994.6667861938477,"z":"1619884d.e9e678","wires":[["9dd6ce27.62293"]]},{"id":"bdca5cc9.4235a","type":"function","name":"冕宁县","func":"\nvar temp=msg.payload.mianningxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":405.1492385864258,"y":992.8056716918945,"z":"1619884d.e9e678","wires":[["75c994a7.8a366c"]]},{"id":"e933724c.16cc9","type":"redisPub","name":"美姑县各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnbutuoxianbanjie","x":1347.0104064941406,"y":242.00001525878906,"z":"1619884d.e9e678","wires":[]},{"id":"5a20d583.a5df2c","type":"redisPub","name":"美姑县各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnyanyuanxianbanjie","x":1325.0104064941406,"y":104.00000762939453,"z":"1619884d.e9e678","wires":[]}]