项目文档/flow/行权/各县受理案件排名前五.txt
[{"id":"feaf4cf2.0150b","type":"inject","name":"2s","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"x":126.70098876953125,"y":451.8055419921875,"z":"560aa679.a9f558","wires":[["f29f6cd0.0d609"]]},{"id":"c411c609.3bee38","type":"redisSub","name":"readFromRedis","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"LSZ:T_OVERALL_MONTH_RPT_CH","x":208.0103759765625,"y":109,"z":"560aa679.a9f558","wires":[["fcf9a799.030658"]]},{"id":"fcf9a799.030658","type":"function","name":"受理案件数排名前五的部门","func":"\nvar toJSON=JSON.parse(msg.payload);\nvar areaName=toJSON[0].AREA_NAME;\nvar len=toJSON.length;\nvar payload=[];\nfor(var i=0;i<len;++i)\n{\n\tvar deptName=toJSON[i].DEPT_NAME;\n\tvar count=parseInt(toJSON[i].INST_CNT);\n\t//var time=toJSON[i].RPT_MONTH;\n\tvar temp=\"{\"+\"areaName\"+':'+\"'\"+areaName+\"'\"+\",\"+\"deptName\"+':'+\"'\"+deptName+\"'\"+\",\"+\"count\"+':'+\"'\"+count+\"'\"+\"}\";\n\tvar out=eval('(' + temp + ')');\n\tpayload.push(out);\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":426.0103759765625,"y":109,"z":"560aa679.a9f558","wires":[["feee3d77.0111c"]]},{"id":"feee3d77.0111c","type":"function","name":"count","func":"var len=msg.payload.length;\nvar payload=[];\npayload.push(msg.payload[0]);\nfor(var i=1;i<len;++i)\n{\n\tvar n=payload.length;\n\tvar flag=false;\n\tfor(var j=0;j<n;++j)\n\t{\n\t\tif(payload[j].deptName==msg.payload[i].deptName)\n\t\t{\n\t\t\tvar count=parseInt(payload[j].count)+parseInt(msg.payload[i].count);\n\t\t\tpayload[j].count=count;\n\t\t\tflag=true;\n\t\t\tbreak;\n\t\t}\n\t}\n\tif(flag==false)\n\t{\n\t\tpayload.push(msg.payload[i]);\n\t}\n}\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":636.0104370117188,"y":111,"z":"560aa679.a9f558","wires":[["e3dc845a.1c2378"]]},{"id":"e3dc845a.1c2378","type":"function","name":"sort","func":"\nvar flag=true;\nvar n=msg.payload.length;\nvar payload=[];\nwhile(flag)\n{\n\tflag=false;\n\tfor(var i=0;i<n-1;++i)\n\t{\n\t\tif(parseInt(msg.payload[i].count)<parseInt(msg.payload[i+1].count))\n\t\t{\n\t\t\tvar temp=msg.payload[i];\n\t\t\tmsg.payload[i]=msg.payload[i+1];\n\t\t\tmsg.payload[i+1]=temp;\n\t\t\tflag=true;\n\t\t}\n\t}\n\tn--;\n}\n//for(var i=0;i<5;++i)\n//{\n//\tpayload.push(msg.payload[i]);\n//}\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"valid":true,"x":776.0104370117188,"y":111.88888549804688,"z":"560aa679.a9f558","wires":[["56aa0b96.a955f4"]]},{"id":"56aa0b96.a955f4","type":"function","name":"toRedis","func":"var area=[{\"name\":\"四川省凉山州冕宁县\",\"keyName\":\"mianningxian\"},{\"name\":\"金阳县\",\"keyName\":\"jinyangxian\"},{\"name\":\"普格县\",\"keyName\":\"pugexian\"},{\"name\":\"凉山州喜德县\",\"keyName\":\"xidexian\"},{\"name\":\"凉山州越西县\",\"keyName\":\"yuexixian\"},{\"name\":\"凉山州木里县\",\"keyName\":\"mulixian\"},{\"name\":\"凉山彝族自治州雷波县\",\"keyName\":\"leiboxian\"},{\"name\":\"凉山州昭觉县\",\"keyName\":\"zhaojuexian\"},{\"name\":\"凉山彝族自治州\",\"keyName\":\"liangshanzhou\"},{\"name\":\"会理县\",\"keyName\":\"huilixian\"},{\"name\":\"凉山州德昌县\",\"keyName\":\"dechangxian\"},{\"name\":\"宁南县\",\"keyName\":\"ningnanxian\"},{\"name\":\"美姑县\",\"keyName\":\"meiguxian\"},{\"name\":\"凉山会东县\",\"keyName\":\"huidongxian\"},{\"name\":\"四川省凉山州甘洛县\",\"keyName\":\"ganluoxian\"},{\"name\":\"凉山州西昌市\",\"keyName\":\"xichangshi\"}];\nfor(var i=0;i<area.length;++i)\n{\n\tif(msg.payload[0].areaName==area[i].name)\n\t{\n\t\tvar keyName=area[i].keyName;\n\t\tbreak;\n\t}\n}\nvar len=msg.payload.length;\nvar out=[];\nfor(var i=0;i<len;++i)\n{\n\tvar temp=msg.payload[i].deptName+':'+msg.payload[i].count;\n\tout.push(temp);\n}\nmsg.payload=['hset','shouli_1',keyName,out];\n\nreturn msg;","outputs":1,"valid":true,"x":917.0104370117188,"y":116.88888549804688,"z":"560aa679.a9f558","wires":[["f7bc6b2f.084398"]]},{"id":"f7bc6b2f.084398","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"","x":1128.0104370117188,"y":106.99999809265137,"z":"560aa679.a9f558","wires":[]},{"id":"f29f6cd0.0d609","type":"redis in","hostname":"127.0.0.1","port":6379,"name":"各个县受理案件前五的部门","key":"shouli_1","structtype":"hash","x":295.0104064941406,"y":503.33331298828125,"z":"560aa679.a9f558","wires":[["fe79ddc6.01862","aca9b67e.535648","399ee851.c66118","9dd773a4.62289","4a5611ad.b5a9f","6c046c2.f93fb94","c823dcee.37dc2","adb33356.524cd","10ed83ea.ef127c","e5f8cd5e.1a073","753e2a96.8ac1d4","26e299cc.d91d66","a0ef525e.5f10b","45e03673.ba1fc8","44a76c55.bb5894","7a5fb9ef.85a048"]]},{"id":"fe79ddc6.01862","type":"function","name":"美姑县","func":"var temp=msg.payload.meiguxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":612.2287750244141,"y":224.58331298828125,"z":"560aa679.a9f558","wires":[["b0bd9397.4f427"]]},{"id":"b0bd9397.4f427","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnmeiguxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":857.0899810791016,"y":223.44442749023438,"z":"560aa679.a9f558","wires":[["e538f609.1ac708"]]},{"id":"e538f609.1ac708","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnmeiguxianshouli","x":1120.0899963378906,"y":201.44442749023438,"z":"560aa679.a9f558","wires":[]},{"id":"88413a0c.77bec8","type":"inject","name":"every day","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":375.0104751586914,"y":1179.4444103240967,"z":"560aa679.a9f558","wires":[["97ffba54.680048"]]},{"id":"97ffba54.680048","type":"function","name":"del redis","func":"msg.payload = ['del','shouli_1'];\nreturn msg;","outputs":1,"valid":true,"x":666.1017456054688,"y":1174.9006652832031,"z":"560aa679.a9f558","wires":[["2f0ecd32.d0f132"]]},{"id":"2f0ecd32.d0f132","type":"redis-voyager","hostname":"127.0.0.1","port":6379,"name":"clean redis","x":950.2882385253906,"y":1181.2499523162842,"z":"560aa679.a9f558","wires":[]},{"id":"35d5b29d.ca2a4e","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnhuidongxianshouli","x":1161.0104370117188,"y":286.4444580078125,"z":"560aa679.a9f558","wires":[]},{"id":"6c780625.9387f8","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnhuidongxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":881.5105056762695,"y":289.4444580078125,"z":"560aa679.a9f558","wires":[["35d5b29d.ca2a4e"]]},{"id":"7a5fb9ef.85a048","type":"function","name":"会东县","func":"var temp=msg.payload.huidongxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":629.1492919921875,"y":290.5833435058594,"z":"560aa679.a9f558","wires":[["6c780625.9387f8"]]},{"id":"aca9b67e.535648","type":"function","name":"甘洛县","func":"\nvar temp=msg.payload.ganluoxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":601.0104370117188,"y":348.4444580078125,"z":"560aa679.a9f558","wires":[["88482290.77b7e"]]},{"id":"88482290.77b7e","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnganluoxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":845.8716430664062,"y":347.3055725097656,"z":"560aa679.a9f558","wires":[["6e709402.918f6c"]]},{"id":"6e709402.918f6c","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnganluoxianshouli","x":1132.87158203125,"y":344.3055725097656,"z":"560aa679.a9f558","wires":[]},{"id":"399ee851.c66118","type":"function","name":"西昌市","func":"var temp=msg.payload.xichangshi;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":589.0104370117188,"y":398.4444580078125,"z":"560aa679.a9f558","wires":[["14462cb6.ebb9d3"]]},{"id":"14462cb6.ebb9d3","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnxichanshishouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":833.8716430664062,"y":397.3055725097656,"z":"560aa679.a9f558","wires":[["e9ee39b3.1611c8"]]},{"id":"e9ee39b3.1611c8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnxichanshishouli","x":1120.87158203125,"y":394.3055725097656,"z":"560aa679.a9f558","wires":[]},{"id":"9dd773a4.62289","type":"function","name":"宁南县","func":"var temp=msg.payload.ningnanxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":571.0104370117188,"y":455.5555419921875,"z":"560aa679.a9f558","wires":[["dcbdced0.23423"]]},{"id":"dcbdced0.23423","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnningnanxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":823.3716506958008,"y":454.4166564941406,"z":"560aa679.a9f558","wires":[["b2a2148b.4d5de8"]]},{"id":"b2a2148b.4d5de8","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnningnanxianshouli","x":1102.87158203125,"y":451.4166564941406,"z":"560aa679.a9f558","wires":[]},{"id":"4a5611ad.b5a9f","type":"function","name":"德昌县","func":"var temp=msg.payload.dechangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":540.0104370117188,"y":521.5555419921875,"z":"560aa679.a9f558","wires":[["a6199b8c.59e668"]]},{"id":"a6199b8c.59e668","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columndechangxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":792.3716506958008,"y":520.4166564941406,"z":"560aa679.a9f558","wires":[["49319664.b6ce68"]]},{"id":"49319664.b6ce68","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columndechangxianshouli","x":1071.87158203125,"y":517.4166564941406,"z":"560aa679.a9f558","wires":[]},{"id":"6c046c2.f93fb94","type":"function","name":"会理县","func":"var temp=msg.payload.huilixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":523.0104370117188,"y":569.5555419921875,"z":"560aa679.a9f558","wires":[["7aa37a68.855c84"]]},{"id":"7aa37a68.855c84","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnhuilixianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":775.3716506958008,"y":568.4166564941406,"z":"560aa679.a9f558","wires":[["45e5dc92.ba1a24"]]},{"id":"45e5dc92.ba1a24","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnhuilixianshouli","x":1054.87158203125,"y":565.4166564941406,"z":"560aa679.a9f558","wires":[]},{"id":"c823dcee.37dc2","type":"function","name":"凉山州","func":"\nvar temp=msg.payload.liangshanzhou;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":496.0104064941406,"y":630.5555419921875,"z":"560aa679.a9f558","wires":[["a444fa0a.5bbb08"]]},{"id":"a444fa0a.5bbb08","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnganluoxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":756.8716354370117,"y":632.4166564941406,"z":"560aa679.a9f558","wires":[["6447aaba.9bb854"]]},{"id":"6447aaba.9bb854","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnliangshanzhoushouli","x":1043.8715744018555,"y":629.4166564941406,"z":"560aa679.a9f558","wires":[]},{"id":"adb33356.524cd","type":"function","name":"昭觉县","func":"\nvar temp=msg.payload.zhaojuexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":493.0103759765625,"y":676.4445190429688,"z":"560aa679.a9f558","wires":[["b080ce95.4f7f3"]]},{"id":"b080ce95.4f7f3","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnzhaojuexianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":763.8716430664062,"y":683.3056030273438,"z":"560aa679.a9f558","wires":[["6c9a812.f93658"]]},{"id":"6c9a812.f93658","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnzhaojuexianshouli","x":1042.87158203125,"y":679.3056030273438,"z":"560aa679.a9f558","wires":[]},{"id":"10ed83ea.ef127c","type":"function","name":"雷波县","func":"\nvar temp=msg.payload.leiboxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":492.0103759765625,"y":728.5555725097656,"z":"560aa679.a9f558","wires":[["15b419c9.ea4be6"]]},{"id":"15b419c9.ea4be6","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnleiboxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":752.8716049194336,"y":730.4166870117188,"z":"560aa679.a9f558","wires":[["9000eddb.6fff1"]]},{"id":"9000eddb.6fff1","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnleiboxianshouli","x":1039.8715438842773,"y":727.4166870117188,"z":"560aa679.a9f558","wires":[]},{"id":"e5f8cd5e.1a073","type":"function","name":"木里县","func":"\nvar temp=msg.payload.mulixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":467.0103759765625,"y":780.5555725097656,"z":"560aa679.a9f558","wires":[["c82da1ba.37d26"]]},{"id":"c82da1ba.37d26","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnmulixianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":727.8716049194336,"y":782.4166870117188,"z":"560aa679.a9f558","wires":[["909a6923.6f6598"]]},{"id":"909a6923.6f6598","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnmulixianshouli","x":1014.8715438842773,"y":779.4166870117188,"z":"560aa679.a9f558","wires":[]},{"id":"753e2a96.8ac1d4","type":"function","name":"越西县","func":"\nvar temp=msg.payload.yuexixian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":456.0103759765625,"y":833.6667175292969,"z":"560aa679.a9f558","wires":[["7c6c12d5.8393ec"]]},{"id":"7c6c12d5.8393ec","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnyuexixianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":716.8716049194336,"y":835.52783203125,"z":"560aa679.a9f558","wires":[["1ea9a163.e1565f"]]},{"id":"1ea9a163.e1565f","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnyuexixianshouli","x":1003.8715438842773,"y":832.52783203125,"z":"560aa679.a9f558","wires":[]},{"id":"84d9ec3a.7b261","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columndexixianshouli","x":1002.0104064941406,"y":883.6667785644531,"z":"560aa679.a9f558","wires":[]},{"id":"73added3.8c522","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnxidexianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":715.0104675292969,"y":886.6667785644531,"z":"560aa679.a9f558","wires":[["84d9ec3a.7b261"]]},{"id":"26e299cc.d91d66","type":"function","name":"喜德县","func":"\nvar temp=msg.payload.xidexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":454.1492385864258,"y":884.8056640625,"z":"560aa679.a9f558","wires":[["73added3.8c522"]]},{"id":"a0ef525e.5f10b","type":"function","name":"普格县","func":"\nvar temp=msg.payload.pugexian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":452.0103759765625,"y":938.8889465332031,"z":"560aa679.a9f558","wires":[["8b64ff50.749b"]]},{"id":"8b64ff50.749b","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnxidexianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":712.8716049194336,"y":940.7500610351562,"z":"560aa679.a9f558","wires":[["693ee646.96c118"]]},{"id":"693ee646.96c118","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnpugexianshouli","x":999.8715438842773,"y":937.7500610351562,"z":"560aa679.a9f558","wires":[]},{"id":"52fd62bb.ad029c","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnjinyangxianshouli","x":988.0104064941406,"y":984.6667785644531,"z":"560aa679.a9f558","wires":[]},{"id":"f3aa3099.0c55d","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnjinyangxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":701.0104675292969,"y":987.6667785644531,"z":"560aa679.a9f558","wires":[["52fd62bb.ad029c"]]},{"id":"45e03673.ba1fc8","type":"function","name":"金阳县","func":"\nvar temp=msg.payload.jinyangxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":440.1492385864258,"y":985.8056640625,"z":"560aa679.a9f558","wires":[["f3aa3099.0c55d"]]},{"id":"89492095.76b6e","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnmianningxianshouli","x":973.0104064941406,"y":1025.6667785644531,"z":"560aa679.a9f558","wires":[]},{"id":"6974bd4.f968b44","type":"function","name":"受理案件总数","func":"var deptName=[];\nvar eventCount=[];\nvar payload=[];\nvar len=5;\n    for(var i=0;i<len;i++)\n\t{\n\t\tdeptName.push(msg.payload[i].split(':')[0]);\n\t\teventCount.push(parseInt(msg.payload[i].split(':')[1]));\n\t}\n\tfor(var i=0;i<deptName.length;++i)\n\t{\n\t\tvar out=[deptName[i],eventCount[i]];\n\t\tpayload.push(out);\n\t}\n\tpayload={\"value\":payload};\n\tmsg.payload={\n        \"MsgID\":\"wangjiangbopush_columnmianningxianshouli\",\n        \"username\":\"wangjiangbo\",\n        \"payload\":payload\n    };\n\tmsg.payload = JSON.stringify(msg.payload);\n\treturn msg;\n\n","outputs":"1","valid":true,"x":686.0104675292969,"y":1028.6667785644531,"z":"560aa679.a9f558","wires":[["89492095.76b6e"]]},{"id":"44a76c55.bb5894","type":"function","name":"冕宁县","func":"\nvar temp=msg.payload.mianningxian;\nvar payload=temp.split(',');\nmsg.payload=payload;\nreturn msg;","outputs":1,"valid":true,"x":425.1492385864258,"y":1026.8056640625,"z":"560aa679.a9f558","wires":[["6974bd4.f968b44"]]},{"id":"2b9269a3.d46d96","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnyanyuanxianshouli","x":1279.0103454589844,"y":58.888885498046875,"z":"560aa679.a9f558","wires":[]},{"id":"b79f40f7.4860c","type":"redisPub","name":"各部门案件受理量统计","host":"127.0.0.1","port":6379,"user":"","passwd":"","channel":"wangjiangbopush_columnbutuoxianshouli","x":1340.0103454589844,"y":158.8888931274414,"z":"560aa679.a9f558","wires":[]}]